.goddess_room
  .goddess_house
    width:auto
    right: -11px
    bottom: 3px
  .goddess_roomtitle
    height:32px
    background:url($bgUrl + "player3/boxbg.png") no-repeat scroll -742px -128px
    padding-left:35px
    line-height:32px
  .mr_05
    margin-right:-5px
  .goddess_notice
    position:absolute
    left:27px
    top:5px
  .goddess_room_con
    width:256px
    height:328px
    padding:28px 0 0 11px
.goddess_notice_list
  width:296px
  height:215px
  padding:5px 0 0 5px
  color:#fff
  li
    width:276px
    float:left
    margin:2px 0
.goddess_single em
  width:30px
.notice_conshow
  width:240px
.notice_word span
  color:#ffa0c4
  margin:0 2px
.goddess_notice_con
  width:296px
  height:215px
  padding:30px 15px 15px
  background:url($bgUrl + "player3/square_boxbg.png") no-repeat scroll -336px -567px
.goddess_notice_scroll
  height:215px
  overflow-y:scroll
  overflow-x:hidden