form.login-form
  input(name="room",type="text",class="room",placeholder="请输入房间号")
  input(name="username",type="text",class="username",placeholder="请输入用户名")
  input(name="password",type="password",class="password",placeholder="请输入密码")
  input(type="submit", class="submit", value="登录")