.managerChat
  .item
    display inline-block
    float left
    background #eee
    width 340px
    margin 2px
  .login-btn
    height 100%
  .login-form 
    input
      display: block;
      height: 20px;
      margin: 5px;
      padding: 4px;
      cursor: auto;
      color: #595959;
        