doctype html
html
  head
    link(href='http://www.wanleyun.com/images/favicon.png', rel='shortcut icon')
    block title
    block meta
    block stylesheet
    link(href='http://static.mm.' + __env.WLY_DOMAIN + '/dist/css/i/setbasic.b168c05bc270b036.css', rel='stylesheet', type='text/css')
    include ../../../modules/mm_headjs/index
    block headjs
    script!= 'var __global = ' + JSON.stringify(__global)
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js', type='text/javascript', charset='utf-8')
  body
    script.
      (function(){
        var winWidth = $(window).width();
        if(winWidth <= 1024){
          $('body').addClass('w980');
        }
      })();
    #wb_attbtn.weibo_Con.hide
      wb:follow-button(uid=(girl ? (girl.weibouid) : '5408060777'), type='red_1', width='67', height='24')
    block body
    div.footer_nav.cl
      div.cp_list.cl
        a(href="http://www.wanleyun.com/company_profile.html",target="_blank") 公司简介
        |  |
        a(href="http://www.wanleyun.com/company_contact.html",target="_blank") 联系方式
        |  |
        a(href="http://www.wanleyun.com/recruitment.html",target="_blank") 招聘人才
      p.cl.tc.mt_10 Copyright@2015
        a(href="http://www.wanleyun.com",target="_blank")  玩乐云 
        | All Rights Reserved京ICP备13024544号-2 
    .exchange(data-module='i_base')
    .exchange(data-module='exchange')
    block footjs
      script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/i/setbasic.min.06b90ca244e6ace8.js')
    include ../../../modules/mm_footjs/index