script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.70be45f28446dffa.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.99b7d47ad6f0be04.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}