script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.f6881dc3cd3e9330.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.0e9561cecd539435.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}
