script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.d3c3922fc148f478.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.ea5889edc4bd2d61.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}
