script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.2f6295c662af2550.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.8a72f8adef9764e2.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}
