script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.b669bc464f5be03a.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.1bbee05d79c6ac4e.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}