<<<<<<< HEAD
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.418cbb2fc778b326.js')
=======
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/template/tpl-ver.b0ce23fb840b85c1.js')
>>>>>>> e93d0171c99aca632d6d8eb51bb91e76e863ffdf
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/common.min.8a72f8adef9764e2.js')
script(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/js/jquery.placeholder.js')
script
  != 'var domain = "' + __env.WLY_DOMAIN + '";'
  | try {
  | document.domain = domain;
  | } catch (e) {}
