.announ_informbox
	.announ_title
		position:absolute
		left:50%
		margin-left:-110px
		z-index:1030
		top:-42px
		width:219px
		text-align:center
		height:47px
		line-height:38px
		background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 0
		span
			height:22px
			background:url($bgUrl +'prop_icon/buygold_titbg.png') no-repeat 0 -188px
			display:block
			width:89px
			margin:5px auto 0
	.annountice_con
		font-size:12px;
		width:520px;
		height:310px;
		border:1px solid #0c1218
		background-color:#0c1924
		padding:10px
		h3,h4,p
			width:508px;
		ol.welfare_list
			li
				list-style:default;
				font-size:12px;
		.scrollbars 
			width:508px;
			.viewport
				height:280px;
				.overview
					height:280px;
		.noticeC_btn
			position:absolute;
			bottom:10px;
			left:50%;
			margin-left:-71px;
		.nonoticeC
			text-align:center;
			font-size:18px;
			color:#fff;
			margin-top:135px;
.noticeShow-dialog-on
	width:540px;
	height:350px;
.f12
	font-size:12px;