.announ_informbox
	.announ_title
		span
	.annountice_con.cl.pr
		if(result.length > 0)
			#itemListBar.scrollbars
				.scrollbar
					.scroll_up
					.track
						.thumb
							.thumb_end
					.scroll_down
				.viewport
					.overview.announiticeC
						for value,item in result
							h3.active_notice.yellow_1.f14= value.title
							p#noticec.mb_20.mt_10.yellow_2!= value.content
		else
			.nonoticeC= "亲，暂时还没有公告哇～"
		#notice_btn.noticeC_btn.w150.btn_2b="朕知道了"