.w980
  .header-wrap
    min-width 980px

.w980
  .indexMain
    &.w1190
      width 980px
  .main
    margin 10px auto
    width 980px
    background-color #f00
    width 980px
  .container
    margin auto
    width 980px
  .goddess_video
    width 480px
    overflow hidden
  .midsec
    margin 0 10px
  .angel-list
    width 232px
    left -2px
    .angel
      padding 10px 4px 0 4px
      height 21px
  .mytask
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat 0 -680px
    height 99px
    padding 25px 10px 10px 11px
    width 219px
    margin-top 11px
    .task_list
      width 204px
      padding 5px 5px 5px 0
      .task-item
        width 205px
        .task-reward
          .fl
            width 110px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            -o-text-overflow ellipsis
          .fr
            margin-right 17px
    .task_scroll
      .scrollbar
        right 1px
      &.scrollbars
        padding-left 5px
  .active_box_980
    width 60px
    height 100%
    background url($bgUrl + "player3/active_bg.png") repeat-y 0 0
    margin-top -12px
    background url($bgUrl + "player3/active_bg_980.png") repeat-x
    height 60px
    margin 5px auto 0
    width 980px
    line-height 60px
    overflow hidden
    &.active_box_up
      display block
      margin 10px auto
    li
      width 60px
      text-align center
      margin 0 auto
      cursor pointer
      float left
      height 50px
      margin 5px 10px 0
      line-height 50px
      position relative
      div
        background url($bgUrl + 'player3/active_icon.png') no-repeat center center
        margin 13px auto 0
        position absolute
        bottom 0
        left 50%
        margin-left -24px
        &.ladynotice_1
          width 44px
          height 46px
          background-position 0 -611px
        &.ladygamereshow
          width:48px
          height:46px
          background-position:0 -559px
        &.active_2
          width 33px
          height 43px
          background-position 0 0
        &.first_charge_3
          width 50px
          height 39px
          background-position 0 -51px
        &.vip_bug_4
          width 48px
          height 33px
          background-position 0 -99px
        &.sign_package_5
          width 50px
          height 39px
          background-position 0 -141px
        &.constellation_6
          width 39px
          height 39px
          background-position 0 -190px
        &.ranking_list_7
          width 38px
          height 39px
          background-position 0 -237px
        &.persian_merchants_8
          width 50px
          height 41px
          background-position 0 -288px
        &.special_merchants_9
          width 50px
          height 39px
          background-position 0 -384px
        &.mysterious_merchants_9
          width 50px
          height 40px
          background-position 0 -339px
        &.illustrated_10
          width 32px
          height 38px
          background-position 0 -432px
        &.bottle_img
          width 28px
          height 42px
          background url($bgUrl + "bottle/bottle_smaillimg_28.png") no-repeat center center
          margin-left -15px
    .wish_bottle_word
      position absolute
      bottom -2px
      left 50%
      margin-left -22px
  .active_box_right
    &.active_box_right
      display none
  .wish_bottle_word
    width 38px
    height 14px
    background url($bgUrl + 'player3/active_icon.png') no-repeat 0 -480px
    text-align center
    margin 0 auto
  .happyNow
    width 64px
    height 60px
    background url("http://static.mm.wanleyun.com/orig/images/myladyBg0.png") no-repeat center center
    &.happyNow_1
      background-position 0 -420px
    &.happyNow_2
      background-position -69px -420px
    &.happyNow_3
      background-position -137px -420px
    &.happyNow_4
      background-position -206px -420px
    &.happyNow_5
      background-position -274px -420px
  .body-bg-img
    min-width 980px
  .goddess_main
    width 480px
    margin 0 10px
  .girldata_task
    width 220px
    background url("http://static.mm.wanleyun.com/orig/images/player3/square_boxbg_980.png") no-repeat -246px -682px
    height 155px
    padding 25px 10px 10px 15px
    font-size 12px
    margin-top 16px
    .goddess_single
      .girlTask_title
        width 100px
        width 100px
    .scrollbar
      right 16px
  .noticeBoard
    &.scrollbars
      .scrollbar
        right -1px
  .goddess_show
    position absolute
    top -2px
    width 255px
    z-index 1
  .goddess_task_tit
    height 32px
    line-height 32px
    vertical-align middle
    background url($bgUrl + 'player3/boxbg.png') no-repeat -744px -81px
    padding-left 35px
    font-size 12px
  .goddess_task_list
    padding 0 0 0 13px
    width 244px
    height 150px
  .goddess_task_main
    height auto
    width 207px
    padding-left 15px
    margin-left 2px
    background url($bgUrl + 'player3/gooddes_task_line.png') repeat-y 0 0
    li
      margin-top 5px
      margin-bottom 8px
      width 190px
      .girlrak_Lm
        margin-left -5px
  .goddess_task_con
    height 143px
    width 244px
  .crown_no
    margin-left 18px
  .task_titleline
    height 19px
    line-height 19px
    background url($bgUrl + 'player3/gooddes_task_titleline.png') no-repeat 0 0
    padding-left 12px
    margin-left -15px
  .tips_redimg
    background url($bgUrl + 'player3/loddeng_look.png') no-repeat 0 5px
    padding-left 15px
    margin-left -17px
  .goddess_single
    width 188px
    color #a7a292
    background-color #0a2233
    height 16px
    line-height 16px
    padding 1px 2px 1px 3px
    margin-left -3px
  .loadding_live
    height 15px
    background url($bgUrl + 'player3/boxbg.png') no-repeat -416px -206px
    padding-left 18px
    vertical-align middle
  .goddess_task
    width 210px
    height 142px
    padding 30px 25px 20px 5px
    margin-top 15px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -246px -681px
    width 210px
    height 142px
    padding 30px 25px 20px 5px
    margin-top 15px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -246px -681px
    .goddess_task_list
      width 210px
      width 210px
  .currentCount
    font-weight bold
    display inline-block
    padding 3px 0 0
    height 13px
    i
      display inline-block
      height 13px
      width 7px
      background url($bgUrl + "prop_icon/number_explain_10.png") no-repeat
      &.num1
        background-position 0 -14px
      &.num2
        background-position 0 -27px
      &.num3
        background-position 0 -40px
      &.num4
        background-position 0 -52px
      &.num5
        background-position 0 -64px
      &.num6
        background-position 0 -77px
      &.num7
        background-position 0 -91px
      &.num8
        background-position 0 -103px
      &.num9
        background-position 0 -117px
      &.num0
        background-position -1px 0
  .progressBar
    position relative
    z-index 0
    padding 2px 0 0 0
    margin-top 6px
    height 12px
    margin-left -18px
    cursor pointer
    display inline-block
    span
      display inline-block
    .star
      position absolute
      z-index 2
      left -14px
      top -6px
      background url($bgUrl + "myladyBg.png") no-repeat -97px -344px
      width 24px
      height 24px
      font-size 12px
      -webkit-transform scale(.84,.84)
      *font-size 10px
      text-align center
      line-height 24px
      color #80350c
    .progress
      width 92px
      background-position -334px -391px
  .followersArea
    padding-top 5px
    width 232px
    height 130px
    .scrollbars
      .viewport
        height 130px
        width 210px
  .followersWrap
    &.scrollbars
      height 130px
  .myLady
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat scroll -498px -600px
    height 277px
    padding 5px 5px 10px
    width 231px
    a
    .basicInfo
      .winCount
        background url($bgUrl + "player3/pointCount_54.png") no-repeat left center
        padding-left 54px
        height 20px
        line-height 20px
      .light
        width 52px
        background url($bgUrl + "player3/myladyBg_50.png") no-repeat
        cursor pointer
        height 49px
      .emotions
        width 64px
        padding 0
        position absolute
        float none
        right -3px
        top -1px
        height 60px
  .basicInfo
    .ladyName
      cursor pointer
      line-height 36px
      margin-top 4px
      overflow hidden
      text-indent 9999em
      width 50px
      background-size 50px 18px
  .chat_viewer
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat scroll -498px 0
    font-size 12px
    height 256px
    margin-top 22px
    padding 0 5px
    width 231px
    .chat_viewer_tab
      width 227px
    .chat_wiew
      width 218px
  .view_box
    li
      width 180px
      img
        margin-left -4px
  .overview
    &.view_box
      margin-left 5px
  .emoticonsTab
    a
      width 69px
  .emotionDropDownInner
    .scrollbars
      .viewport
        height 136px
  .btn_chat
    display inline-block
    height 24px
    width 48px
    float left
    margin-left 0
    background #2ec2e5
    text-align center
    line-height 24px
    font-size 12px
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px
    cursor pointer
    margin-left 4px
  a
    &.btn_chat
      &:hover
        background #43d1f4
        color #fff
      &:active
        background #037aa2
        color #fff
  .chat_holder
    display inline-block
    height 24px
    line-height 24px
    width 202px
    padding 0 6px
    position absolute
    z-index 1
    left 0
    top 0
    position absolute
    z-index 2
    display inline-block
    color #808080
  .chat_box
    .sending
      background url($bgUrl + "sending.gif") no-repeat left center
      background-size 12px 12px
    .sent
      background none
  .photobg
    &.lights2
      background url($bgUrl + "boxbg.png") no-repeat scroll -334px -668px rgba(0, 0, 0, 0)
      padding 4px
    &.lights1
      background url($bgUrl + "boxbg.png") no-repeat scroll -303px -668px rgba(0, 0, 0, 0)
      padding 4px
  .notice
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -499px -366px
    height 178px
    overflow hidden
    padding 25px 10px 12px 10px
    width 221px
    .noticeBoard
      margin-left 2px
      margin-right 2px
      ul
        width 206px
    .notice_firstbg
      width 217px
      .notice_first
        width 180px
  .rightsec
    .goddess_show
      width 219px
  .goddess_house
    border none
    text-align center
    bottom 7px
    right 3px
  .chat_select_box
    input
      width 82px
      height 16px
      padding 1px
      float left
      margin-right 2px
    select
      width 86px
      height 20px
      float left
      margin-right 1px
    button
      width 65px
      height 22px
      float left
  .active_box
    &.active_box_up
      display block
    &.active_box_right
      display none

.w980 .header-wrap .header-wrapbgshowbbg,.w980 .headerbgC
  width 980px

.w980 .goddess_left,.w980 .goddess_right,.w980 .leftsec,.w980 .rightsec
  width 240px
  color #fff
  font-size 12px

.w980 .mytask .task_list .task-item .clearfix,.w980 .mytask .task_list .task-item .task-reward
  height 16px
  line-height 16px
  vertical-align middle

.w980 .active_box_980 li.BottleShow div
  width 34px
  height 50px
  background url($bgUrl + "bottle/bottle_smaillimg_h50.png") no-repeat center center
  padding-left 0
  margin-left -20px
  &.bottle_s_1
    background-position 0 0
  &.bottle_s_2
    background-position 0 -56px
  &.bottle_s_3
    background-position 0 -115px
  &.bottle_s_4
    background-position 0 -176px

.w980 .goddess_left,.w980 .goddess_right
  width 240px
  color #fff
  font-size 12

.w980 .notice .noticeBoard .viewport,.w980 .notice .noticeBoard .viewport .overview
  width 206px

.w980 .video_kankan,.w980 .video_kankan em
  color #e73378

.w980 .myLady .basicInfo .emotions .emotionBar,.w980 .myLady .basicInfo .emotion,.w980 .myLady .basicInfo .emotions .currentEmotion
  background none

.w980 #emoticonDropDown,.w980 .emotionDropDownInner .scrollbars .viewport
  width 219px

.w980 .chatText,.w980 input.chatText
  border #1774a4 solid 1px
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  height 12px
  line-height 12px
  color #fff
  display inline-block
  position relative
  z-index 1
  padding 5px 2px
  width 130px
  border #1774a4 solid 1px
  background transparent
  font-size 12px
  font-weight normal
  margin-left 2px

.w980 input.chatText:hover,.w980 input.chatText:focus
  background transparent
  color #fff

.w980 .photobg.lights1,.w980 .photobg.lights2,.w980 .photobg.link,.w980 .photobg.lights0
  background url($bgUrl + "boxbg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
  display block
  height 18px
  left 0
  padding 4px
  position absolute
  top -2px
  width 18px

.w980 .photobg.link, .photobg.lights0
  background url($bgUrl + "boxbg.png") no-repeat scroll -367px -668px rgba(0, 0, 0, 0)
  padding 4px

.w980 .girldata_task .viewport,.w980 .girldata_task .overview
  width 207px

