#preListBar.preList.cl.scrollbars
  .scrollbar
    .scroll_up
    .track
      .thumb
        .thumb_end
    .scroll_down
  .viewport
    ul.overview
      #preList_pre_1.filled.textoverflow(desc="我是兔子大号我是兔子大号我是兔子大号")
        .rText= 贵重物品1314
        .yText= 我是兔子大号我是兔子大号我是兔子大号
      #preList_pre_6.filled.textoverflow(desc="aaa")
        .rText= 贵重物品1314
        .yText= 我是兔子大号我是兔子大号我是兔子大号
      #preList_pre_2.filled.textoverflow(desc="我是兔子大号我是兔子大号我是兔子大号")
        .rText= 贵重物品1314
        .yText= 我是兔子大号我是兔子大号我是兔子大号
      #preList_pre_7.filled.textoverflow(desc="23234232")
        .rText= 贵重物品1314
        .yText= 我是兔子大号我是兔子大号我是兔子大号
      #preList_pre_3.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_8.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_4.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_5.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_13.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_9.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_10.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_11.textoverflow(desc="")
        .rText= 贵重物品1314
      #preList_pre_12.textoverflow(desc="")
        .rText= 贵重物品1314
