.attention_tips_con
  .attention_tips_tit
  span
.attention_tips_main.dialogLightbgGame
  p.yellow_4.mt_20.attention_word= "取消关注则同时会失去和女神关联的星座，以及无法对女神进行节目中的游戏支持"
  p.tc.mt_30= "是否取消关注？"
  .cl.mt_10
    a.w90.btn_1y.fl.ml_15(href="javascript:void(0);")= "继续关注"
    a.w90 btn_2b.ml_20.fl(href="javascript:void(0);")= "取消关注"