.numtip
  background: transparent
  border: none
  color: #07f495
  top:4px
  .ui-dialog-arrow-a
    display:none
  .ui-dialog-arrow-b
    display:none
  .ui-dialog-body
    padding: 0px 2px
    font-size : 14px
    //-webkit-transform : scale(0.84,0.84) 
    //*font-size:10px;*
    -webkit-text-shadow:#5e2d02 2px 0 0,#5e2d02 0 1px 0,#5e2d02 -1px 0 0,#5e2d02 0 -1px 0
    -moz-text-shadow:#5e2d02 1px 0 0,#5e2d02 0 1px 0,#5e2d02 -1px 0 0,#5e2d02 0 -1px 0
    text-shadow:#5e2d02 1px 0 0,#5e2d02 0 1px 0,#5e2d02 -1px 0 0,#5e2d02 0 -1px 0
    *filter: Glow(Color=#5e2d02, Strength=1)