doctype html
html(xmlns:wb='http://open.weibo.com/wb')
  head
    link(href='http://www.wanleyun.com/images/favicon.png', rel='shortcut icon')
    block title
    block meta
    meta(name='title', content='女神的房间-玩乐云-全球首款互联网互动真人游戏秀')
    meta(name='keywords', content='美女视频,,视频直播,直播,视频搜索,视频播放,视频社交,美女播客, 美女视频, 美女直播，真人直播秀，秀场，视频游戏秀，游戏秀，玩乐云')
    meta(name='description', content='女神的房间-全球首款互联网互动真人游戏秀- 玩乐云是国内唯一一家真人游戏秀直播互动平台- 玩乐云')
    block stylesheet
    include ../../../modules/mm_headjs/index
    block headjs
    script(src='http://tjs.sjs.sinajs.cn/open/api/js/wb.js', type='text/javascript', charset='utf-8')
  body(class="body-box-bg" + ((query && query.from == '114la') ? ' w980' : ''))
    script.
      (function(){
        var winWidth = $(window).width();
        if(winWidth <= 1024){
          $('body').addClass('w980');
        }
      })();
    block bg
    #wb_attbtn.weibo_Con.hide
      wb:follow-button(uid=(girl ? (girl.weibouid) : '5408060777'), type='red_1', width='67', height='24')
    block body
    block footjs
    include ../../../modules/mm_footjs/index
