.mt_3
  margin-top:3px
.mt5
  margin-top:5px
//girl task
.girldata_task
  width:272px
  background:url($bgUrl+'boxbg.png') no-repeat 0 -665px
  height:155px
  padding: 25px 10px 10px 5px
  font-size:12px
  margin-top:7px;
  .goddess_task_tit
    height:32px
    line-height:32px
    vertical-align:middle
    background:url($bgUrl+'boxbg.png') no-repeat -744px -81px
    padding-left:35px
  .goddess_task_list
    padding:5px 10px 5px 20px
    width:235px
  .viewport
    width:245px
    height:152px
  .overview
    padding-left:15px
  .scrollbar
    top:29px
    right:24px
  .goddess_single em
    font-size:10px
    font-style:normal
    margin-right:5px
    float:left
  .goddess_task_main
    height:auto
    padding-left:5px
    margin-left:16px
    background:url($bgUrl +'player3/gooddes_task_line.png') repeat-y 0 0
    li
      margin-top:5px
      margin-bottom:3px
      .girlrak_Lm 
        p
          margin-top:2px
          line-height:16px
          vertical-align:middle
  .goddess_task_con
    height:143px
    width:244px
  .crown_no
    margin-left:18px
  .task_titleline
    height:19px
    line-height:19px
    background:url($bgUrl + 'player3/gooddes_task_titleline.png') no-repeat 0 0
    padding-left:15px
    margin-left:-5px
    .quality1
      color:#a7a292
    .quality2
      color:#fff
    .quality3
      color:#00fe9b
    .quality4
      color:#2ec1e5
    .quality5
      color:#d87dfd /*紫色*/ 
    .quality6
      color:#f46e01
  .tips_redimg
    background:url($bgUrl + 'player3/loddeng_look.png') no-repeat 0 5px
    padding-left:18px
    margin-left:-8px
  .goddess_single
    color:#a7a292
    background-color: #0a2233
    height: 16px
    line-height: 16px
    padding: 1px 2px 1px 3px
    margin-left:-3px
    width:213px
    #go_wish
      cursor:pointer
    .girlTask_title
      width:119px;
      overflow:hidden;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
      float:left;
  .video_kankan,.video_kankan em
    color:#e73378
  .loadding_live
    height:15px
    background:url($bgUrl + 'player3/boxbg.png') no-repeat -413px -207px
    padding-left:18px
    vertical-align:middle
.girldata_task.scrollbars
  margin-bottom:0;