// 兑换成功
#RechangeRecordSuc.RechangeRec_box.cl
  .RecRecord_tips.cl
    .RecRecord_tips_title.cl
      .lights_show
        span
    .RecRecord_main.pr
      .Rectips_grils
        img(src=window.resUrl + "images/prop_icon/tips_grils_125.png")
      .cl.mt_20.RecRecord_rightcon
        // 看清楚哦~这里的兑换提示有四种情况 可以分批显示
        p.cl.yellow_2.hide.mb_60.ml_20
          | &#24744;&#33719;&#24471;&#20102;
          span.red.blue_drill 500
        p.cl.yellow_2.hide.mb_60.ml_20
          | &#24744;&#24320;&#36890;&#20102;
          span.yellow_1.goldVip_54 VIP
        p.cl.yellow_2.hide.mb_60.ml_20
          | &#24744;&#24320;&#36890;&#20102;
          span.white.angle_gray_28 &#30333;&#38134;&#22825;&#20351;
        p.cl.yellow_2.mb_60.ml_20
          span
          span.gift_result.white.angle_lights_28 &#40644;&#37329;&#22825;&#20351;
        .cl.mt_40.ml_40
          a.conform-btn.btn_2b.w90(href="javascript:void(0);") &#32852;&#30693;&#36947;&#20102;