// 点击钻石，充值出现的兑换码浮层
#RechangeRecord.rechange_recordbox.cl
  .RechangeRec_Content.cl
    .RechangeRec_title
      span
    .RechangeRec_con.cl.pr
      .grils_img.fl
        img(src=window.resUrl + "orig/images/prop_icon/golden_npcimg.png")
      .girls_rightcon.fl
        .mt_15.cl.RechangeRecord
          input.exchange-code.Record_input.fl(type="text", placeholder="请输入您的兑换码...")
          div.exchange-btn.btn_1y.w150.fr &#20817;  &#25442;
        p.cl.red.RechangeRec_error
          | &nbsp;
        .RechangeReccon.cl.mt_10.pr
          .RechangeRecconimg
        .RechangeRec_btnimg.mt_15.cl
          span.white.fl
            //- | 官方淘宝店铺
            //- a.blue.record_buyH.ml_10(href="http://shop116838370.taobao.com", target="_blank") http://shop116838370.taobao.com
            img(style="vertical-align:middle;",src="http://static.mm.wanleyun.com/orig/images/flying2.png",height="15")
            | &nbsp;
            a.blue.record_buyH(target="_blank",href="http://item.taobao.com/item.htm?id=44153709208") 购买黄金天使
            | &nbsp;&nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;",src="http://static.mm.wanleyun.com/orig/images/flying1.png",height="15")
            | &nbsp;
            a.blue.record_buyH(target="_blank",href="http://item.taobao.com/item.htm?id=44092075562") 购买白银天使
            | &nbsp;&nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;",src="http://static.mm.wanleyun.com/orig/images/vip.png",height="15")
            | &nbsp;
            a.blue.record_buyH(target="_blank",href="http://item.taobao.com/item.htm?id=44171648570") 购买VIP
            | &nbsp;&nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;",src="http://static.mm.wanleyun.com/images/player3/blue_drill.png",height="15")
            a.blue.record_buyH(target="_blank",href="http://item.taobao.com/item.htm?id=44114170027") 购买钻石
          //- a.btn_2b.w80.ml_20.fl(href="http://shop116838370.taobao.com", target="_blank") &#24555;&#36895;&#30452;&#36798;&#26799;
