// 点击钻石，充值出现的兑换码浮层
#RechangeRecord.rechange_recordbox.cl
  .RechangeRec_Content.cl
    .RechangeRec_title
      span
    .RechangeRec_con.cl.pr
      .grils_img.fl
        img(src=window.resUrl + "orig/images/prop_icon/golden_npcimg.png")
      .girls_rightcon.fl
        .mt_15.cl.RechangeRecord
          input.exchange-code.Record_input.fl(type="text", placeholder="请输入您的兑换码...")
          div.exchange-btn.btn_1y.w150.fr &#20817;  &#25442;
        p.cl.red.RechangeRec_error
          | &nbsp;
        .RechangeReccon.cl.mt_10.pr
          .RechangeRecconimg
        .RechangeRec_btnimg.mt_15.cl
          span.white.fl
            | &#23448;&#26041;&#28120;&#23453;&#24215;&#38138;
            a.blue.record_buyH.ml_10(href="http://shop116838370.taobao.com", target="_blank") http://shop116838370.taobao.com
          a.btn_2b.w80.ml_20.fl(href="http://shop116838370.taobao.com", target="_blank") &#24555;&#36895;&#30452;&#36798;&#26799;
