.ladygmresult_informbox
	.laygmren_title
		position:absolute
		left:50%
		margin-left:-110px
		z-index:1030
		top:-42px
		width:219px
		text-align:center
		height:47px
		line-height:38px
		background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 0
		span
			height:22px
			background:url($bgUrl +'prop_icon/buygold_titbg.png') no-repeat 0 -220px
			display:block
			width:89px
			margin:5px auto 0
	.ladygmresult_con
		font-size:12px;
		width:520px;
		height:310px;
		border:1px solid #0c1218
		background-color:#0c1924
		padding:10px
		.scrollbars 
			width:508px;
			.viewport
				height:280px;
				.overview
					height:280px;
		.ladygmresult_btn
			position:absolute;
			bottom:10px;
			left:50%;
			margin-left:-71px;
	.ladygmiticeC
		dl.ladyroomset
			width:508px;
			height:140px;
			dd
				width:140px;
				height:140px;
				background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat center center;
			dd.ladyrewardr
				background-position:0 0;
				margin:0 45px;
				ul.ladylist
					margin:55px auto 0;
					width:120px;
					text-align:center;
					li
						text-align:center;
						width:55px;
						height:52px;
						position:relative;
						float:left;
						margin:0 2px 0 3px;
						background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat -144px -147px;
						div.ladylistphoto 
							width:50px;
							height:50px;
							padding:5px 5px 6px 6px;
							margin:0 auto;
							text-align:center;
							background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat 0 -147px;
							position:absolute;
							top:-20px;
							left:-5px;
							img 
								width:50px;
								height:50px;
						p
							margin-top:35px;
						 	font-size:12px;
			dd.ladypunishr
				background-position:-144px 0;
				ul.ladylist
					margin:55px auto 0;
					text-align:center;
					width:120px;
					li
						text-align:center;
						width:55px;
						height:52px;
						position:relative;
						margin:0 2px 0 3px;
						background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat -203px -147px;
						float:left;
						div.ladylistphoto
							width:50px;
							height:50px;
							padding:5px 5px 6px 6px;
							margin:0 auto;
							text-align:center;
							background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat -62px -147px;
							position:absolute;
							top:-20px;
							left:-5px;
							img 
								width:50px;
								height:50px;
						p
							margin-top:35px;
							font-size:12px;
		.killresult
			.kresultlist
				width:478px;
				li
					width:478px;
					height:24px;
					line-height:24px;
					.kresult_l
						width:140px;
						text-align:left;
						ins
							width:26px;
							height:14px;
							background:url($bgUrl +'player3/ranking_img.png') no-repeat center center;
							vertical-align:middle;
							margin-right:3px;
							margin-top:3px;
							text-decoration:none;
						ins.kre_1
							background-position:-234px -56px;
						ins.kre_2
							background-position:-234px -78px;
						ins.kre_3
							background-position:-234px -101px;
						.kresult_num
							text-align:center;
							color:#f7aa25;
							width:26px;
							height:14px;
							vertical-align:middle;
							font-size:12px;
							margin-right:3px;
					.kresult_r
						width:338px;
						span
							width:112px;
							text-align:center;
							float:left;
							display:inline;
							vertical-align:middle;
							ins
								width:82px;
								display:inline-block;
								text-decoration:none;
								text-align:center;
						span.isoutimg
							width:58px;
							height:24px;
							background:url($bgUrl +'prop_icon/lady_gameresultbg.png') no-repeat 0 -211px;
							margin-left:28px;
.ladygreShow-dialog-on
	width:540px;
	height:350px;
.f12
	font-size:12px;