.personalL
  .personalL_photo
    width 190px
    height 153px
    padding 5px 5px 2px
    background-color #fff
    text-align center
    margin 0 auto

.p_photo_info
  width 190px
  position relative
  text-align center
  ins
    &.iconVip
      background url("http://static.mm.wanleyun.cn/orig/images/vip.png") no-repeat scroll center center / 30px 20px
      bottom 18px
      display inline-block
      height 20px
      left 69px
      position absolute
      width 50px
      z-index 3
  img
    width 82px
    height 82px
    background url($bgUrl + 'orig/images/per_center/p_phote_bigbg_100.png') no-repeat center center
    padding 9px
    &.gray_bg
      background-position -200px 0
    &.golden_bg
      background-position -100px 0
    &.blue_bg
      background-position 0 0
  a
    width 82px
    height 82px
    position absolute
    left 54px
    top 10px
    &:hover
      &.no_setPhoto
        background url($bgUrl + 'orig/images/per_center/p_photo_M_100.png') no-repeat center center
        background-size 82px 82px

.personal_degree
  .p_vipgrade
    width 25px
    height 13px
    background url($bgUrl + 'orig/images/per_center/index_icon.png') no-repeat 0 -48px
    text-align center
    padding 7px 0 7px 0
    margin 0 10px
    .p_vipgradei
      width 20px
      overflow hidden
      height 13px
      margin 0 auto
      text-align center
    i
      background url("http://static.mm.wanleyun.cn/orig/images/prop_icon/number_explain_10.png") no-repeat
      display inline-block
      margin 0 auto
      text-align center
      height 13px
      line-height 13px
      &.num_1
        background-position 0 -14px
        width 6px
      &.num_2
        background-position 0 -27px
        width 9px
      &.num_3
        background-position 0 -40px
        width 10px
      &.num_4
        background-position 0 -52px
        width 9px
      &.num_5
        background-position 0 -65px
        width 8px
      &.num_6
        background-position 0 -77px
        width 8px
      &.num_7
        background-position 0 -91px
        width 9px
      &.num_8
        background-position 0 -103px
        width 9px
      &.num_9
        background-position 0 -117px
        width 9px
      &.num_0
        background-position 0 0
        width 9px
  .p_degreescroll
    width 103px
    height 6px
    background url($bgUrl + 'orig/images/per_center/p_degree_bg.png') no-repeat center center
    position relative
    margin-top 10px

.p_degreescroll
  .Progress_conC
    width auto
    padding 2px 2px 2px 5px
    background-color #182d3d
    border 1px solid #1774a4
    position relative
    top 13px
    left 0px
    border-radius 3px
    .pr_arrow
      font-size 26px
      color #122330
      position absolute
      top -18px
      left 40px
    .Progress_number
      height 8px
      line-height 8px
      position relative
      z-index 5
      text-align left
  span
    height 6px
    background-color #ff7708
    border-radius 3px
    -moz-border-radius 3px
    -webkit-border-radius 3px
    display block
    position absolute
    left -2px
    top 0
    &.Progress_number
      width 118px
      height 24px
      line-height 30px
      background url("http://static.mm.wanleyun.cn/orig/images/player3/boxbg.png") no-repeat 0 -908px
      position absolute
      left 0
      top 0

  .personal_degree
    line-height 27px
    vertical-align middle
    margin-top 5px

