.personalL_photo(data-module="i_ucavatar")
  .p_photo_info
    a.no_setPhoto(href='setphoto', title='修改头像')
    img#ucavatar.golden_bg(src= 'http://static.mm.wanleyun.com/head/' + ssoid + '/100')
    ins.iconVip
    p.f14= usrnick
  .personal_degree.cl
    span.fl.orange 活跃度
    .p_vipgrade.fl

    .p_degreescroll.fl
      span(style='width:50px;')