// 暴击概率提示
#crittipsStatusInner.pr
  .crittips_Content.cl
    .crittips_title.critbrptips_title
      .lights_show
        span
    | &#x9;   
    .crittips_main.pr
      .tips_grils
        img(src=window.resUrl + 'orig/images/prop_icon/tips_grils_125.png')
      | &#x9;        
      .cl.crittips_con.usercrittips
        .give_goods.cl.mt_15
          ul.cl.ml_10
            li
              .vipuser.gray.fl 普通用户 
              .yellow.fr 12.50% 
            li
              span.vip.fl
              .fl.yellow_1 VIP
              .yellow.fr 15.00% 
            li
              span.flying2.fl
              .fl 白银天使 
              .yellow.fr 20.00% 
            li
              span.flying1.fl
              .fl.yellow_2 黄金天使 
              .yellow.fr 25.00% 
        .cl.crit_closebtn
          a.btn_2b.w90(href='javascript:void(0);',style="margin:0 auto;") 确&nbsp;&nbsp;定
