.send_giftbox.game_listbox_gift
  .gift_con.cl
    ul.fl.gift_con_tab
      li.on(data-gift-tab='1')
        | 常用
      li(data-gift-tab='2')
        | 互动
      li(data-gift-tab='3')
        | 猎奇
      li(data-gift-tab='4')
        | 亲密
      li(data-gift-tab='5')
        | 奢华
      li(data-gift-tab='6')
        | 天使
    .fl.gift_con_right.shop_item_list
      a.gift_leftbtn.fl.prev(href='javascript:;')
      .fl.gift_show_con.viewport
        ul.cl.gift_show_list.shop_tab_body.overview
      a.gift_rightbtn.fr.next(href='javascript:;')
div(data-module="crit",data-module-crit="gift")