.gift
  display:block
  height:144px;
  .gift_con_right
    width:415px
    height:109px
    background-color:#0c1924
    border:1px solid #1774a4
    padding-top:40px
    padding:40px 5px 0
    border-left:none
    float:left
    position:relative
    .tips
      position:absolute
      top:0
      right:25px
      img
        vertical-align:middle
      .num
        color:#f9f03a
    .viewport
      width:389px
      overflow:hidden
      height:100%
      position:relative
      margin-top:-18px
      .overview
        position:absolute
.gift_sigel_list
  height:74px;
  border: 1px solid #0c1218;
  background-color: #0c1924;
  border-bottom-color:#11212e;
  padding:3px 5px;
  text-align:center;
  margin:0 auto;
  position:absolute
  -moz-border-radius:3px;      /* Gecko browsers */
  -webkit-border-radius:3px;   /* Webkit browsers */
  border-radius:3px;            /* W3C syntax */
  left:-5px
  z-index:20
  .gift_arrow
    width:12px;
    height:10px;
    background:url($bgUrl+'player3/gamegiftarrow_icon.png') no-repeat center bottom;
    position:absolute;
    left:30px;
    bottom:-10px;
  .giftsigel_item
    margin-top:3px;
    .mt_2
      margin-top:2px;