.gift
  display:block
  height:144px;
.gift_sigel_list
  height:74px;
  border: 1px solid #0c1218;
  background-color: #0c1924;
  padding:3px 5px;
  text-align:center;
  margin:0 auto;
  position:absolute
  -moz-border-radius:3px;      /* Gecko browsers */
  -webkit-border-radius:3px;   /* Webkit browsers */
  border-radius:3px;            /* W3C syntax */
  left:-5px
  z-index:20
  .gift_arrow
    font-size:25px;
    color: #0c1924;
    position:absolute;
    left:30px;
    bottom:-15px;
  .giftsigel_item
    margin-top:3px;
    .mt_2
      margin-top:2px;