.mytask
  height:105px
  background:url($bgUrl+'boxbg.png') no-repeat 0 -512px
  width:269px
  padding: 25px 10px 10px 11px
  font-size:12px
  margin-top: 6px;
  .task_scroll
    height:92px
    .scrollbar
      right:16px
      top:4px
    .viewport
      height:92px
      overflow:hidden
        
.mytask_img
  height:32px
  line-height:32px
  vertical-align:middle
  background:url($bgUrl+'boxbg.png') no-repeat -742px -40px
  padding-left:35px
.mytask .task_list
  width:240px
  padding:5px 5px 5px 10px
  .task-item
    width:240px;
    clean:both;
    margin:3px auto
    .task-reward
      .fr
        margin-right:10px
.add_btn,.ok_btn,.minus_btn
  height:12px
  line-height:12px
  background:url($bgUrl+'boxbg.png') no-repeat
  padding-left:18px
  display:inline-block
  vertical-align:middle
.ok_btn
  background:url($bgUrl+'boxbg.png') no-repeat -416px -160px
.add_btn
  background:url($bgUrl+'boxbg.png') no-repeat -416px -176px
.minus_btn
  background:url($bgUrl+'boxbg.png') no-repeat -416px -192px
.task_list 
  .mtb_3
    margin:3px 0
.open_box
  padding-left:18px

//girl task
.goddess_task
  width:272px
  background:url($bgUrl+'boxbg.png') no-repeat 0 -665px
  height:168px
  padding: 25px 10px 10px 5px
  font-size:12px
  .goddess_task_tit
    height:32px
    line-height:32px
    vertical-align:middle
    background:url($bgUrl+'boxbg.png') no-repeat -744px -81px
    padding-left:35px
  .goddess_task_list
    padding:5px 10px 5px 20px
    width:235px
  .overview
    padding-left:15px
    background:url($bgUrl+'boxbg.png') no-repeat -752px -156px
  .scrollbar
    top:29px
    right:24px
.crown_no
  margin-left:18px
.goddess_single
  width:187px
  color:#a7a292
.mt5
  margin-top:5px
.video_kankan
  color:#e73378
.loadding_live
  height:15px
  background:url($bgUrl+'boxbg.png') no-repeat -416px -206px
  padding-left:18px
  vertical-align:middle
.taskgirls_img
  width 311px
  height 349px
  position absolute
  left -104px
  top:-28px  
.task_rightmain
  position relative
  margin-left 110px
  z-index 1
  color #fff
  font-size 12px
  width 238px
  height:auto !important 
  height 298px
  min-height:298px
  padding-bottom 10px
  border 1px solid #1774a4
  background-color #273851
  border-radius 3px
  -webkit-box-shadow 1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
  -moz-box-shadow 1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
  box-shadow 1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
  .btn-confirm
    position:absolute
    bottom:10px
    left: 50%
    margin-left: -45px
.task_title
  background url($bgUrl+"prop_icon/prop_iconbg.png") no-repeat 0 0
  height 47px
  left 50%
  line-height 38px
  margin-left -110px
  position absolute
  text-align center
  top -40px
  width 219px
  z-index 1030
  span
    width 42px
    height 20px
    background url($bgUrl+"prop_icon/tips_wordbg.png") no-repeat 0 -186px
    display block
    text-align center
    margin 8px 0 0 89px

.task_complete_title
  background url($bgUrl+"prop_icon/tips_wordbg.png") no-repeat 0 -104px
  height 52px
  left 50%
  line-height 38px
  margin-left -110px
  position absolute
  text-align center
  top -42px
  width 219px
  z-index 1030
  .lights_show
    left 4px
    top -32px
    span
      width 88px
      height 20px
      background url($bgUrl+"prop_icon/tips_wordbg.png") no-repeat 0 -160px
      display block
      text-align center
.task_rightcon
  p
    margin-left 5px
    margin-right 5px

.text1px
  text-indent 30px

.gold_heartnumber
  padding-left 20px
  span
    float left
    width 82px
    height 23px
  span.gold_img
    background url($bgUrl+"prop_icon/bottolbg.png") no-repeat scroll -577px -68px
    display block
    line-height 20px
    padding-left 25px

  span.heart_4
    background url($bgUrl+"prop_icon/tips_wordbg.png") no-repeat scroll -227px 0
    display block
    height 21px
    line-height 21px
    padding-left 23px

.receive_goods
  ul
    li
      width 44px
      height 44
      margin-right 2px
      float left
      background url($bgUrl+'prop_icon/iconlink_44.png') no-repeat 0 0
      cursor pointer
      position relative
      &:hover
        background url($bgUrl+'prop_icon/iconhover_44.png') no-repeat 0 0
      img
        width 38px
        height 38px
        margin 1px
.mt_2
  margin-top 2px

.mt_20
  margin-top 20px