li
  #ladyNotice.ladynotice_1
li.hide
  #ladygameresult.ladygamereshow(data-module='ladygameresult')
li
  #actionShow.active_2(data-module='activitygb')
li.hide
  #firstRechange.first_charge_3
li
  #vipBuy.vip_bug_4(data-module='vipbuy')
li.hide
  #DailySign.sign_package_5
li.hide
  #ConstellAtion.constellation_6(data-module='constellation')
if __global.page == 'room'
  li.hide
    #RankingList.ranking_list_7(data-module='rankinglist')
li.hide
  #specialMerchants.persian_merchants_8(data-module='persiashop')
li.hide
  #MysteriousTrader.mysterious_merchants_9
li.hide
  #handbook.illustrated_10
    