.header
	position:relative;
	z-index:1;
.header-wrap
	width:100%
	height:50px
	background:#2c3743
	min-width:1190px
	position:relative
	margin:auto;
	.header-wrapcon
		width:30%;
		position:absolute;
		height:50px;
		left:0;
		top:0;
		z-index:0;
		zoom:1;
		background:url($bgUrl+"player3/header_newbg.png") repeat-x center center;
	.header-wrapbgshowbbg
		position:relative;
		width:1190px;
		height:50px;
		z-index:1;
		margin:0 auto;
		.header-wrapbgshow
			width:620px;
			height:50px;
			background:url($bgUrl+"player3/header_newstyle.png") no-repeat left center;
			position:absolute;
			left:0;
			top:0;
			z-index:2;
			zoom:1;
.contect_girl
	position:relative;
	width:1190px;
	height:50px;
	z-index:1;
	margin:0 auto;
.headerbgC
	width:1190px;
	margin:auto;
	height:50px
	position:absolute;
	z-index:3;
	zoom:1;
	top:0;
	left:0;
	right:0;
	#logo 
		width:70px
		height:48px
		text-align:center
		float:left
		margin-left:30px;
	#navs
		margin-left:25px
		margin-top:2px
		height:24px
		float:left
		li
			float:left
			height:24px;
			margin:0 20px;    
		li.arr 
			//background:url($bgUrl+"nav_arr.png") no-repeat top right
		A
			color:#CCC
			text-decoration:none
			font-size:14px
			height:24px
			float:left
		a.wly_betalogo
			width:72px;
			height:24px;
			background:url($bgUrl+"wly_logo_50.png") no-repeat center 1px
			margin:auto;
		a.wly_betalogo:hover
			background:url($bgUrl+"wly_logo_50hover.png") no-repeat center 1px
		A:hover
			color:#FFF
			text-decoration:none
			font-size:14px
			height:24px
			float:left
		A.cur
			border-bottom:4px #fff440 solid
			color:#FFF
			height:20px
			float:left
		A.cur:hover
			border-bottom:4px #fff440 solid
			color:#FFF
			height:20px
			float:left
	#ubar
		width:800px
		float:right
		margin-top:4px
		height:20px
		font-size:2pt
		position:relative
		li
			float:right
			margin-left:10px
			height:20px
			font-size:12px
			color:#CCC
			line-height:20px
			cursor:pointer
			position: relative
			z-index:600
		a.nav,span.nav
			display:inline-block
			float:right
			margin-left:10px
			height:20px
			font-size:12px
			color:#CCC
			line-height:20px
			cursor:pointer
			position: relative
			z-index: 200
		a.pbtn
			width:40px
			background:url($bgUrl+"player/button.png")
			color:#fff
		a.pbtn:hover
			color:#fff
		a.btn_6y
			color:#fff
		a.btn_6y:hover
			color:#fff
		.unick
			padding-right:20px
			background:url($bgUrl + "player/icon.png") no-repeat right -80px
		.navUsername
			color:#ccc
			//letter-spacing:1px
			padding-right:5px
			//margin-top:5px
			a
				color:#ccc
			a:hover
				color:#fff
			a:active
				color:#fff
		span.up_pointer,span.down_pointer
			height:6px
			display:block
			width:7px
			margin-top:4px
			margin-right:5px
		span.down_pointer
			background:url($bgUrl + 'player3/nav_icon.png') no-repeat -143px -27px
		span.up_pointer
			background:url($bgUrl + 'player/icon.png') no-repeat -186px -88px      
		.username_box.hover
			// height:197px
			// height:55px
			border:1px solid #0c1218
			border-radius:4px
			background-color:#0c1924
			box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
			-webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
			-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
		.username_box
			float:right
			padding:2px 0 5px
			width:160px
			color:#fff
			font-size:12px
			font-family: "微软雅黑","microsoft yahei",Arial
			position:relative
			left:-1px
			top:-1px
			z-index:500
			ul
				// li
				// 	a
				// 		margin-left:40px;
			.username_title
				line-height:12px
				padding-left:5px
				padding-bottom:5px
				text-align:right
			.user_grade_lv
				width:12px
				height:12px
				background:url($bgUrl + 'player3/nav_icon.png') no-repeat -138px 0
				margin-left:2px
			.user_photo
				width:40px
				height:40px
				margin-left:3px
				background:url($bgUrl + "photobg.png") no-repeat -1px -2px
				padding:6px
			.user_photo.lights
				background:url($bgUrl+"photobg.png") no-repeat -112px -2px
			.user_photo.gray
				background:url($bgUrl+"photobg.png") no-repeat -57px -2px
			ul
				display:none
			li
				float:left
				margin:0 auto
				width:155px
				height:auto
				background:url($bgUrl+'player3/navbg_hr.png') no-repeat 0 bottom
				padding-bottom:5px
			li.no_bg
				background:none
			.active_degree
				width:54px
				height:17px
				background:url($bgUrl+'player3/nav_icon.png') no-repeat 0 -6px
			.user_grade_number
				width:24px
				height:27px
				background:url($bgUrl+'player3/pt_gradebg.png') no-repeat center center
				margin-right:-5px
				padding-top:8px
				position:relative
				z-index:1
				letter-spacing:-1.4px
				float:left
				div.p_vipgradei
						height:13px;
						margin:3px auto 0; 
						overflow:hidden;
						text-align:center;
						width:20px;
			.user_grade_progress
				width:66px
				height:8px
				border:2px solid #3d4750
				padding:1px
				margin-top:12px
				span
					width:auto
					height:8px
					background-color:#ff7301
					display:block
			.user_grade
				height:30px
		span.nav.exchange
			width:40px;
			height:20px;
			display:block;
			position:absolute;
			right:0
			top:0;
		.udiamond
			width:110px
			margin-right:50px
			background:url($bgUrl+"player/icon.png") 0px -100px
			color:#1368ff
			.blue_drill_link
				margin-left:0px
				display:inline-block
				width:20px
				height:25px
		.udiamond:hover .blue_drill_link
			background:url($bgUrl+"player/icon.png") -3px -333px   
		.ucoin
			width:110px
			background:url($bgUrl+"player/icon.png") 0px -130px
			color:#ffbb17
			.yellow_gold_link
				display:inline-block
				width:20px
				height:20px
		.ucoin:hover .yellow_gold_link
			background:url($bgUrl+"player/icon.png") 0px -225px
		.udiamond .num,.ucoin .num
			font-family:Arial, Helvetica, sans-serif
			font-style:normal
			float:right
			font-size:12px
			-webkit-transform: scale(0.85)
			width:95px;
			height:18px;
			line-height:20px
			margin-right:-5px
			text-align:right
			position:relative
			.mr_12
				margin-right:15px;
			em.plus
				float:right
				width:12px
				height:18pxpx
				color:#ffe400
				font-size:16px
				line-height:18px
				font-weight:bold
				font-style:normal
				margin-left:2px
				position:absolute;
				right:0;
				top:0;
			em.num 
				width:70px
		.upack:hover,.umail:hover,.upack.packcurrent,.umail.mailcurrent
			color:#fff
		.upack,.umail
			position:relative
			z-index:0
			span
				line-height:22px
			em
				display:inline-block
				width:24px
				height:22px
				float:left
				background:url($bgUrl+"player/icon.png") no-repeat
		.upack em
			background:url($bgUrl+"player/icon.png") -40px -258px no-repeat
		.umail em
			background:url($bgUrl+"player/icon.png") -42px -291px no-repeat
		.upack:hover em,.upack.newBling em,.upack.packcurrent em
			background:url($bgUrl+"player/icon.png") -0px -258px no-repeat
		.umail:hover em,.umail.newBling em,.umail.mailcurrent em
			background:url($bgUrl+"player/icon.png") -1px -291px no-repeat
		.upack.newBling i,.umail.newBling i
			position:absolute
			top:0px
			left:16px
			display:block
			width:8px
			height:8px
			background:url($bgUrl + 'red_spot.png') no-repeat center
		.umail.newBling i
			top:-2px
			left:9px
	#tbar
		width:400px
		float:right
		margin-top:10px
		height:20px
		font-size:2pt
		position:relative
		li
			float:right
			margin-left:25px
			height:20px
			font-size:12px
			color:#FFF
			line-height:14px
			cursor:pointer
		.feedback
			background:url($bgUrl+"player/icon.png") 0px -160px
			padding-left:20px
		.desktop
			background:url($bgUrl+"player/icon.png") 0px -180px
			padding-left:20px
		.share
			background:url($bgUrl+"player/icon.png") 0px -199px
			padding-left:23px
		.share_con
			display:none
			width:108px
			height:30px
			line-height:30px
			border:1px solid #0c1218
			border-radius:0 1px 1px 1px
			background-color:#0c1924
			padding:2px 0 5px 12px
			box-shadow:0 0px 0 #172a39 inset,1px 0 0 #172a39 inset,1px -1px 0 #172a39 inset,-1px 0 0 #172a39 inset
			-webkit-box-shadow:0 0px 0 #172a39 inset,1px 1px 2px #172a39 inset,1px -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
			-moz-box-shadow:0 0px 0 #172a39 inset,1px 1px 2px #172a39 inset,1px -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
			color:#fff
			font-size:12px
			font-family: "微软雅黑","microsoft yahei",Arial
			color:#fff
			font-size:12px
			position:absolute
			left:0
			top:16px
			z-index:10
		.qq_Qshow
			width:85px;
			height:22px;
			position:relative;
			right:-8px;
			top:-7px;
			line-height:22px;
			vertical-align:middle;
			z-index:999;
			.qq_Qshowwd
				height:17px;
				line-height:17px
				margin:5px 0 0 11px;
				background:url($bgUrl+"player3/qq_14_15.png") no-repeat left center;
				vertical-align:bottom;
				padding-left:23px;
				font-size:12px;
				color:#fff;
			.qq_Qshowwdcon
				width:480px;
				height:72px;
				background-color:#0c1924
				border:1px solid #0c1218
				border-top:none
				position:absolute;
				left:-404px;
				top:22px;
				padding:8px 0 0 8px;
				overflow:hidden;
				z-index:50;
				.qq_Qlist li
					float:left;
					width:150px;
					height:72px;
					text-align:center;
					margin:5px 10px 5px 0;
					background:url($bgUrl+"player3/join_qqhrRR.png") no-repeat right center;
					overflow:hidden;
					p
						text-align:center;
					.qq_showC
						margin-top:2px;
						p
							text-align:left;
							.goddessicon
								font-size:16px;
								color:#3d68ff;
								font-weight:bold;
						div#wb_att
							text-align:center;
							margin-top:3px;
					&.weixin_Bimg
						background:none;
				.qq_Qlist
					height:72px;
					overflow:hidden;
					width:480px;
		.qq_Qshow.currentbg
			background-color:#0c1924
			border:1px solid #0c1218
			border-bottom:none
			line-height:22px;
			vertial-align:middle;
			.qq_Qshowwd
				height:15px;
				line-height:15px
				margin:5px 0 0 11px;
		.share_hover
			width:32px
			height:26px
			padding-left:23px
			position:relative
			text-align:center
			line-height:25px
			.share_con
				display:block
			.share
				background-position:0px -194px
				padding:0 2px 0 23px
				position:absolute
				z-index:600
				top:-6px
				left:1px
				background-color:#0c1924
				border:1px solid #0c1218
				border-bottom:none
				box-shadow:0 0px 0 #172a39 inset,0 0 0 #172a39 inset,0 -1px 0 #172a39 inset,-1px 0 0 #172a39 inset
				-webkit-box-shadow:2px 0px 2px #172a39 inset,1px 1px 2px #172a39 inset,1px -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
				-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
		
	.qq_share
		width:20px
		height:20px
		background-position:0 -245px
		margin: 5px 12px 2px 0
	.weixin_share
		width:27px
		height:22px
		background-position:0 -274px
		margin: 4px 12px 2px 0
	.space_share
		width:25px
		height:25px
		background-position:0 -304px
		margin: 3px 12px 2px 0
	.qq_share:hover
		width:20px
		height:20px
		background-position:0 -334px
	.weixin_share:hover
		width:27px
		height:22px
		background-position:0 -363px
	.space_share:hover
		width:25px
		height:25px
		background-position:0 -393px

		#share
			position:relative
			background: url($bgUrl+"navmenu/share.png") transparent
			width:120px
			height:63px
			left: 178px
			top: -7px
			font-size:12px
			color:#fff
			z-index:100
			#sharetext
				padding-left:24px
				padding-top:6px
				width:100%
				margin-bottom:8px
			#shareicon
				float:left
				margin-left:11px
				margin-top:30px
.my_space,.my_diary,.account_settings,.signout_login,.my_space:hover,.my_diary:hover,.account_settings:hover,.signout_login:hover,.qq_share,.weixin_share,.space_share,.qq_share:hover,.weixin_share:hover,.space_share:hover
	background:url($bgUrl+'player3/nav_smallicon.png') no-repeat left center
	color:#ccc
	display:block
.my_space,.my_diary,.account_settings,.signout_login
	margin-left:15px
	margin-top:5px
.my_space
	height:18px
	background-position:0 0
	line-height:18px
	padding-left:35px
.my_diary
	height:18px
	background-position:0 -32px
	line-height:18px
	padding-left:35px
.account_settings
	height:21px
	background-position:0 -63px
	line-height:21px
	padding-left:35px
.signout_login
	height:21px
	background-position:0 -96px
	line-height:21px
	padding-left:35px
.my_space:hover,.my_diary:hover,.account_settings:hover,.signout_login:hover
	color:#fff
.my_space:hover
	background-position:0 -123px
.my_diary:hover
	background-position:0 -155px
.account_settings:hover
	background-position:0 -186px
.signout_login:hover 
	background-position:0 -219px
.center 
	margin:auto
.newBling
	position:relative
	z-index:0
.newBling i
	display:inline-block
	width:9px
	height:9px
	position:absolute
	z-index:1
	top: 0px
	left: 15px
	background: url($bgUrl + 'red_spot.png') no-repeat center

.angle_btn_lights_1
	width:16px
	height:16px
	background:url($bgUrl+'flying1.png') no-repeat 0 0px
	background-size:16px 16px
	display:inline-block
	vertical-align:middle
	margin-right:2px
	padding:0
.angle_btn_lights_2
	width:16px
	height:16px
	background:url($bgUrl+'flying2.png') no-repeat 0 0px
	background-size:16px 16px
	display:inline-block
	vertical-align:middle
	margin-right:2px
	padding:0
.angle_btn_gray
	width:16px
	height:16px
	background:url($bgUrl+'player3/gray_2.png') no-repeat 0 0px
	display:inline-block
	vertical-align:middle
	margin-right:2px
	padding:0
.vip_btn_lights
	width:22px
	height:13px
	background:url($bgUrl+'vip.png') no-repeat center center
	background-size:22px 13px
	color:#fff
	display:inline-block
	vertical-align:middle
	margin-right:2px
	padding:0
.vip_btn_gray
	width:22px
	height:13px
	background:url($bgUrl + 'vip_25g.png') no-repeat center center
	background-size:22px 13px
	color:#ccc
	vertical-align:middle
	margin-right:2px
	display:inline-block
	padding:0