.LoveAtt_tips
	width: 330px;
	height: 220px;
.LoveAttin_box .LoveAtt_tips_title .lights_show span
	width: 139px;
	height: 20px;
	display: block;
	margin: 41px auto 0;
	background: url($bgUrl+"prop_icon/buygold_titbg.png") no-repeat 0 -106px;
	position:static;

.LoveAttin_box .LoveAtt_tips .LoveAtt_tips_title
	width: 260px;
	height: 47px;
	background: url($bgUrl+'navmenu/love_atttitlebg.png') no-repeat center center;
	left: 50%;
	line-height: 38px;
	margin-left: -115px;
	position: absolute;
	text-align: center;
	top: -31px;
	z-index: 1030;

.LoveAttin_box .LoveAtt_tips_title .lights_show
	left: 21px;
	top: -36px;

.LoveAtt_tips .LoveAtt_main
	width: 270px;
	height: 220px;

.LoveAtt_main .LoveAtt_grils
	left: -92px;
	position: absolute;
	top: -79px;

.LoveAtt_main .LoveAtt_rightcon
	width: 300px;
	margin-left: 30px;
	padding-top: 20px;

.LoveAtt_main .love_hrline
	width: 258px;
	height: 2px;
	margin: 8px auto 10px;
	background: url($bgUrl+'navmenu/love_wrod_hr.png') no-repeat center center;
.LoveAtt_rightcon a#agina_sbtn
	margin-right:20px;
