if now
  .send_clothesbox.game_listbox_clothes
    p.mt_5.ml_10
      span.red.countdown(data-module="countdown",data-seconds=now.countdownSt)
      |  后，
      span.name_color
      |  从衣柜中 可以换选的衣服。
    .close_list.shop_item_list
      a.left_btn.fl.prev(href='javascript:;')
      .close_list_tab.fl.viewport
        ul#close_listli.clothes_list.cl.shop_tab_body.overview
      a.right_btn.fr.next(href='javascript:;')
  div(data-module="raise",data-module-raise="clothes")
else
  .noplayname_bg 目前没有可换的衣服，请稍后再来