.project_box
  .banner
    margin: 0 auto;
    position: relative;

  .headline
    background: #212121 url($bgUrl + 'newproject/projectbanner_1.jpg') no-repeat center top;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    text-align: center;
    position: relative;

  .headline .content
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;

  .headline .bottom_bg
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    background: #212121 url($bgUrl + 'newproject/vedio_btnbg.jpg') no-repeat center top;

  .bottom_bg .bottom_bgcon
    width: 980px;
    margin: 0 auto;
    text-align: center;

  .bottom_bg .girl_pj_vbtn
    width: 400px;
    margin: 5px auto 0;
    text-align: center;
    height: 50px;

  .girl_pj_vbtn a
    width: 373px;
    height: 40px;
    background: url($bgUrl + 'newproject/pj_btn.png') no-repeat center center;
    margin: 0 auto;
    text-align: center;

  .girl_pj_vbtn a.dream_exchange
    background-position: 0 0;
    float: left;

  .girl_pj_vbtn a.dream_exchange:hover,.girl_pj_vbtn a.dream_exchange:active
    background-position: 0 -46px;

  .headline .content .left_ss_con
    position: absolute;
    background: url($bgUrl + 'newproject/weixi_ssimgbg.png') no-repeat center bottom;
    bottom: 52px;
    left: 0;
    height: 98px;
    width: 427px;

  .left_ss_con .left_ss_list
    width: 230px;
    height: 86px;
    position: absolute;
    right: -22px;
    bottom: 35px;

  .left_ss_list li
    width: 74px;
    height: 74px;
    background: url($bgUrl + 'newproject/weixi_sslistbg.png') no-repeat center center;
    padding: 4px 8px 8px 4px;
    float: left;
    margin-left: 25px;

  .headline .content .right_girls
    position: absolute;
    background: url($bgUrl + 'newproject/lady_img.png') no-repeat center bottom;
    bottom: 0px;
    right: 0;
    height: 100%;
    width: 498px;
  .project_main
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background: #e7e7e7 url($bgUrl + 'newproject/project_conbg.png') repeat-y center center;
    padding-bottom: 20px;
    position: relative;

  .project_main .project_con
    width: 980px;
    height: auto;
    margin: 0 auto;
    overflow:hidden;

  .project_con .project_type h2
    width: 980px;
    height: 59px;
    line-height: 59px;
    background: url($bgUrl + 'newproject/project_type_titbg.png') no-repeat center center;
    position: relative;
    margin-bottom: 30px;
  .project_con .video_con_box
    width:950px;
    height:390px;
    overflow:hidden;
    margin:0 auto;
    text-align:center;
  .project_con .video_con
    width:10000px;
    height:390px;
  .project_con .ullist .pagelist,.project_con .video_con .ullist
    width:950px;
    height:390px;
    text-align:center;
    overflow:hidden;
  .project_type dd ul
    width:950px;
    li
      width: 180px;
      float: left;
      margin: 15px 5px;
      p
        width: 180px;
        height:14px;
        line-height:14px;
        text-align: left;
        font-size:14px;
        color:#3e3e3e;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap:break-word;
        word-break:break-all;
  .newlady_channelcon,.newlady_box
    width:950px;
    text-align:center;
    overflow:hidden;
    margin:0 auto;
  .newlady_channel ul li img
    width: 180px;
    height: 240px;
    background-color: #dcdcdc url($bgUrl + 'newproject/ladyimgbg.png') no-repeat center center;
  .meiti_channel ul li img,.jiemu_channel ul li img
    width: 180px;
    height: 135px;
    background-color: #dcdcdc url($bgUrl + 'newproject/imgbg.png') no-repeat center center;
  .game_vod_channel ul li img,.game_vod_channel ul li a
    width: 180px;
    height: 135px;
  .game_vod_channel ul li a
    position:relative;
    display:inline-block;
    .vd_hoverbg
      width:188px;
      height:144px;
      background:url($bgUrl + 'newproject/imghoverbg.png') no-repeat center center;
      position:absolute;
      left:-3px;
      top:-3px;
  .meiti_channel ul li img:hover,.jiemu_channel ul li img:hover
    width: 180px;
    height: 135px;
    padding:1px 2px 5px 4px;
    margin:-1px -2px -5px -4px;
    background:url($bgUrl + 'newproject/imghoverbgold.png') no-repeat center center;
  .project_con .project_type h2 span
    width: 137px;
    height: 23px;
    display: block;
    background: #fffff7 url($bgUrl + 'newproject/project_typetit.png') no-repeat center center;
    position: absolute;
    left: 65px;
    top: 38px;

  .project_con .project_type h2 span.lady_says
    background-position: 0 -32px;

  .project_con .project_type h2 span.game_player
    background-position: 0 -62px;

  .project_con .project_type h2 span.oldladyshow_tit
    width: 300px;
    top: 36px;
    background-position: 0 0;

  .project_con .project_type h2 span.newlady_tit
    width: 282px;
    background-position: 0 -88px;
    top: 36px;
    left: 52px;
    height: 24px;

  .project_con .project_type h2 span.weibowd
    background-position: 0 -117px;

  .project_con .weibo_con
    width: 940px;
    height: 800px;
    margin: 0 auto;
    text-align: center;

  .oldlady_channel .oldlady_showbanner
    width: 974px;
    height: 530px;
    background: #fff url($bgUrl + 'newproject/projectbanner_2.jpg') no-repeat center center;
    margin: 0 auto;

  .oldlady_showbanner a
    width: 180px;
    height: 36px;
    line-height:36px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 70px;
    top: 30px;

  .project_con .page_btn
    margin: 10px auto 0;
    width: 950px;
    height:10px;
    text-align: center;

  .page_btn .page_list
    text-align: center;
    margin: 0 auto;
    width: 450px;

  .page_list span
    width: 10px;
    height: 10px;
    background:url($bgUrl + 'newproject/page_btn.png') no-repeat 0 -11px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

  .page_list span:hover,.page_list span.cur
    background:url($bgUrl + 'newproject/page_btn.png') no-repeat 0 0;