.banner.cl
  .headline
    .content
      .left_ss_con.pr
        ul.left_ss_list.cl
          li
            img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/e_new.png', alt='')
          li
            img(src='http://static.mm.' + __env.WLY_DOMAIN+ '/orig/images/newproject/e_w_m.png', alt='')
      .right_girls
    .bottom_bg
      .bottom_bgcon
        .girl_pj_vbtn
          a.dream_exchange(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22206109&autoplay=1')
.project_main.cl
  .project_con.cl
    dl#videohref.project_type.cl
      dd.meiti_channel.cl.hide
        h2.meiti_title
          span.lady_says
        #holder.video_con_box.cl
          .video_con.cl
            ul.ullist.meiti_channelcon.fl
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_1.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_2.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_3.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_4.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_5.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_6.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_7.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_8.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_9.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_10.png', alt='')
                p.channelcon_wd 视频文字栏
                li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_11.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_12.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_13.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_14.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_15.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_16.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_17.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_18.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_19.png', alt='')
                p.channelcon_wd 视频文字栏
              li
                a(target='_blank', href='')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_20.png', alt='')
                p.channelcon_wd 视频文字栏
          .page_btn.cl.swControls
            .page_list.cl
              span.cur
      dd.jiemu_channel.cl
        h2.jiemu_title
          span.game_player
        .video_con_box.cl
          .video_con.cl
            ul.meiti_channelcon.cl
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22291559&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_1.png', alt='')
                p.channelcon_wd 女神的房间之动感点唱机
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22335453&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_2.png', alt='')
                p.channelcon_wd 女神的房间之海绵宝宝大作战
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22461705&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_3.png', alt='')
                p.channelcon_wd 女神的房间之足球女神向前冲
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22466606&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_4.png', alt='')
                p.channelcon_wd 女神的房间之指压板穿越赛
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22464423&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_5.png', alt='')
                p.channelcon_wd 女神的房间之水满则溢
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22466614&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_6.png', alt='')
                p.channelcon_wd 女神的房间之障碍运球小能手 
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22464427&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_7.png', alt='')
                p.channelcon_wd 女神的房间之灌篮高手大对决
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22464430&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_8.png', alt='')
                p.channelcon_wd 女神的房间之你转我吃爆笑赛
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22466585&autoplay=1 ')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_9.png', alt='')
                p.channelcon_wd 女神的房间之天才脚趾我画你猜
              li
                a(target='_blank', href='http://i7.imgs.letv.com/player/swfPlayer.swf?id=22464435&autoplay=1')
                  img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/vedio_10.png', alt='')
                p.channelcon_wd 女神的房间之搬水果路漫漫
          .page_btn.cl.hide
            .page_list.cl
              span.cur
      dd.oldlady_channel.cl
        h2.jiemu_title
          span.oldladyshow_tit
        .oldlady_showbanner.cl.pr
          a.btn_5b(title='官方微博转发',target="_blank" href='http://weibo.com/nvshendefangjian') 去微博转发
      dd.newlady_channel.cl
        h2.jiemu_title
          span.newlady_tit
        .newlady_box.cl
          .newlady.cl
            ul.newlady_channelcon.cl
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_1.png', alt='')
                p.channelcon_wd 候选女神&nbsp;紫妍
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_2.png', alt='')
                p.channelcon_wd 候选女神&nbsp;李水诺
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_3.png', alt='')
                p.channelcon_wd 候选女神&nbsp;宋美娜
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_4.png', alt='')
                p.channelcon_wd 候选女神&nbsp;李哲羽
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_5.png', alt='')
                p.channelcon_wd 候选女神&nbsp;一娜
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_6.png', alt='')
                p.channelcon_wd 候选女神&nbsp;白静
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_7.png', alt='')
                p.channelcon_wd 候选女神&nbsp;李珍惜
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_8.png', alt='')
                p.channelcon_wd 候选女神&nbsp;韩美娜
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_9.png', alt='')
                p.channelcon_wd 候选女神&nbsp;刘章扬 
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_10.png', alt='')
                p.channelcon_wd 候选女神&nbsp;于思涵
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_11.png', alt='')
                p.channelcon_wd 候选女神&nbsp;吴平
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_12.png', alt='')
                p.channelcon_wd 候选女神&nbsp;迟浩男
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_13.png', alt='')
                p.channelcon_wd 候选女神&nbsp;施柳屹
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_14.png', alt='')
                p.channelcon_wd 候选女神&nbsp;秦梦擎
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_15.png', alt='')
                p.channelcon_wd 候选女神&nbsp;张影涵
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_16.png', alt='')
                p.channelcon_wd 候选女神&nbsp;梅雪
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_17.png', alt='')
                p.channelcon_wd  候选女神&nbsp;邹思扬
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_18.png', alt='')
                p.channelcon_wd 候选女神&nbsp;王霏
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/er_ladyimg_19.png', alt='')
                p.channelcon_wd 候选女神&nbsp;王铁玲
              li
                img(src='http://static.mm.' + __env.WLY_DOMAIN + '/orig/images/newproject/ladyimgbg.png', alt='')
                p.channelcon_wd
      dd.weibo_channel.cl
        h2.weibo_title
          span.weibowd
        .weibo_con.cl
          wb:topic(column='n', border='n', width='940', height='800', tags='%E5%A5%B3%E7%A5%9E%E7%9A%84%E6%88%BF%E9%97%B4', language='zh_cn', version='base', appkey='5pwjHT', footbar='y', url='http%3A%2F%2Fmm.wanleyun.com%2F', filter='y')