.w980
  .header-wrap
    min-width 980px
  .container
    width 980px
    margin auto
  .main
    width 980px
    margin 10px auto
    &.main
      width 980px
  .body-bg-img
    min-width 980px
    min-height 900px
  .header
    &.header-box
      #tbar
        width 300px
  .goddess_main
    width 480px
    margin 0 8px
  .goddess_video
    overflow hidden
    width 480px
  .goddess_room
    width 225px
    height 322px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -1px 0
    margin-bottom 10px
    padding 23px 10px 18px 5px
    .goddess_show
      width 220px
    .goddess_room_con
      height 321px
      padding 28px 11px 11px 11px
      width 218px
      height 321px
      padding 28px 11px 11px 11px
      width 218px
    .goddess_house
      text-align center
      bottom 4px
      right 1px
  .goddess_show
    position absolute
    top -2px
    width 255px
    z-index 1
  .goddess_task_tit
    height 32px
    line-height 32px
    vertical-align middle
    background url($bgUrl + 'player3/boxbg.png') no-repeat -744px -81px
    padding-left 35px
    font-size 12px
  .goddess_task_list
    padding 0 0 0 13px
    width 244px
    height 150px
  .goddess_task_main
    height auto
    width 207px
    padding-left 15px
    margin-left 4px
    background url($bgUrl + 'player3/gooddes_task_line.png') repeat-y 0 0
    li
      margin-top 5px
      margin-bottom 8px
      width 190px
  .goddess_task_con
    height 143px
    width 244px
  .crown_no
    margin-left 18px
  .task_titleline
    height 19px
    line-height 19px
    background url($bgUrl + 'player3/gooddes_task_titleline.png') no-repeat 0 0
    padding-left 12px
    margin-left -15px
  .tips_redimg
    background url($bgUrl + 'player3/loddeng_look.png') no-repeat 0 5px
    padding-left 15px
    margin-left -18px
  .goddess_single
    width 188px
    color #a7a292
    background-color #0a2233
    height 16px
    line-height 16px
    padding 1px 2px 1px 3px
    margin-left -3px
  .girldata_task
    width 220px
    background url("http://static.mm.wanleyun.com/orig/images/player3/square_boxbg_980.png") no-repeat -246px -682px
    height 160px
    padding 25px 10px 10px 15px
    font-size 12px
    margin-top 7px
    .goddess_single
      .girlTask_title
        width 100px
    .goddess_show
      width 220px
    .scrollbar
      right 15px
  .loadding_live
    height 15px
    background url($bgUrl + 'player3/boxbg.png') no-repeat -416px -206px
    padding-left 18px
    vertical-align middle
  .goddess_task
    width 210px
    height 142px
    padding 30px 25px 20px 5px
    margin-top 15px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -246px -681px
    .goddess_task_list
      width 210px
  .active_box_980
    width 60px
    height 100%
    background url($bgUrl + "player3/active_bg.png") repeat-y 0 0
    margin-top -12px
    background url($bgUrl + "player3/active_bg_980.png") repeat-x
    height 60px
    margin 5px auto 0
    width 980px
    line-height 60px
    overflow hidden
    &.active_box_up
      display block
      margin 10px auto
    li
      width 60px
      text-align center
      margin 0 auto
      cursor pointer
      float left
      height 50px
      margin 5px 10px 0
      line-height 50px
      position relative
      div
        background url($bgUrl + 'player3/active_icon.png') no-repeat center center
        margin 13px auto 0
        position absolute
        bottom 0
        left 50%
        margin-left -24px
        &.ladynotice_1
          width 44px
          height 47px
          background-position 0 -611px
        &.ladygamereshow
          width:48px
          height:46px
          background-position:0 -559px
        &.active_2
          width 33px
          height 43px
          background-position 0 0
        &.first_charge_3
          width 50px
          height 39px
          background-position 0 -51px
        &.vip_bug_4
          width 48px
          height 33px
          background-position 0 -99px
        &.sign_package_5
          width 50px
          height 39px
          background-position 0 -141px
        &.constellation_6
          width 39px
          height 39px
          background-position 0 -190px
        &.ranking_list_7
          width 38px
          height 39px
          background-position 0 -237px
        &.persian_merchants_8
          width 50px
          height 41px
          background-position 0 -288px
        &.special_merchants_9
          width 50px
          height 39px
          background-position 0 -384px
        &.mysterious_merchants_9
          width 50px
          height 40px
          background-position 0 -339px
        &.illustrated_10
          width 32px
          height 38px
          background-position 0 -432px
        &.bottle_img
          width 28px
          height 42px
          background url($bgUrl + "bottle/bottle_smaillimg_28.png") no-repeat center center
          margin-left -15px
    .wish_bottle_word
      position absolute
      bottom -2px
      left 50%
      margin-left -20px
  .active_box_right
    &.active_box_right
      display none
  .wish_bottle_word
    width 38px
    height 14px
    background url($bgUrl + 'player3/active_icon.png') no-repeat 0 -480px
    text-align center
    margin 0 auto
  .goddess_left
    margin-left 2px
  .ranking_pk_main
    width 228px
    height 224px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -246px -392px
    .popular-scroll
      &.scrollbars
        .scrollbar
          height 220px
        .viewport
          .overview
            width 210px
            height 220px
    .ranking_square_hr
      width 220px
      background url($bgUrl + "player3/ranking_hr_220.png") no-repeat 0 0
  .goddess_ranking_top
    width 230px
    height 239px
    padding 43px 4px 10px 6px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -1px -366px
  .ranking_type_list
    width 240px
    margin-left 0
    margin-bottom 0
    li
      width 72px
      height 22px
      line-height 22px
      background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -361px -365px
      &.on
        height 23px
        margin-bottom -1px
        background url($bgUrl + "player3/square_boxbg_980.png") no-repeat -246px -365px
  .popularity_rankgin_pk
    height 132px
    padding 0 5px
    width 210px
    li
      width 90px
      height 110px
      margin 0 auto
      position absolute
      text-align center
      &.user_photo_1
        left 50%
        margin-left -44px
        top -13px
      &.user_photo_2
        left 0
        bottom -14px
      &.user_photo_3
        right 0
        bottom 0
      div
        width 90px
        height 100px
        background url($bgUrl + "player3/ranking_photobg_90.png") no-repeat
        margin 0 auto
        position relative
        z-index 1
        img
          width 32px
          height 31px
          background url($bgUrl + "player3/purple_photobg_36.png") no-repeat 0 0
          padding 3px 2px 2px
          position absolute
        ins
          left 32px
        &.pk_user_photpbg1
          background-position 0 0
          ins
            bottom 20px
          img
            right 27px
            top 34px
        &.pk_user_photpbg2
          background-position 0 -108px
          height 88px
          ins
            bottom 19px
          img
            right 27px
            top 26px
        &.pk_user_photpbg3
          background-position 0 -204px
          height 102px
          ins
            bottom 20px
          img
            right 27px
            top 41px
  .goddess_ranktitle
    background url($bgUrl + "player3/ranking_img.png") no-repeat 0 -131px
    height 46px
    left 2px
    position absolute
    top -7px
    width 237px
    span
      display none
  .photobg
    &.lights2
      background url($bgUrl + "boxbg.png") no-repeat scroll -334px -668px rgba(0, 0, 0, 0)
      padding 4px
    &.lights1
      background url($bgUrl + "boxbg.png") no-repeat scroll -303px -668px rgba(0, 0, 0, 0)
      padding 4px
  .mt_028
    margin-top -28px
  .mt_015
    margin-top -14px
  .goddess_notice_con
    width 211px
    height 215px
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat scroll -246px 0
    padding 30px 15px 15px
    .goddess_notice_list
      li
        .notice_conshow
          width 160px
  .noticeBoard
    &.scrollbars
      .scrollbar
        right -10px
  .notice
    .noticeBoard
      ul
        width 209px
        height 323px
      .viewport
        width 209px
        height 323px
    .notice_firstbg
      .notice_first
        width 180px
  .popularity_square_rank
    .yellow_4
      letter-spacing -0.05em
  .mt_05
    margin-top -1px
  .chat_viewer
    background url($bgUrl + "player3/square_boxbg_980.png") no-repeat scroll -498px 0
    font-size 12px
    height 256px
    margin-top 14px
    padding 0 5px
    width 231px
    .chat_viewer_tab
      width 227px
    .chat_wiew
      width 218px
  .view_box
    li
      width 180px
      img
        margin-left -4px
  .overview
    &.view_box
      margin-left 5px
  .emoticonsTab
    a
      width 69px
  .emotionDropDownInner
    .scrollbars
      .viewport
        height 136px
  .btn_chat
    display inline-block
    height 24px
    width 48px
    float left
    margin-left 0
    background #2ec2e5
    text-align center
    line-height 24px
    font-size 12px
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px
    cursor pointer
    margin-left 4px
  a
    &.btn_chat
      &:hover
        background #43d1f4
        color #fff
      &:active
        background #037aa2
        color #fff
  .chat_holder
    display inline-block
    height 24px
    line-height 24px
    width 202px
    padding 0 6px
    position absolute
    z-index 1
    left 0
    top 0
    position absolute
    z-index 2
    display inline-block
    color #808080
  .chat_box
    .sending
      background url($bgUrl + "sending.gif") no-repeat left center
      background-size 12px 12px
    .sent
      background none

.w980 .header-wrap .header-wrapbgshowbbg,.w980 .headerbgC
  width 980px

.w980 .goddess_left,.w980 .goddess_right
  width 240px
  color #fff
  font-size 12px

.w980 .video_kankan,.w980 .video_kankan em
  color #e73378

.w980 .active_box_980 li.BottleShow div
  width 34px
  height 50px
  background url($bgUrl + "bottle/bottle_smaillimg_h50.png") no-repeat center center
  padding-left 0
  margin-left -20px
  &.bottle_s_1
    background-position 0 0
  &.bottle_s_2
    background-position 0 -56px
  &.bottle_s_3
    background-position 0 -115px
  &.bottle_s_4
    background-position 0 -176px


.w980 .ranking_pk_main .popular-scroll.scrollbars,.w980 .ranking_pk_main .popular-scroll.scrollbars .viewport
  width 210px
  height 220px

.w980 .photobg.lights1, .w980 .photobg.lights2, .w980 .photobg.link, .w980 .photobg.lights0
  background url($bgUrl + "boxbg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)
  display block
  height 18px
  left 0
  padding 4px
  position absolute
  top -2px
  width 18px

.w980 .photobg.link, .w980 .photobg.lights0
  background url($bgUrl + "boxbg.png") no-repeat scroll -367px -668px rgba(0, 0, 0, 0)
  padding 4px

.w980 .goddess_notice_con .goddess_notice_list,.goddess_notice_con .goddess_notice_list li
  width 195px

.w980 .goddess_room .noticeBoard.scrollbars .viewport, .w980 .goddess_room .noticeBoard.scrollbars .overview,.w980 .goddess_room .noticeBoard.scrollbars
  width 210px

.w980 .popularity_square_rank,.w980 .popularity_square_rank li
  width 205px

.w980 #emoticonDropDown,.w980 .emotionDropDownInner .scrollbars .viewport
  width 219px

.w980 .chatText,.w980 input.chatText
  border #1774a4 solid 1px
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  height 12px
  line-height 12px
  color #fff
  display inline-block
  position relative
  z-index 1
  padding 5px 2px
  width 130px
  border #1774a4 solid 1px
  background transparent
  font-size 12px
  font-weight normal
  margin-left 2px

.w980 input.chatText:hover,.w980 input.chatText:focus
  background transparent
  color #fff

.w980 .girldata_task .viewport,.w980 .girldata_task .overview
  width 207px

