.girllist
  display:block
.left_btn.prev,.gift_leftbtn.prev
  width:11px 
  height:17px
  background:url($bgUrl + "prop_icon/lr_clickturnpage_btn.png") no-repeat 0 0
  margin-top:20px
  cursor:pointer
.right_btn.next,.gift_rightbtn.next
  width:11px 
  height:17px
  background:url($bgUrl + "prop_icon/lr_clickturnpage_btn.png") no-repeat -43px 0
  margin-top:20px
  cursor:pointer;
.goddess_show_con .gift_leftbtn,.goddess_show_con .gift_rightbtn
  margin-top: 70px;
.left_btn.prev:not(.disable):hover,.gift_leftbtn.prev:not(.disable):hover
  background:url($bgUrl + "prop_icon/lr_clickturnpage_btn.png") no-repeat -13px 0
.right_btn.next:not(.lock_img):not(.disable):hover,.gift_rightbtn.next:not(.lock_img):not(.disable):hover
  background:url($bgUrl + "prop_icon/lr_clickturnpage_btn.png") no-repeat -28px 0