#buytipsStatusInner.bottle_box.pr
	.buytips_title
		span
		|            
.buytips_main.pr
	.tips_grils
		img(src='images/bottle/tips_grils.png')
	|                 
	.cl.mt_20.buytips_rightcon
			p.cl.yellow_2.mt_15
			| &#x60A8;&#x8BB8;&#x613F;&#x8FD8;&#x5DEE;:
			span.red
				img(src='images/bottle/gold_img.png')
				| 1314
			| &#x9;                
			.cl.mt_60.ml60
			a.btn_1y.w90(target='_blank', href='http://pay.' + window.domain) &#x7ACB;&#x5373;&#x5145;&#x503C;
