.goldWish_title
  span
    |            
.goldWish_main
  p
    | &#x60A8;&#x5BF9;
    span.name_color= girlname
    | &#x8BB8;&#x4E0B;&#x7684;&#x5FC3;&#x613F;&#x662F;&#xFF1A;
  |                 
  ul.wish_explain.cl
    li.mr_10.on.gwradio
      input#gwradio1(type='radio', name='wish', value='')
      label#gwContent1
    li.gwradio
      input#gwradio2(type='radio', name='wish', value='')
      label#gwContent2
    li.mr_10.gwradio
      input#gwradio3(type='radio', name='wish', value='')
      label#gwContent3
    li.gwradio
      input#gwradio4(type='radio', name='wish', value='')
      label#gwContent4  |                 
  #gwButton.cl.mt_20
|            
input#wishId(type='hidden', value='0')
