.diamondWish_title
    span
    |            
.diamondWish_main
  p
    | &#x60A8;&#x5BF9;
    span.name_color= girlname
    | &#x8BB8;&#x4E0B;&#x7684;&#x5FC3;&#x613F;&#x662F;&#xFF1A;
  |                 
  ul.wish_explain.cl
    li.mr_10.on.dwradio
      input(type='radio')
      label#dwContent1
    li.dwradio
      input(type='radio')
      label#dwContent2
    li.mr_10.dwradio
      input(type='radio')
      label#dwContent3
    li.dwradio
      input(type='radio')
      label#dwContent4
    li.dwradio
      textarea#inputwish.write_write.mt_5.intput_test &#x60A8;&#x4E5F;&#x53EF;&#x4EE5;&#x8BB8;&#x4E0B;&#x81EA;&#x5DF1;&#x7684;&#x613F;&#x671B;...
  |                 
  #dwButton.cl.mt_20
input#wishId(type='hidden', value='0')
