.diamondWish_title
    span
    |            
.diamondWish_main
  p
    | 您为
    span.name_color= girlname
    | 出的试炼题目是：
  |                 
  ul.wish_explain.cl
    li.w190.on.dwradio
      input(type='radio')
      label#dwContent1
    li.w190.dwradio
      input(type='radio')
      label#dwContent2
    li.w190.dwradio
      input(type='radio')
      label#dwContent3
    li.w190.dwradio
      input(type='radio')
      label#dwContent4
    li.dwradio
      textarea#inputwish.write_write.mt_5.intput_test 您也可以写下自己的题目...
  |                 
  #dwButton.cl.mt_20
input#wishId(type='hidden', value='0')
