.bottle_title
  span
  |          
.bottle_main
  .bottle_goddessicon.bottleimg
    p.yellow_2.ml_10.wish-tip
      | 女神将在
      span#wishCd.red.mr_10.ml_10
      | 后在节目中进行今日试炼，
      br
      | 你可以为你的女神试炼出题，试炼内容听你的！
      //= girlname + "将从许愿瓶中抽取一个愿望，"
      //br
      //| 也许梦想成真的就是你
    |                      
    p.mt_20.white.ml_25.hide &#x8FDE;&#x7EED;10&#x6B21;&#x91D1;&#x5E01;&#x8BB8;&#x613F;&#x540E;&#xFF0C;&#x8D60;&#x9001;1&#x6B21;&#x94BB;&#x77F3;&#x8BB8;&#x613F;
  |                 
  .make_wish_type.cl.mt_5
    .gold_wish.fl.mr_10
      .gold_wish_tit
      |                           
      p &#x9001;&#x767D;&#x8272;&#x6216;&#x7EFF;&#x8272;&#x9053;&#x5177;
      |                           
      p.wish-time-tip
        span#coinCd.red.mr_10
        span &#x540E;&#x514D;&#x8D39;
      |                           
      p.wish-price-tip
        span#goldPrice.gold_img
      |                           
      p
        a#oneCoidWish.btn_1y.w90(href='#') 出&nbsp;&nbsp;题
      |                           
      p.mt_25 &#x9001;&#x84DD;&#x8272;&#x9053;&#x5177;
      |                           
      p
        span#TgoldPrice.gold_img
      |                           
      p
        a#tenCoinWish.btn_1y.w120(href='#') 出题中选率x10
    |                      
    .diamond_wish.fl.pr
      .diamond_wish_tit
      |                           
      p.mt_30 &#x9001;&#x7EFF;&#x8272;&#x9053;&#x5177;
      |                           
      p.wish-time-tip
        span#diamondCd.red.mr_10
        span &#x540E;&#x514D;&#x8D39;
      |                           
      p.wish-price-tip
        span#diaPrice.h20.diamond_img &#x514D;&nbsp;&nbsp;&#x8D39;
      |                           
      p
        a#oneDimWish.btn_1y.w90(href='#') 出&nbsp;&nbsp;题
      |                           
      p.mt_25 &#x9001;&#x7D2B;&#x8272;&#x9053;&#x5177;
      |                           
      p
        span#TdiaPrice.diamond_img
      |                           
      p
        a#tenDimWish.btn_1y.w120(href='#') 出题中选率x10
