.bottle_main,.wishsuccess_main,.diamondWish_main,.glodWish_main
	color:#fff;
	font-size:12px;
	margin:0 auto;
.ui-popup-focus .bottleGames_big
	width:385px;
.ui-popup-focus .Coidwish_Dialog,.ui-popup-focus .Dimwish_Dialog
	width:362px;
.ui-popup-focus .getaward_dialog
	width:252px;
.bottle_main .wish-tip
	text-align: center;
.bottleGames .ui-dialog-grid,.wishSuccess .ui-dialog-content
	width: 100%;
.bottleGames .ui-dialog-body,.wishSuccess .ui-dialog-body
	padding:0;
.bottleGames .ui-dialog-title,.wishSuccess .ui-dialog-title
	padding:0;
	position:relative;
	overflow:visible;
.bottleGames .ui-dialog-header,.wishSuccess .ui-dialog-header
	border:none;
.bottleGames .ui-dialog-close,.wishSuccess .ui-dialog-close
	width:15px;
	height:15px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -585px 0;
	right:-13px;
	opacity:1;
	top:-5px;
	z-index:1040;
.bottleGames .ui-dialog-close:hover,.wishSuccess .ui-dialog-close:focus,.wishSuccess .ui-dialog-close:hover
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -585px -15px;
	opacity:1;
.bottle_box
	width:390px;
	height:350px;
	color:#fff;
.bottle_title span
	width:172px;
	height:47px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -80px;
	position:absolute;
	left:115px;
	top:-35px;
.bottle_b_1,.bottle_b_2,.bottle_b_3,.bottle_b_4
	height:71px;
	background:url($bgUrl+'bottle/bottle_bigimg.png') no-repeat;
	padding-left:60px;
	padding-top:25px;
.bottle_b_1
	background-position:0 0;
.bottle_b_2
	background-position:0 -102px;
.bottle_b_3
	background-position:0 -203px;
.bottle_b_4
	background-position:0 -302px;
.bottle_s_1,.bottle_s_2,.bottle_s_3,.bottle_s_4
	text-align:center;
	height:75px;
	background:url($bgUrl+'bottle/bottle_smaillimg.png') no-repeat;
	padding-left:65px;
.bottle_s_1
	background-position:0 0;
.bottle_s_2
	background-position:0 -102px;
.bottle_s_3
	background-position:0 -203px;
.bottle_s_4
	background-position:0 -302px;
.gold_wish,.diamond_wish
	width:186px;
	height:225px;
	text-align:center;
	border:1px solid #1774a4;
	background-color:#273851;
	border-radius:2px;
	-webkit-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
	-moz-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
	box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
.gold_wish_tit
	width:128px;
	height:22px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -136px;
	vertical-align:middle;
	margin:8px auto 0;
.diamond_wish_tit
	width:133px;
	height:64px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -168px;
	vertical-align:middle;
	position:absolute;
	left:30px;
	top:-15px;
.gold_img
	height:20px;
	line-height:20px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -516px -68px;
	padding-left:25px;
	display:block;
.diamond_img
	height:19px;
	line-height:19px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -516px -92px;
	padding-left:24px;
	display:block;
.gold_wish p,.diamond_wish p
	margin-bottom:4px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
/*许愿成功*/
.wish_success_title span
	width:216px;
	height:102px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -419px;
	position:absolute;
	left:18px;
	top:-75px;
.ui-popup-focus .ui-dialog.wishSuccess
	width:250px;
	padding:10px 10px 10px;
	background:url($bgUrl+'bottle/bg_white.png') repeat 0 0;
.wishsuccess_main
	width:232px;
	text-align:center;
	border:1px solid #1774a4;
	background-color:#273851;
	border-radius:2px;
	padding:0 5px 15px 11px;
	-webkit-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
	-moz-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
	box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
	.prop_list
		width:232px;
		height:auto;
		margin:25px auto;
.prop_list li
	width:40px;
	height:40;
	margin-right:6px;
	float:left;
	background:url($bgUrl+'bottle/iconlink_40.png') no-repeat 0 0;
	cursor:pointer;
.prop_list li:hover
	background:url($bgUrl+'bottle/iconhover_40.png') no-repeat 0 0;
.prop_list li img
	vertical-align:top;
	width:38px;
	height:38px;
	margin:1px;
.wishSuccess .ui-dialog-close
	right:-5px;
.Luckdraw_title span
	width:216px;
	height:102px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -251px;
	position:absolute;
	left:18px;
	top:-66px;
.Luckdrawfail_title span
	width:216px;
	height:92px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -528px;
	position:absolute;
	left:18px;
	top:-66px;
.fail_face
	width:61px;
	height:61px;
	background:url($bgUrl+'bottle/look_img.png') no-repeat 0 0;
	margin:25px auto 10px;
.goldWish_main,.diamondWish_main
	width:360px;
	color:#fff;
	font-size:12px;
.goldWish_title span
	width:157px;
	height:40px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -621px;
	position:absolute;
	left:95px;
	top:-46px;
.diamondWish_title span
	width:157px;
	height:40px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -677px;
	position:absolute;
	left:95px;
	top:-46px;
.w170
	width:170px;
.w160
	width:160px;
.wish_explain li
	float:left;
	display:inline;
	height:18px;
	margin-top:15px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -589px -135px;
	padding-left:18px;
.wish_explain li.on
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -589px -118px;
	color:#2ec1e5;
.write_write
	width:336px;
	height:50px;
	background-color:#000;
	border-radius:2px;
	border:1px solid #a2a2a2;
	color:#808080;
	font-size:12px;
	overflow:hidden;
	resize: none;
	padding:1px 2px;
.wishsuccess_main .getaward_btnd
	width:226px;
	margin:20px auto 0;
	text-align:center;
	a#againokbtn,#againButton a
		margin-left:15px;
.wish_explain li label,.wish_explain li input
	float:left;
	display:inline;
	vertical-align:middle;
.wish_explain li input
	display:none;
.btn_1y img
	vertical-align:middle;
	margin:0 5px;
.wish_explain
	margin-bottom:30px;
.wish_explain li.on textarea
	border:1px solid #2ec1e5;
.star_img
	padding-left:45px;
	height:24px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -576px -42px;
.tips_grils img
	position:absolute;
	left:-79px;
	bottom:-10px;
.buytips_title span
	width:172px;
	height:47px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat 0 -736px;
	position:absolute;
	left:50px;
	top:-30px;
.buytips_rightcon
	width:200px;
	height:130px;
	color:#fff;
	font-size:12px;
	padding:20px 0 0 50px;
.buytips_rightcon img
	vertical-align:middle;
	margin:0 2px;
.pop-msg-emos
	border:1px solid #0c1218;
	border-radius:2px;
	background-color:#0c1924;
	font-size:12px;
	box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
	-webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
	-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
.pop-msg-emos .ui-dialog-header
	border:none;
.pop-msg-emos .ui-dialog-title
	background:url(../images/tbg_vip.png) no-repeat center top;
	position:relative;
	top:-40px;
	height:102px;
	padding:0px;
.pop-msg-emos-angel .ui-dialog-title
	background:url(../images/tbg_angel.png) no-repeat center top;
	position:relative;
	top:-40px;
	height:102px;
	padding:0px;
.pop-msg-emos .tip-msg-gril
	position:absolute;
	z-index:100;
	top:-17px;
	left:-80px;
.pop-msg-emos .ui-dialog-body
	padding:0px 20px 0px 20px;
.pop-msg-emos .ui-dialog-content
	position:relative;
	z-index:300;
	top:-63px;
	padding-left:60px;
.pop-msg-emos .ui-dialog-footer
	position:relative;
.pop-msg-emos .msg-text
	padding-top:20px;
	line-height:24px;
.pop-msg-emos .ui-dialog-close
	width:15px;
	height:15px;
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -585px 0;
	opacity:1;
	z-index:1040;
.pop-msg-emos .ui-dialog-close:hover,.pop-msg-emos .ui-dialog-close:focus
	background:url($bgUrl+'bottle/bottolbg.png') no-repeat -585px -15px;
	opacity:1;
.pop-msg-emos .ui-dialog-button button
	background:#2ec1e5;
	border:none;
	color:#fff;
	width:88px;
	display:inline-block;
	height:24px;
	line-height:24px;
	padding:0;
	margin-right:10px;
.pop-msg-emos .ui-dialog-button button:hover
	background:#43d1f4
.pop-msg-emos .ui-dialog-button button:active
	background:#037aa2
.pop-msg-emos .ui-dialog-button button.ui-dialog-autofocus
	background:#f7aa25;
	border:none;
.pop-msg-emos .ui-dialog-button button.ui-dialog-autofocus:hover
	background:#f7d725
.pop-msg-emos .ui-dialog-button button.ui-dialog-autofocus:active
	background:#ca8017
#gwButton.ml100,#dwButton.ml100
	margin:60px auto 0;
	text-align:center;