.wish_success_title
	span
	|            
.wishsuccess_main.tc
	p.yellow_2.mt_40 &#x60A8;&#x7684;&#x613F;&#x671B;&#x5DF2;&#x653E;&#x5165;&#x8BB8;&#x613F;&#x74F6;&#xFF0C;&#x540C;&#x65F6;&#x60A8;&#x62BD;&#x5230;&#x4E86;&#xFF1A;
	|                 
	ul#luckresult9999.cl.prop_list.mt_25
	|                 
	.cl.mt_20.getaward_btnd
		#againButton
		|                 &#x9;
		|                 &#x9;
		a#againokbtn.w90.btn_2b.ml_15.fl(href='javascript:void(0);') &#x786E;&#x5B9A;
