.wish_success_title
  .light_show
    span
    |            
.wishsuccess_main.tc
  p.yellow_2.mt_40 您的题目我们已记录下来，同时您抽到了：
  |                 
  ul#luckresult9999.cl.prop_list.mt_25
  |                 
  .cl.mt_20.getaward_btnd
    #againButton
    |                 &#x9;
    |                 &#x9;
    a#againokbtn.w90.btn_2b.ml_15.fl(href='javascript:void(0);') &#x786E;&#x5B9A;
