.Luckdrawfail_title
    span
    |            
    .wishsuccess_main.tc
      .fail_face
      |                 
      p.yellow_2 &#x5F88;&#x9057;&#x61BE;&#xFF0C;&#x6B64;&#x6B21;&#x62BD;&#x5956;&#x4EC0;&#x4E48;&#x90FD;&#x6CA1;&#x62BD;&#x4E2D;~
      |                 
      .cl.mt_25
        a.w80.btn_2b.ml70(href='javascript:closepop();') &#x786E;&nbsp;&nbsp;&#x5B9A;
