.buytips_title
    span
.buytips_main.pr
  .tips_grils
    img(src=window.resUrl + 'images/bottle/tips_grils.png')
  |   
  .cl.mt_20.buytips_rightcon
    p.cl.yellow_2.mt_15 &#x8D2D;&#x4E70;&#x6210;&#x529F;&#xFF0C;&#x60A8;&#x6700;nb&#x4E86;
    |   
    .cl.mt_60.ml_40
      a#buyDoned.btn_1y.w90(href='#') &#x6715;&#x77E5;&#x9053;&#x4E86;
    |   
    input#buyFrom(type='hidden', value='')
