.buytips_title
    span
.buytips_main.pr
  .tips_grils
    img(src=window.resUrl + 'images/bottle/tips_grils.png')
  |   
  .cl.mt_20.buytips_rightcon
    p.cl.yellow_2.mt_15
      | &#x60A8;&#x8D2D;&#x4E70;&#x7684;
      span.white
        img(src=window.resUrl + 'images/prop_icon/start_img.png')
        | 15455
      | &#x8FD8;&#x5DEE;:
      span.red
        img(src=window.resUrl + 'images/prop_icon/blue_drill.png')
        | 1314
    |     
    .cl.mt_60.ml_40
      a.btn_1y.w90(href='pay.html?from=persia') &#x7ACB;&#x5373;&#x5145;&#x503C;
