.flushtips_title
	.lights_show
			span
.flushtips_main.pr
	.tips_grils
		img(src=window.resUrl + 'images/bottle/tips_grils.png')
	|   
	.cl.mt_10.buytips_rightcon.yellow_gold_show
		p
			span.yellow_2
				| &#x5237;&#x65B0;&#x66F4;&#x4F4E;&#x4EF7;&#x683C;&#x9700;&#x8981;&#x6D88;&#x8017;:
				img#pdcRfPriceType(src='')
				| 1
		|     
		p.mt_10.ml_50
			| (&#x4ECA;&#x65E5;&#x5237;&#x65B0;
			span#pdcRTimes.red 1
			| &#x6B21;)
		|     
		input#itemId(type='hidden', value='')
		|     
		.cl.mt_45.ml_5
			a#cancel_Refresh.btn_2b.w90.fl.mr_10(href='#') &#x53D6;&nbsp;&nbsp;&#x6D88;
			a#DiscountRefresh.btn_1y.fl.w90(href='#') &#x597D;&nbsp;&nbsp;&#x7684;
