- var gameTypes = [
-   {
-     name:'线索',
-     tmpl:'gameClue'
-   },{
-     name:'押注',
-     tmpl:'gameBet'
-   },{
-     name:'众筹',
-     tmpl:'gameSingleRaise'
-   },{
-     name:'集资',
-     tmpl:'gameRaise'
-   },{
-     name:'投票',
-     tmpl:'gameVote'
-   },{
-     name:'竞标',
-     tmpl:'gameSingleRaise'
-   },{
-     name:'排行',
-     tmpl:'gameRating'
-   },{
-     name:'争夺',
-     tmpl:'gameRoomRaise'
-   },{
-     name:'心愿',
-     tmpl:'gameHope'
-   }
- ];