extends ../raise/index

block append description
  p.w200= description

block append img
  .homef_img.fl
    img(src=window.resUrl + 'item/' + id + '/76/1/' + quality)

block append raiseBtn
  .w90.btn_1y.ml_60.mt_20.mb_5 朕要出价