include gameTypes

- var playingGames = list.slice(0,6).filter(function(item){if('countdown' in item){return item.countdown > 0;}else{return true;}});
.play_gamesbox.game_listbox_game
  // 一开始大赛，筹备状态
  .play_games_start.cl
    .noplayname_bg 请稍后再来，暂时没有游戏
    .games_panel.hide
      ul.fl.play_games_starttab
        for game, index in playingGames
          - var gameType = gameTypes[game.subtype * 1 - 1];
          - var className = '';
          if index > 0
            - className += 'mt_2'
          if game.focus === true
            - className += ' on'
          li(class=className,data-game-tab=game.atomid,data-tmpl=gameType.tmpl)= gameType.name
      .games_start_main.fl
div(data-module="raise",data-module-raise="game",data-raise-type="game")