extends ../../layouts/index

block append title
  title 女神的房间 - 玩乐云 -全球首款互联网互动真人游戏秀

block append stylesheet
  link(href='http://static.mm.' + __env.WLY_DOMAIN + '/dist/css/mm/app.6174c802d03d3b83.css', rel='stylesheet', type='text/css')
  style(type='text/css').
    html,body{
    height:100%;
    width:100%;
    }
block append meta
  meta(property='wb:webmaster', content='47dec89457353ad1')
  
block append headjs
  script(type='text/javascript').
    var girlid = 0;
    var page = 'app';

block append body
  #header.header(data-module='header')
  div#apptemoshow.indexappC(data-module='appdowntemp')
    include ../../../../modules/appdowntemp/index
  div(data-module='pkg')
  div.cl.appfooter
    include ../../../../modules/mm_footer/index
  div.exchange(data-module='exchange')

block append footjs
  script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/app.min.a1173c82b0c58c6c.js')
