.vipbuy
	display:block
	.viptq
		position:absolute
		left:10px
		bottom:2px
	.girls_vipcon
		width:426px
		height:201px
		background-color:#273851
		padding:2px 10px 2px 0
		border:1px solid #1774a4
		border-radius:2px
		-webkit-box-shadow: 3px 3px 3px #2f4662 inset
		-moz-box-shadow: 3px 3px 3px #2f4662 inset
		box-shadow: 3px 3px 3px #2f4662 inset
		margin-bottom:14px
		.vip_tqword
			span
				margin-right:10px;
				display:inline-block;
	.vip_welfare
		width:260px
	.girls_rightcon
		width:438px
		padding:5px 5px 10px
		border-radius:2px
	.vipBuy_title
		position:absolute
		left:50%
		margin-left:-56px
		padding-left:90px
		z-index:1030
		top:-40px
		width:129px
		text-align:center
		height:47px
		line-height:38px
		background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 0
	.vipBuy_title span
		width:42px
		height:22px
		background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat -178px -162px
		display:block
		margin-top:5px
	.vip_welfare ul li
		float:left
		display:inline
		margin:5px 10px 10px 10px
		width:62px
		text-align:center
	.vip_welfare ul li p
		width:62px
		text-align:center
		clear:both;
		height:20px;
		overflow:hidden;