.activitygb
  display:block
.dialog_con
	border:1px solid #0c1218
	background-color:#0c1924
	padding:10px
	.icon_img
		padding:5px
		border:1px solid #1774a4
		background-color:#273851
		height:320px
		width:136px
	.scrollbar
		top:5px
		right:8px
	.viewport     
		height:320px
		ul
			width:124px
			overflow-y:hidden
			li
				float:left
				display:inline
				width:50px
				height:50px
				background:url($bgUrl + 'prop_icon/activeicon_imgbg.png') no-repeat 0 0
				padding:1px
				margin:6px 4px 6px
				cursor:pointer
			li:hover,li:active,li.act
				background:url($bgUrl + 'prop_icon/icon_imgbg_hover58.png') no-repeat 0 0
				padding:4px
				margin:3px 1px 3px
			li a
				float:left
				display:inline
				width:50px
				height:50px
				background:url($bgUrl + 'prop_icon/iconbg_link_52.png') no-repeat 0 0
				padding:1px
			li a:hover
				background:url($bgUrl + 'prop_icon/iconbg_hover_52.png') no-repeat 0 0
				padding:4px
				margin:-4px
.dialog_con ul li img,.vip_welfare ul li img,.dayrechange_iconlist li img,.firstrechange_iconlist li img
	width:50px
	height:50px
	vertical-align:top
.action_rightcon
	width:370px
	height:330px
	margin-left:10px
.action_ad img
	border:1px solid #1774a4
.ad_con,.action_rightcon
	font-size:12px
.action_title
	position:absolute
	left:50%
	margin-left:-110px
	z-index:1030
	top:-42px
	width:219px
	text-align:center
	height:47px
	line-height:38px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 0
	span
		height:22px
		background:url($bgUrl +'prop_icon/prop_iconbg.png') no-repeat -92px -92px
		display:block
		margin-top:5px
.ladyGames
	.ui-dialog-title
	padding:10px 0 2px
	position:relative
	overflow:visible
	.ui-dialog-header
	border:none
	.ui-dialog-close
	width:15px
	height:15px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat -204px -58px
	right:5px
	top:5px
	z-index:1040
	opacity:1
	&:hover,&:focus
		background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat -204px -73px

/*买满就送*/
.exchange_code
	width:206px
	height:17px
	padding:3px 2px
	color:#808080
	margin-right:5px
	border:1px solid #1774a4
	background-color:#000101
.ad_btn,.package_list
	width:370px
	.draw-package-btn
		border: none
.buy_prop li,.return_action_icon li
	float:left
	display:inline
.buy_prop .blue_drill
	height:18px
	background:url($bgUrl + 'blue_drill.png') no-repeat 0 0
	padding-left:25px
.halfprice_icon
	width:100px
	height:100px
	background:url($bgUrl + 'prop_icon/iconbg_link102.png') no-repeat 0 0
	padding:1px
	margin-right:10px
.halfprice_icon:hover
	background:url($bgUrl + 'prop_icon/iconbg_hover108.png') no-repeat 0 0
	padding:4px
	margin:-4px 6px -3px -2px
.yellow_gold
	height:20px
	padding-left:25px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat -199px -120px
.gray_gold
	height:20px
	padding-left:25px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat -199px -141px
.second_price p
	margin-bottom:15px
.cost_price
	text-decoration:line-through
/*特权礼包*/
.package_list dt,.package_list dd
	width:370px
	position:relative
.package_list dd li
	float:left
	display:inline
	margin:4px;
/*在线礼包*/
.online_chest li ins
	text-decoration:none
.online_chest
	width:194px
	height:212px
	background:url($bgUrl + 'prop_icon/red_arrow_img.png') no-repeat 0 0
	margin: 40px 0 40px 120px
/*first*/
.online_chest li.chest_1
	width:109px
	position:absolute
	left:-105px
	top:20px
.online_chest li .gray_chest_1,.online_chest li .lights_chest_1,.online_chest li .close_chest_1
	width:109px
	display:block
	background:url($bgUrl + 'prop_icon/prop_box_1.png') no-repeat
.online_chest li .gray_chest_1
	height:63px
	background-position:0 0
.online_chest li .lights_chest_1
	height:105px
	background-position:0 -67px
	cursor:pointer
.online_chest li .close_chest_1
	height:49px
	background-position:0 -181px
	cursor:pointer
.online_chest li .received_chest
	width:50px
	height:18px
	text-align:center
	line-height:18px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 -56px
	color:#2ec1e5
	position:absolute
	z-index:1
.online_chest li .chest_time
	width:50px
	height:18px
	text-align:center
	line-height:18px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 -80px
	color:#ff4023
	position:absolute
.online_chest li.chest_1 .received_chest
	left:25px
	bottom:6px
.online_chest li.chest_1 .chest_time
	left:25px
	bottom:-22px

/*second*/
.online_chest li.chest_2
	width:109px
	position:absolute
	left:35px
	top:0px
.online_chest li .gray_chest_2,.online_chest li .lights_chest_2,.online_chest li .close_chest_2
	width:109px
	display:block
	background:url($bgUrl + 'prop_icon/prop_box_2.png') no-repeat
.online_chest li .gray_chest_2
	height:74px
	background-position:0 0
.online_chest li .lights_chest_2
	height:100px
	background-position:0 -85px
	cursor:pointer
.online_chest li .close_chest_2
	height:55px
	background-position:0 -194px
	margin-left: 18px
	cursor:pointer
.online_chest li.chest_2 .received_chest
	left:25px
	bottom:8px
.online_chest li.chest_2 .chest_time
	left:35px
	bottom:-22px
/*three*/
.online_chest li.chest_3
	width:109px
	position:absolute
	right:-45px
	top:85px
.online_chest li .gray_chest_3,.online_chest li .lights_chest_3,.online_chest li .close_chest_3
	width:109px
	display:block
	background:url($bgUrl + 'prop_icon/prop_box_3.png') no-repeat
.online_chest li .gray_chest_3
	height:74px
	background-position:0 0
.online_chest li .lights_chest_3
	height:103px
	background-position:0 -104px
	cursor:pointer
.online_chest li .close_chest_3
	height:66px
	background-position:0 -218px
	margin-left: 18px
	cursor:pointer
.online_chest li.chest_3 .received_chest
	left:25px
	bottom:8px
.online_chest li.chest_3 .chest_time
	left:40px
	bottom:-18px
/*four*/
.online_chest li.chest_4
	width:109px
	position:absolute
	left:30px
	top:135px
.online_chest li .gray_chest_4,.online_chest li .lights_chest_4,.online_chest li .close_chest_4
	width:109px
	display:block
	background:url($bgUrl + 'prop_icon/prop_box_4.png') no-repeat
.online_chest li .gray_chest_4
	height:94px
	background-position:0 0
.online_chest li .lights_chest_4
	height:155px
	background-position:0 -97px
	cursor:pointer
.online_chest li .close_chest_4
	height:75px
	background-position:0 -256px
	margin-top:15px
	margin-left:8px
	cursor:pointer
.online_chest li.chest_4 .received_chest
	left:25px
	bottom:20px
.online_chest li.chest_4 .chest_time
	left:25px
	bottom:-18px
/*five*/
.online_chest li.chest_5
	width:124px
	position:absolute
	right:195px
	top:115px
.online_chest li .gray_chest_5,.online_chest li .lights_chest_5,.online_chest li .close_chest_5
	width:124px
	display:block
	background:url($bgUrl + 'prop_icon/prop_box_5.png') no-repeat
.online_chest li .gray_chest_5
	height:104px
	background-position:0 0
.online_chest li .lights_chest_5
	height:138px
	background-position:0 -163px
	cursor:pointer
.online_chest li .close_chest_5
	height:90px
	background-position:0 -345px
	cursor:pointer
.online_chest li.chest_5 .received_chest
	left:25px
	bottom:20px
.online_chest li.chest_5 .chest_time
	left:25px
	bottom:-18px
/*签到*/
.sign_iconlistli
	width:350px
	height:296px
	padding:5px 10px
	border:1px solid #1774a4
	background-color:#273851
.sign_iconlistli li
	float:left
	display:inline
	width:58px
	height:58px
	position:relative
	margin:8px 0
	text-align:center
.sign_iconlistli li ins.vip_purpleimg,.sign_iconlistli li ins.vip_grayimg,.sign_iconlistli li ins.vip_yellowimg
	width:48px
	background:url($bgUrl + 'prop_icon/icon_tips.png') no-repeat
	position:absolute
	left:0
	top:0
.sign_iconlistli li ins.vip_purpleimg
	height:48px
	background-position:0 0
.sign_iconlistli li ins.vip_grayimg
	height:48px
	background-position:0 -49px
.sign_iconlistli li ins.vip_yellowimg
	height:48px
	background-position:0 -98px
.sign_iconlistli li .ok_tips
	width:26px
	height:26px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 -104px
	position:absolute
	right:5px
	bottom:8px
.sign_icontitle
	width:310px
	float:left
	text-align:center
	color:#f7aa25
	margin-top:5px
.dialog_con ul li a,.dialog_con ul.sign_iconlistli li a
	width:52px
	height:52px
	background:url($bgUrl + 'itembg1.png') no-repeat center top
	padding:3px;
	display:block
.dialog_con ul li a:hover,.dialog_con ul.sign_iconlistli li a:hover
	background:url($bgUrl + 'itembg2.png') no-repeat center top
	padding:3px;
.girls_con .grils_img,.dayrechange_con .dayrechange_img,.firstrechange_con .firstrechange_img
	position:absolute
	left:-40px
	top:-35px
	width:165px
.girls_rightcon,.dayrechange_rightcon,.firstrechange_rightcon
	padding:5px
	background-color:#0c1924
	border:1px solid #0c1218 
	font-size:12px
	margin-left:114px
	position:relative
	z-index:1
	border-radius:2px
	-webkit-box-shadow:3px 3px 3px #273851 inset
	-moz-box-shadow:3px 3px 3px #273851 inset
	box-shadow:3px 3px 3px #273851 inset
.dayrechangecon,.firstrechangecon
	width:420px
	height:260px
	background-color:#273851
	padding:10px
	border:1px solid #1774a4
/*每日充值礼包*/
.w400
	width:400px
.w200
	width:200px
.ml_70
	margin-left:70px
.dayrechange_title,.firstrechange_title
	position:absolute
	left:50%
	margin-left:-56px
	padding-left:90px
	z-index:1030
	top:-42px
	width:129px
	text-align:center
	height:57px
	line-height:38px
	background:url($bgUrl + 'prop_icon/prop_iconbg.png') no-repeat 0 -192px
.dayrechange_title span
	width:210px
	height:102px
	background:url($bgUrl + 'prop_icon/rechange_word.png') no-repeat 0 0
	display:block
.dayrechange_explain li.number_1,.firstrechange_explain li.number_1
	background-position:0 0
.dayrechange_explain li.number_2,.firstrechange_explain li.number_2
	background-position:0 -16px
.dayrechange_explain li.number_3,.firstrechange_explain li.number_3
	background-position:0 -33px
.dayrechange_explain li.number_4,.firstrechange_explain li.number_4
	background-position:0 -50px
.dayrechange_explain li.number_5,.firstrechange_explain li.number_5
	background-position:0 -66px
.dayrechange_iconlist,.firstrechange_iconlist
	margin:10px auto 15px
	padding-left:50px
.dayrechange_iconlist li,.firstrechange_iconlist li,.vip_welfare li a
	float:left
	display:inline
	width:50px
	height:50px
	background:url($bgUrl + 'prop_icon/iconbg_link_52.png') no-repeat 0 0
	padding:1px
	margin:5px
.dayrechange_iconlist li:hover,.firstrechange_iconlist li:hover,.vip_welfare li a:hover
	background:url($bgUrl + 'prop_icon/iconbg_hover_52.png') no-repeat 0 0
	padding:4px
	margin:2px
.dayrechange_explain,.firstrechange_explain
	width:410px
	padding:0 5px
	background-color:#273851
	border:1px solid #1774a4
	font-size:12px
	border-radius:2px
	-webkit-box-shadow: 3px 3px 3px #2f4662 inset
	-moz-box-shadow: 3px 3px 3px #2f4662 inset
	box-shadow: 3px 3px 3px #2f4662 inset
/*首次充值*/
.firstrechange_title span,.dayrechange_title span
	position:absolute
	left:5px
	top:-34px
.firstrechange_title span
	top:-25px
.firstrechange_rightcon,.dayrechange_rightcon
	height:290px
	padding:10px
	width:420px
	border-radius:2px
.firstrechange_title span
	width:210px
	height:102px
	background:url($bgUrl + 'prop_icon/rechange_word.png') no-repeat 0 -105px
	display:block
.firstrechange_explain li,.dayrechange_explain li
	float:left
	color:#e7e195
	height:14px
	line-height:15px
	padding-left:18px
	vertical-align:middle
	margin-top:9px
	margin-bottom:9px
	background:url($bgUrl + 'prop_icon/rechangenumber.png') no-repeat
.firstrechange_main,.dayrechange_main
	//position:absolute
	left:0px
	top:-40px
.red_flowers
	height:30px
	background:url($bgUrl +'prop_icon/prop_iconbg.png') no-repeat 0 -135px
	padding-left:28px
	display:inline-block
	height:18px
	margin-top: -12px
	padding-top: 10px
	vertical-align: middle
.vip_btnimg
	width:270px
	margin:0 auto
.acitive_dialogbg .vip_btnimg
	a#vipbtnGetPackage 
		margin-right:20px;
/*自定义样式*/
.special_rightmain,.morediscount_main
	border:1px solid #1774a4
	background-color:#273851
	border-radius:3px
	-webkit-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
	-moz-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
	box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
	z-index:1
	color:#fff
	font-size:12px

.special_rightmain
	width:526px
	height:310px
	padding:10px 20px
	position:relative
	margin-left:113px
	margin-top:-5px
.specialMerchants_img
	width:225px
	height:358px
	position:absolute
	left:-50px
	top:-19px
.specialMerchants_title
	background: url($bgUrl + "prop_icon/illustration_bg.png") no-repeat 0 0
	height:35px
	left: 50%
	margin-left: -110px
	position:absolute
	top:-40px
	width: 219px
	z-index: 1030
.specialMerchants_title span
	width:108px
	height:28px
	background: url($bgUrl + "prop_icon/illustration_bg.png") no-repeat 0 -85px
	display:block
	text-align:center
	margin:2px 0 0 53px
.specialMerchants_conlist li
	width:220px
	height:80px
	border-radius:4px
	background-color:#0c1924
	padding:5px
	float:left
	margin:15px
	position:relative
.specialMerchants_npc_saidbg
	width:392px
	height:36px
	background:url($bgUrl + "prop_icon/special_merchantsnpc_bg.png") no-repeat 0 0
	line-height:30px
	text-align:center
	margin-left:-23px
.specialMerchants_npc_says
	line-height:30px
.click_single_giftbox
	width:212px
	height:250px
	padding:10px 5px
	position:absolute
	left:230px
	top:0
	z-index:10
.gift_img
	width:218px
	height:92px
.gift_img img
	width:90px
	height:90px
	background:url($bgUrl + "player3/big_star_bg_92.png") no-repeat 0 0
	padding:1px
.gift_img_explain
	width:118px
	height:92px
.gift_img_explain p
	height:20px
	line-height:20px
	vertical-align:middle

.dialogGames .ui-dialog-close
	right:-5px
	top:-5px
	text-indent: 9999px
.dialogBluebgGames .ui-dialog-close
	right:1px
	top:-5px
	text-indent: 9999px
/*更大折扣*/
.w60_bigdiscount
	width:60px
	text-align:right
	float:left
.discount_price span
	letter-spacing:-0.2px
	line-height:20px
.morediscount_main
	width:230px
	height:170px
	padding:0 10px 10px
.morediscount_title
	background: url($bgUrl + "prop_icon/tips_wordbg.png") no-repeat 0 -104px
	height:51px
	left: 50%
	margin-left: -110px
	position:absolute
	top:-40px
	width: 219px
	z-index: 1030
.morediscount_title span
	width:88px
	height:19px
	background: url($bgUrl + "prop_icon/tips_wordbg.png") no-repeat 0 -323px
	display:block
	text-align:center
	margin:41px 0 0 65px
.lights_show
	width:210px
	height:102px
	background: url($bgUrl + "prop_icon/tips_lights.png") no-repeat 0 0
	left:5px
	top:-32px
.angel_classify li
	width:220px
	height:18px
	line-height:18px
	border:1px solid #1774a4
	background-color:#273851
	border-radius:20px
	margin:5px auto
	padding-left:10px
.angel_classify li.on
	background-color:#0c1924
/*自定义样式*/
.mysterious_rightmain 
	position:relative
	color:#fff
	font-size:12px
	border:1px solid #0c1218
	border-radius:2px
	background-color:#0c1924
	box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
	-webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
	-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset

.mysterious_rightmain
	width:526px
	height:310px
	padding:10px 20px
	position:relative
	margin-left:113px
	margin-top:-5px
.mysteriousMerchants_img
	width:166px
	height:339px
	position:absolute
	left:-31px
	top:-1px
.mysteriousMerchants_title
	background: url($bgUrl + "prop_icon/illustration_bg.png") no-repeat 0 0
	height:35px
	left: 50%
	margin-left: -110px
	position:absolute
	top:-40px
	width: 219px
	z-index: 1030
.mysteriousMerchants_title span
	width:107px
	height:25px
	background: url($bgUrl + "prop_icon/illustration_bg.png") no-repeat 0 -123px 
	display:block
	text-align:center
	margin:2px 0 0 53px
.mysteriousMerchants_npc_saidbg
	width:478px
	height:36px
	background:url($bgUrl + "prop_icon/mystery_merchantsnpc_bg.png") no-repeat 0 0
	line-height:28px
	text-align:center
	margin-left:-23px
	padding:0 40px

.mysteriousMerchants_conlist li
	width:165px
	float:left
	text-align:center
	cursor:pointer
.mysteriousMerchants_1,.mysteriousMerchants_2,.mysteriousMerchants_3,.mysteriousMerchants_1_con,.mysteriousMerchants_2_con,.mysteriousMerchants_3_con,.mysteriousMerchants_1_con:hover,.mysteriousMerchants_2_con:hover,.mysteriousMerchants_3_con:hover
	background:url($bgUrl + "prop_icon/mysterious_mersboxbg.png") no-repeat center center
	margin:0 auto
.mysteriousMerchants_1
	width:47px
	height:24px
	background-position:-372px 0
.mysteriousMerchants_2
	width:40px
	height:21px
	background-position:-372px -32px
.mysteriousMerchants_3
	width:37px
	height:20px
	background-position:-372px -64px
.mysteriousMerchants_1_con,.mysteriousMerchants_2_con,.mysteriousMerchants_3_con
	width:90px
	height:90px
	padding:33px
.mysteriousMerchants_1_con img,.mysteriousMerchants_2_con img,.mysteriousMerchants_3_con img
	width:90px
	height:90px
.mysteriousMerchants_1_con
	background-position:0 -171px
.mysteriousMerchants_2_con
	background-position:0 -342px
.mysteriousMerchants_3_con
	background-position:0 0
.mysteriousMerchants_1_con:hover,.mysteriousMerchants_2_con:hover,.mysteriousMerchants_3_con:hover
	height:90px
	height:90px
	padding:37px
	margin-bottom:-8px
.mysteriousMerchants_1_con:hover img,.mysteriousMerchants_2_con:hover img,.mysteriousMerchants_3_con:hover img
	margin-top:-4px
	margin-right:-2px
.mysteriousMerchants_1_con:hover
	background-position:-185px -177px
.mysteriousMerchants_2_con:hover
	background-position:-185px -346px
.mysteriousMerchants_3_con:hover
	background-position:-187px -6px


/*购买提示*/
.ui-popup-focus .ui-dialog.bottleGames
	border:1px solid #0c1218
	border-radius:2px
	background-color:#0c1924
	padding:10px 20px
	box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
	-webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
	-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
.bottle_box
	width:390px
	height:350px
	color:#fff
.tips_grils img
	position:absolute
	left:-79px
	bottom:-10px
.buytips_title span
	width:172px
	height:47px
	background:url($bgUrl + 'prop_icon/bottolbg.png') no-repeat 0 -736px
	position:absolute
	left:50px
	top:-30px
.buytips_rightcon
	width:200px
	height:130px
	color:#fff
	font-size:12px
	padding:20px 0 0 50px
.buytips_rightcon img
	vertical-align:middle
	margin:0 2px
.ui-popup-focus .acitive_dialogbg
	width:562px;

.get_success_word
	span
		width 102px
		height 26px
		background url($bgUrl + "player3/tips_wordbg.png") no-repeat 0 -467px
		display block
		margin 65px auto 0

.package_list .vippacklibg
	width: 290px;
	padding-left: 0;
	background:url($bgUrl + "prop_icon/iconbg_hover_52.png") repeat center center;
	min-height:58px;
.package_list dd 
	.draw-package-btn
		position:absolute;
		right:0;
		top:-4px;
.golden-msg .get_success_word
	width: 159px;
	height: 154px;
	position: absolute;
	left: 50%;
	top: -75px;
	z-index: 2000;
	margin-left: -100px;