#popExchangecode.cl(data-module='exchangeActivity')
  .action_ad
    img(src='http://static.mm.wanleyun.cn/images/prop_icon/action_ad.jpg')
  .ad_con.cl
    p.yellow_1.f14 【活动介绍】
    p.yellow_2 即日起，加入官方Q群（162953686,153961817），即可领取超值礼包福利，让你秒变高富帅，迷倒众女神！
    p.yellow_1 【福利奖励】
    ol.yellow_2
      li 《女神的房间》开测尊享礼包
      li 《女神的房间》开测豪华礼包
      li 《女神的房间》开测精英礼包
  .ad_btn.cl.mt_50
    input#exchange-code-input.exchange_code.fl(name='code', type='text', placeholder='请输入您的兑换码...', value='')
    a.btn_1y.w150.fr.btnExchangeCode(href='javascript:void(0);') 立即兑换
    p.cl.red.RechangeRec_error