.popwinRight
  .otherMethods.cl
    p(style="line-height:22px;")
      span(color="#7f7f7f")= "使用合作网站账号一键登录"
    p
      a.oMsgBtn.wx(href="javascript:;",style="margin-right:10px;")
        i
        em 微信登录
      a.oMsgBtn.qq(href="javascript:;",style="margin-right:10px;")
        i
        em QQ登录
      a.oMsgBtn.wb(href="javascript:window.open(\'"+accountUrl+"oauth/goauth?pt=weibo\');")
        i
        em 微博登录