.popup-sign-dialog
  border:#ccc solid 4px
  background: #fff
  font-size:12px
  border-radius: 0
  .ui-dialog-title
    padding:0px
  .ui-dialog-header
    border-bottom:none
  .ui-dialog-close
    font-weight: normal
    font-size: 14px
    color: #c8c8c8
    width:18px
    height:18px
    text-align:center
    line-height:18px
    top: 10px
    right: 10px
    border:none
    background: transparent
    position: absolute
    cursor: pointer
  .ui-dialog-close:hover
    background:url($bgUrl + 'sign_close.png') no-repeat
    color:#fff
    text-indent: -9999px
  .popwinLeft
    width: 302px
    float: left
    font-size:12px
  .popwinLeft a
    color:#23abcc
  .signPopwinTab
    border-bottom: #2ec1e5 solid 1px
    margin-bottom: 20px
    span
      display: inline-block
      height: 32px
      line-height: 32px
      padding: 0 20px
      background: #e0e0e0
      color: #666
      margin-right: 3px
      cursor: pointer
      border-top-right-radius: 2px
      border-top-left-radius: 2px
    span.hover
      background: #2ec1e5
      color: #fff
  .input_288_38
    width:288px
    height:38px
  input[type=checkbox]
    vertical-align:middle
    margin-top:-4px
    margin-bottom:-3px
  .login_item .left
    width:80px
    height:38px
    padding-top:10px
  .login_item .right
    width:300px
  .login_item .sign_error
    width:298px
    padding-left:2px
    height:24px
    float:left
    font-family: "微软雅黑","microsoft yahei",Arial,sans-serif
    color:#FF0000
    font-size:12px
    line-height: 24px
  .login_item input.error
    border:#f00 solid 1px
  .login_item label.error
    color: #f00
  .login_item .sign_input
    border: 1px solid #a0a0a0
    padding:9px 6px 9px 4px
    height: 20px
    cursor:auto
    color:#595959
  .login_item .sign_input:hover
    border:#aa312af solid 1px
  .login_item_wrap
    position: relative
    z-index: 0
  .login_item_wrap .login_item
  .login_item_wrap .signItem_tip
    display: inline-block
    width: 288px
    height: 38px
    line-height: 38px
    position: absolute
    top: 0px
    left: 0px
    cursor: auto
    padding-left: 5px
    color: #a0a0a0
  .login_item .signText
    display: inline-block
    padding-top: 22px
    padding-left:5px
    height: 16px
    line-height: 20px
  .login_item .signText a
    text-decoration: underline
  .content_right .remember
    width:300px
    padding-top:9px
    height:16px
    float:left
    font-family: "微软雅黑","microsoft yahei",Arial,sans-serif
    color:#7f7f7f
    font-size:11px
    padding-left:80px
    position:relative
  .content_right .forget_pw
    position: absolute
    right: 0
  .reg_bt,input.reg_bt
    width:300px
    //margin-left:80px
    //margin-top:13px
    height:36px
    line-height: 36px
    //float:left
    font-family: "微软雅黑","microsoft yahei",Arial,sans-serif
    color:#fff
    background-color:#2DC0E5
    cursor:pointer
    text-align:center
    font-size:14px
    border:none
  .reg_bt:hover,input.reg_bt:hover
    background:#43d1f4
    color:#fff
  .reg_bt:active,input.reg_bt:active
    background:#037aa2
    color:#fff
  .content_right .remember div
    height:35px
  .login_item .sign_input
    border: #bfbfbf solid 1px
    border-radius:0
  .login_item .sign_input.error
    border:#f00 solid 1px
  .input_confrom
    width:100px
    float:left
    height:38px
  .remember .login
    font-size:12px
  .otherMethods
    width: 156px
    margin-top: 0
    float: right
    border-top: none
    border-left: #bfbfbf solid 1px
    padding-left: 20px
    padding-top:0px
    img
      margin:10px 0 0 20px
  .oMsgBtn
    display: inline-block
    width: 140px
    height: 29px
    padding:3px 0
    border-radius: 2px
    margin-top:6px
    i
      display: inline-block
      width: 36px
      height: 29px
      background: url($bgUrl + "oMsgBg.png") no-repeat
      margin-left: 25px
      float:left
    em
      color: #fff
      font-size: 12px
      font-family: "微软雅黑"
      font-style: normal
      margin-left: 6px
      display: inline-block
      float: left
      line-height: 30px
  .oMsgBtn.wx
    background:#60cc86
  .oMsgBtn.wx:hover
    background:#70e08e
  .oMsgBtn.wx:active
    background:#48c77b
  .oMsgBtn.qq
    background:#41bad9
  .oMsgBtn.qq:hover
    background:#50d1eb
  .oMsgBtn.qq:active
    background:#29a6cc
  .oMsgBtn.wb
    background:#e35b5b
  .oMsgBtn.wb:hover
    background:#fa7070
  .oMsgBtn.wb:active
    background:#d94141
  .oMsgBtn.wx i
    background-position: 0px 0px
  .oMsgBtn.qq i
    background-position: -36px 0px
  .oMsgBtn.wb i
    background-position: -72px 0px

.popup-nameHandle
  border-radius: 0
  border:#ccc solid 4px
  background: #f5f5f5
  font-family: "微软雅黑"
  .ui-dialog-header
    border-bottom: none
  .ui-dialog-title
    text-align: center
    font-size:14px
    padding: 0
    height: 40px
    line-height: 40px
    font-weight: normal
    color: #595959
  .ui-dialog-close
    font-weight: normal
    font-size: 14px
    color: #c8c8c8
    top: 10px;right: 10px
    width:18px
    height: 18px
    line-height: 18px
    text-align: center
    cursor: pointer
  .ui-dialog-close:hover
    background: url($bgUrl + 'sign_close.png') no-repeat 
    color:#fff
  .ui-dialog-body
    padding:0
  .nameHandle
    border-top: #ccc solid 1px
    margin:0 30px
    color: #595959
    height: 208px
    h3
      line-height: 30px
      font-size: 12px
      font-weight: normal
    .photo
      margin-left: 55px
      margin-top: 10px
      float: left
      img
        width: 60px
        height: 60px
    .nameInfo
      width: 245px
      margin-top: 28px
      margin-left: 20px
      float: left
    label.error
      word-break:keep-all
      white-space:nowrap
      color: #f00
      font-size: 12px
      line-height: 16px
    .nameInput
      border: 1px solid #dcdcdc
      padding: 5px 5px 5px 5px
      line-height: 16px
      height: 16px
      color: #595959
      width: 180px
      font-size: 14px
    li.nameArea
      height: 75px
    li.nameSubmit
    a.submit,input.nameHandleSubmit
      width:140px
      height:36px
      line-height: 36px
      float:left
      font-family: "微软雅黑","microsoft yahei",Arial,sans-serif
      color:#fff
      background:#2ec1e5
      cursor:pointer
      text-align:center
      font-size:14px
      border:none
    a.submit input
      background: none
      border: none
      width: 140px
      height: 36px
      color: #fff
    a.submit:hover,input.nameHandleSubmit:hover
      background: #43d1f4
    a.submit:active,input.nameHandleSubmit:active
      background: #037aa2
    .sexSelector
      label
        line-height: 14px
        padding:2px
        margin-right: 10px
        input
          vertical-align: middle
          margin-right: 4px   
span.selectorBorder
  margin-right: 10px
  line-height: 18px
  height: 18px
  display: inline-block
  select
    height: 18px
    line-height: 18px  
a.btns
  width:140px
  margin-right:20px
  height:36px
  line-height: 36px
  font-family: "微软雅黑","microsoft yahei",Arial,sans-serif
  cursor:pointer
  text-align:center
  font-size:14px
  border:none
  display: inline-block
a.btn_blue
  color:#fff
  background:#2ec1e5
a.btn_blue:hover
  background: #43d1f4
a.btn_blue:active
  background:#037aa2
a.btn_gray
  background: #e0e0e0
  color: #666565
a.btn_gray:hover
  background:#d5d4d4
a.btn_gray:hover
  background:#a9a6a6