img(src=window.resUrl + 'item/' + id + '/60/1/' + quality,width=(classval === '1' ? "40" : ""))
if isusing != '0'
  ins(class="food_" + isusing)
- var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
- var titleColor = availableColors[quality - 1];
p(class=titleColor)= name
.cl.pross_pointer