.food_hoverbox.cl.tl.food_hoversmaill
  .arrow_icon  
  .food_typebox
    - var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
    - var titleColor = availableColors[quality - 1];
    p(class="f14 " + titleColor)= name
    ul.green.cl.mt_5.food_typelist
      if description
        for item in description
          li
            .fl.w40= item.name
            .fl.w80
              for food in item.content
                p= food