.food
	display:block
	.send_foodbox
		width:465px
		dl.give_foodcon
			width:463px
			height:58px
			background-color: #0c1924
			border:1px solid #1774a4
			padding:5px 0 5px
			margin:3px 0 5px 2px
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: 1px 0 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
			-moz-box-shadow: 1px 0 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset;
			-webkit-box-shadow: 1px 0 2px #2f4662 inset;
			-moz-box-shadow: 1px 0 2px #2f4662 inset;
			box-shadow: 1px 0 2px #2f4662 inset;
			dt.food_type
				width:60px;
				height:58px;
				text-align:center;
				margin-left:10px;
				p.mb_3
					margin-bottom:3px;
					margin-top:-2px;
			dd.lady_foodrank.fr
				width:360px;
				height:58px;
				.nowpopulrank,.lastpopulrank
					height:24px;
					line-height:24px;
					vertical-align:middle;
					ul.now_ladyrank
						li
							float:left;
							position:relative;
							line-height:24px;
							vertical-align:middle;
							margin:0 5px;
							span
								margin-left:28px;
							.photobg.lights1,.photobg.lights2,.photobg.link,.photobg.lights3
								width:20px;
								height:20px;
								padding:4px;
								background:url($bgUrl + 'player3/boxbg.png') no-repeat;
								display:block;
								position:absolute;
								left:0;
								top:-2px
							.photobg.lights2
								background:url($bgUrl + 'player3/boxbg.png') no-repeat -334px -667px;
								padding:4px
							.photobg.lights1
								background:url($bgUrl + 'player3/boxbg.png') no-repeat -303px -667px;
								padding:4px;
								margin-right: 24px;
							.photobg.lights3
								background:url($bgUrl + 'player3/boxbg.png') no-repeat -367px -667px;
								padding:4px
				.nowpopulrank.rasic_foodrank
					ul
						li
							margin-bottom:10px;