.send_foodbox.game_listbox_food
  dl.give_foodcon.cl
    dt.food_type.fl
      p.mb_3.yellow_3 豪华款食物
      img(width="40",height="40",src="http://static.mm.wanleyun.cn/item/1000000531/60/1/6")
    dd.lady_foodrank.fr
      .nowpopulrank.cl
        span.fl 当前人气前三名：
        ul.now_ladyrank.fl
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights1")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights2")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights3")
            span.name_color.fl 刘婧怡
      .lastpopulrank.cl.mt_10
        span.fl 上场比赛前三名：
        ul.now_ladyrank.fl
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
  dl.give_foodcon.cl
    dt.food_type.fl
      p.mb_3.white 基本款食物
      img(width="40",height="40",src="http://static.mm.wanleyun.cn/item/1000000531/60/1/6")
    dd.lady_foodrank.fr
      .nowpopulrank.cl.rasic_foodrank
        //span.fl 当前人气前三名：
        ul.now_ladyrank.fl
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights1")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights2")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights3")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡
          li
            img(width="20",src="http://static.mm.wanleyun.cn/girl/5/50",class="photobg lights0")
            span.name_color.fl 刘婧怡




    