- var points = [0,57,80,80,80,80];
.Progress_bar
  .arrow.pr
    - var barWidth = 0;
    - var arrowLeft = 0;
    - var passed = 0;
    for progress,index in progresses
      if progress > 0
        - barWidth += points[index] * progress
        if progress === 1
          - arrowLeft += points[index]
    .Progress_bar_img(style='width:' + barWidth + 'px')
      .arrow_rightpointer
      if arrowLeft > 0
        .arrow_pointer(style="left:" + arrowLeft + 'px')