.buytips_box
    .buytips_title
      span
    .buytips_main.pr
      .tips_grils
        img(src=window.resUrl + 'images/bottle/tips_grils.png')  
      .cl.mt_20.buytips_rightcon
        .buytips_words.ml_20.cl    
        .cl.mt_40
          a.btn_1y.w90.recharge-now(href='javascript:void(0);') 立即充值
