.golden_Content
	.goldengirls
		width:313px;
		height:405px;
		position:absolute;
		left:-109px;
		top:-23px; 
	.goldenmain
		width:230px;
		height:370px;
		margin-left:138px;
		padding:0 10px 5px;
		margin-top:-5px;
		position:relative;
		font-family: "微软雅黑","microsoft yahei",Arial;
		color:#fff;
		font-size:12px;
		border:1px solid #0c1218;
		border-radius:2px;
		background-color:#0c1924;
		box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
		-webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
		-moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset;
		.golden_title
			width:234px;
			height:52px;
			background:url($bgUrl+'prop_icon/buygold_titbg.png') no-repeat 0 0;
			left:8px;
			position: absolute;
			top:-42px;
			margin:0 auto;
		.golden_title span
			width:88px;
			height:21px;
			background:url($bgUrl+'prop_icon/buygold_titbg.png') no-repeat 0 -56px;
			display:block;
			margin:7px auto 0;
			display:block;
		.goldencon 
			li
				width:231px;
				height:40px;
				background:url($bgUrl+'prop_icon/gold_conbg.png') no-repeat 0 -53px;
				margin-bottom:5px;
			li:hover
				background:url($bgUrl+'prop_icon/gold_conbg.png') no-repeat 0 0;
				padding:4px;
				margin:-4px -4px 1px;
			li img
				width:41px;
				height:40px;
				float:left;
				background:url($bgUrl+'prop_icon/gold_numbg.png') no-repeat center center;
			li 
				.golden_imgL 
					span
						float:left;
						height:40px;
						line-height:40px;
						margin-left:5px;
			li 
				.buy_btn
					height:34px;
					background-color:#f7aa25;
					margin:2px 2px 0 0;
					padding-bottom:2px;
					border-radius:2px;
					text-align:center;
					vertical-align:middle;
					display:inline-block;
					cursor:pointer;
			li 
				.buy_btn:hover
					background-color:#f7d725;
			li 
				.buy_btn:active
					background-color:#91682e;
				.golden_imgL
					i.coinNum
						font-style:normal;
.golden-msg 
	.buy_linghtsshow
		width:159px;
		height:154px;
		background:url($bgUrl+'player3/successlights_bg.png') no-repeat 0 0;
		position:relative;
		margin:0 auto;
		span
			width:120px;
			height:28px;
			background:url($bgUrl+'player3/tips_wordbg.png') no-repeat -131px -227px;
			display:block;
			margin:65px auto 0;
			position:absolute;
			left:20px;
.ui-popup-focus .goldendialog
	width:392px;