extends ../../layouts/index
block append head
  title
  link(type="text/css",rel="stylesheet",href="/css/api_sign.min.1234567890abcdef.css")

block append main
  div 主内容

block append footer
  script(type="text/javascript",src="/js/api_sign/main.min.1234567890abcdef.js")