.paybalance_box
	h3 收支状况
	.paybalance_con.cl
		span.paybalance_icon.fl
		.paybalance_num.fl
			p 
				span 用户付费总金额：
				span= result.totalcost
			p 
				span 目前可分金额：
				span= result.income
			p 
				span 截止目前总收入：
				span= result.totalincome