.paybalance_box
	h3 收支状况
	.paybalance_con.cl
		span.paybalance_icon.fl
		.paybalance_num.fl
			p 
				span 用户付费总金额：
				| 125000000
			p 
				span 目前可分金额：
				| 125000
			p 
				span 截止目前总收入：
				| 125000000