.paybalance
  display:block
  .paybalance_box
	  height:113px;
	  padding:2px 10px 12px 12px;
	  background:url($bgUrl+'player3/new_player_boxbg.png') no-repeat -4px -273px;
	  .paybalance_con
	  	width:248px;
	  	padding:10px 0 0 10px;
	  	span.paybalance_icon
	  		width:22px;
	  		height:21px;
	  		background:url($bgUrl+'player3/new_player_icon.png') no-repeat 0 -53px;
	  	.paybalance_num
	  		margin-left:10px;
	  		p
	  			margin-bottom:3px;
	  			span
	  				width:96px;
	  				display:inline-block;
	  				text-align:right;
