.paybalance_box
	h3 收支状况
	.paybalance_con.cl
		span.paybalance_icon.fl
		.paybalance_num.fl
			p 
				span 用户付费总金额：
				i= result.totalcost
			p 
				span 目前可分金额：
				i= result.income
			p 
				span 截止目前总收入：
				i= result.totalincome