.appbg_img
  img(src='http://static.mm.wanleyun.com/orig/images/app/appbgimg.png')
.appcon_main.cl
  .appdown_l
    .appdown_list.cl
      ul.cl
        li
          img(src='http://static.mm.wanleyun.com/orig/images/app/applistbg_img.png', alt='')
          p.white iPhone版
        li
          img(src='http://static.mm.wanleyun.com/orig/images/app/ad_er_w_m.png', alt='')
          p.white Android版
      .wx_sswd  扫一扫，下载客户端 
  .appdown_r.pr
    .appdownC_show.cl
      div.appdownlist.cl.slider
        img(src='http://static.mm.wanleyun.com/orig/images/app/app_ad_1.jpg', alt='')
        img(src='http://static.mm.wanleyun.com/orig/images/app/app_ad_2.jpg', alt='')
        img(src='http://static.mm.wanleyun.com/orig/images/app/app_ad_3.jpg', alt='')
        img(src='http://static.mm.wanleyun.com/orig/images/app/app_ad_4.jpg', alt='')
        img(src='http://static.mm.wanleyun.com/orig/images/app/app_ad_5.jpg', alt='')
    ins.phone_lingtsimg