.buytips_box
    .buytips_title
      span
    .buytips_main.pr
      .tips_grils
        img(src=window.resUrl + 'images/bottle/tips_grils.png')  
      .cl.mt_20.buytips_rightcon
        .buytips_words.ml_20.cl
          p.cl.yellow_2.mt_15
            - var availableColors = ['gray','q_white','q_green','q_blue','q_purple','q_orange'];
            | 您购买
            span(class=availableColors[quality - 1])
              if name
                = ' [' + name + '] '
              else
                img(src=window.resUrl + 'item/' + id + '/50',width="20")
              span.yellow_2
                | 还差
            br
            span.red.ml_35.mt_5
              - var imgSrc = window.resUrl + 'images/player3/blue_drill.png'
              if bidtype == '1'
                - imgSrc = window.resUrl + 'images/prop_icon/yellow_goldimg.png'
              img(src=imgSrc)
              = globalUtil.commafy(diff)
        .cl.mt_40
          a#ecchange-now.btn_1y.w90(href='javascript:void(0);') 立即充值