div#Constellate_dialogInner.con_dialog_box.cl
	.constellate_box.cl
		.constellate_title.cl
			span
		.constellate_con.cl.pr
			.constellate_fortune.fl
				h3.today_activedegree
				.activedegree_num.cl
					#Today_degree.activedegree_num_red.fl
					.activedegree_num_box.fl
						span.whitedegree_line
						#Total_degree.activedegree_num_white.fl
				p#nextlevel_act
				.constellate_hr_line.cl
				.constellate_degree_way.cl.pr
					h3.degree_way_title
					.degree_waylist.cl
			#constellate_List.constellate_image_con.fl
				#constellateName.constellate_image_title.f14
				.constellate_img.cl
					#constellateImgcon.constellate_img_list.cl
			.active_degree_tipsword
				p="听说 活跃度 等级越高，奖励越丰富哦~！"
				p="VIP、白银天使、黄金天使可以领取更多的奖励"
