.constellate_box
  width:680px
  height:470px
  background:url($bgUrl+'prop_icon/costellate_bg.jpg') no-repeat 0 0
  margin:0 auto
.ui-dialog.dialognonebgGame
  background:none
  border:none
  border-radius:0
  color: #fff
  font-size: 12px
  opacity:1
.constellate_title
  width:264px
  height:44px
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat 0 0
  padding-top:8px
  position:absolute
  top:-25px
  left:50%
  margin-left:-130px
.constellate_title span
  width:61px
  height:24px
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat -102px -56px
  margin:0 auto
  display:block
.constellate_con
  width:660px
  height:422px
  padding:50px 10px 0
.active_degree_tipsword
  position:absolute
  right:5px
  bottom:25px
  color:#f9fbb6
  z-index: 100
.constellate_fortune
  width:180px
  height:350px
  margin-right:20px
  padding:10px 0 10px 10px
  position:relative
  z-index:1
.constellate_degree_way
  width:170px
  padding-right:8px
  position:relative
  z-index:200
.constellate_image_con
  width:450px
  height:400px
.today_activedegree
  width:87px
  height:18px
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat -104px -80px
.activedegree_num
  width:170px
  height:16px
  margin:3px 0
/*活跃度数字*/
.activedegree_num_red i,.activedegree_num_white i,.activedegree_num_box span
  height:16px
  width:13px
  background:url($bgUrl+'prop_icon/constellation_deeg_num.png') no-repeat
  float:left
  display:block
  margin:0 -1px 0 -2px
.activedegree_num_red i.num_1
  width:11px
  background-position:0 0
.activedegree_num_red i.num_2
  width:12px
  background-position:-13px 0
.activedegree_num_red i.num_3
  width:12px
  background-position:-26px 0
.activedegree_num_red i.num_4
  width:14px
  background-position:-39px 0
.activedegree_num_red i.num_5
  width:12px
  background-position:-54px 0
.activedegree_num_red i.num_6
  width:12px
  background-position:-67px 0
.activedegree_num_red i.num_7
  width:12px
  background-position:-81px 0
.activedegree_num_red i.num_8
  width:13px
  background-position:-95px 0
.activedegree_num_red i.num_9
  width:12px
  background-position:-108px 0
.activedegree_num_red i.num_0
  width:13px
  background-position:-122px 0
.activedegree_num_box span.whitedegree_line
  width:12px
  background-position:-136px 0
  margin:0 1px
.activedegree_num_white i.num_1
  width:11px
  background-position:-150px 0
.activedegree_num_white i.num_2
  width:12px
  background-position:-163px 0
.activedegree_num_white i.num_3
  width:12px
  background-position:-176px 0
.activedegree_num_white i.num_4
  width:14px
  background-position:-189px 0
.activedegree_num_white i.num_5
  width:12px
  background-position:-204px 0
.activedegree_num_white i.num_6
  width:12px
  background-position:-217px 0
.activedegree_num_white i.num_7
  width:12px
  background-position:-231px 0
.activedegree_num_white i.num_8
  width:13px
  background-position:-244px 0
.activedegree_num_white i.num_9
  width:12px
  background-position:-258px 0
.activedegree_num_white i.num_0
  width:13px
  background-position:-272px 0
.degree_way_title
  width:170px
  height:19px
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat -102px -102px
  margin-bottom:4px
.constellate_hr_line
  width:177px
  height:1px
  background:url($bgUrl+'prop_icon/constellation_deeg_hr.png') no-repeat center center
  margin:8px auto 6px
.constellate-d-w-list li
  width:136px
  float:left
  margin:0 auto 7px
  height:15px
  line-height:15px
  vertical-align:middle
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat -253px -76px
  padding-left:14px
  color:#2ec1e5
  position:relative
.constellate-d-w-list li i
  color:#ff4023
  font-style:normal
.constellate-d-w-list li.on
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat -253px -54px
  color:#5e5e5e
.constellate-d-w-list li.on i
  color:#5e5e5e
.constellate_image_title
  width:450px
  position:relative
  z-index:120
.constellate_image_title i
  width:57px
  height:17px
  background:url($bgUrl+'prop_icon/constellation_word_img.png') no-repeat
  display:inline-block
  line-height:17px
  vertical-align:middle
/* 1.白羊 2.金牛 3.双子 4.巨蟹 5.狮子 6.处女 7.天枰 8.天蝎 9.射手 10.摩羯 11.水瓶 12.双鱼*/
/*星座名字*/
.constellate_image_title i.cname_9
  background-position:0 -56px
.constellate_image_title i.cname_1
  background-position:0 -76px
.constellate_image_title i.cname_2
  background-position:0 -96px
.constellate_image_title i.cname_3
  background-position:0 -118px
.constellate_image_title i.cname_4
  background-position:0 -138px
.constellate_image_title i.cname_5
  background-position:0 -158px
.constellate_image_title i.cname_6
  background-position:0 -178px
.constellate_image_title i.cname_7
  background-position:0 -198px
.constellate_image_title i.cname_8
  background-position:0 -218px
.constellate_image_title i.cname_10
  background-position:0 -240px
.constellate_image_title i.cname_11
  background-position:0 -262px
.constellate_image_title i.cname_12
  background-position:0 -282px
.dialognonebgGame .ui-dialog-close
  position:absolute
  right:7px
  top:22px
.degree_waylist .scrollbars .scrollbar
  right:-1px
.degree_waylist .scrollbars
  padding-right:0
.degree_waylist .scrollbars .viewport
  height:260px
  width:150px
/*十二星座box*/
#astro_svg
  width:447px
  height:378px
  position:absolute
  left:0
  top:-2px
#constellate_ListsShow
  width:447px
  height:378px
  position:absolute
  left:0
  top:-2px
.constellate_img_list ul .constellate_vip_hover ul
  height:auto
  width:264px
.constellate_img_list
  position:relative
/*十二星座星图*/
.cimgbg_4
  background:url($bgUrl+'prop_icon/juxie_imgbg.jpg') no-repeat center center
.cimgbg_9
  background:url($bgUrl+'prop_icon/sheshou_imgbg.jpg') no-repeat center center
.cimgbg_1
  background:url($bgUrl+'prop_icon/baiyang_imgbg.jpg') no-repeat center center
.cimgbg_2
  background:url($bgUrl+'prop_icon/jinniu_imgbg.jpg') no-repeat center center
.cimgbg_3
  background:url($bgUrl+'prop_icon/shuangzi_imgbg.jpg') no-repeat center center
.cimgbg_5
  background:url($bgUrl+'prop_icon/shizi_imgbg.jpg') no-repeat center center
.cimgbg_6
  background:url($bgUrl+'prop_icon/chunv_imgbg.jpg') no-repeat center center
.cimgbg_7
  background:url($bgUrl+'prop_icon/tianping_imgbg.jpg') no-repeat center center
.cimgbg_8
  background:url($bgUrl+'prop_icon/tianxie_imgbg.jpg') no-repeat center center
.cimgbg_10
  background:url($bgUrl+'prop_icon/mojie_imgbg.jpg') no-repeat center center
.cimgbg_12
  background:url($bgUrl+'prop_icon/shuangyu_imgbg.jpg') no-repeat center center
.cimgbg_11
  background:url($bgUrl+'prop_icon/shuiping_imgbg.jpg') no-repeat center center
.constellate_img_list ul li
  width:42px
  height:38px
  position:absolute
.constellate_img_list ul li i:hover
  display:inline
.constellate_img_list ul li span.lights_bg
  width:42px
  height:38px
  background:url($bgUrl+'prop_icon/constellation_star_lightbg.png') no-repeat center center
  display:inline-block
.constellate_img_list ul li i
  width:19px
  height:19px
  background:url($bgUrl+'prop_icon/constellation_star_img.png') no-repeat
  cursor:pointer
  display:inline-block
  position:absolute
  left:13px
  top:11px
.constellate_img_list ul li i.gray_star
  background-position:0 -52px
.constellate_img_list ul li i.lingts_blue
  background-position:0 0
.constellate_img_list ul li i.lingts_yellow
  background-position:0 -25px
.constellate_img_list ul li i.gray_yellow
  background-position:0 -79px
/*不同星座星球位置*/
/* 1.白羊 2.金牛 3.双子 4.巨蟹 5.狮子 6.处女 7.天枰 8.天蝎 9.射手 10.摩羯 11.水瓶 12.双鱼*/
/*巨蟹*/
.starbg_4 .star_1
  left:116px
  top:51px
.starbg_4 .star_2
  left:107px
  top:79px
.starbg_4 .star_3
  left:89px
  top:140px
.starbg_4 .star_4
  left:52px
  top:152px
.starbg_4 .star_5
  left:103px
  top:160px
.starbg_4 .star_6
  left:139px
  top:184px
.starbg_4 .star_7
  left:153px
  top:197px
.starbg_4 .star_8
  left:156px
  top:251px
.starbg_4 .star_9
  left:150px
  top:289px
.starbg_4 .star_10
  left:184px
  top:260px
.starbg_4 .star_11
  left:200px
  top:225px
.starbg_4 .star_12
  left:264px
  top:243px
.starbg_4 .star_13
  left:212px
  top:205px
.starbg_4 .star_14
  left:224px
  top:183px
.starbg_4 .star_15
  left:262px
  top:169px
.starbg_4 .star_16
  left:253px
  top:128px
.starbg_4 .star_17
  left:229px
  top:95px
.starbg_4 .star_18
  left:239px
  top:61px
.starbg_4 .star_19
  left:280px
  top:51px
.starbg_4 .star_20,.starbg_4 .star_0
  left:207px
  top:2px
/*射手*/
.starbg_9 .star_1
  left:128px
  top:279px
.starbg_9 .star_2
  left:124px
  top:308px
.starbg_9 .star_3
  left:98px
  top:294px
.starbg_9 .star_4
  left:88px
  top:251px
.starbg_9 .star_5
  left:70px
  top:182px
.starbg_9 .star_6
  left:112px
  top:136px
.starbg_9 .star_7
  left:144px
  top:146px
.starbg_9 .star_8
  left:171px
  top:136px
.starbg_9 .star_9
  left:192px
  top:145px
.starbg_9 .star_10
  left:160px
  top:169px
.starbg_9 .star_11
  left:228px
  top:176px
.starbg_9 .star_12
  left:211px
  top:223px
.starbg_9 .star_13
  left:228px
  top:248px
.starbg_9 .star_14
  left:261px
  top:191px
.starbg_9 .star_15
  left:303px
  top:160px
.starbg_9 .star_16
  left:255px
  top:86px
.starbg_9 .star_17
  left:222px
  top:141px
.starbg_9 .star_18
  left:188px
  top:71px
.starbg_9 .star_19
  left:168px
  top:82px
.starbg_9 .star_20,.starbg_9 .star_0
  left:141px
  top:58px
/*白羊*/
.starbg_1 .star_1
  left:18px
  top:153px
.starbg_1 .star_2
  left:47px
  top:153px
.starbg_1 .star_3
  left:66px
  top:182px
.starbg_1 .star_4
  left:58px
  top:206px
.starbg_1 .star_5
  left:89px
  top:243px
.starbg_1 .star_6
  left:87px
  top:203px
.starbg_1 .star_7
  left:117px
  top:182px
.starbg_1 .star_8
  left:116px
  top:129px
.starbg_1 .star_9
  left:128px
  top:105px
.starbg_1 .star_10
  left:180px
  top:114px
.starbg_1 .star_11
  left:205px
  top:180px
.starbg_1 .star_12
  left:234px
  top:200px
.starbg_1 .star_13
  left:243px
  top:143px
.starbg_1 .star_14
  left:217px
  top:115px
.starbg_1 .star_15
  left:220px
  top:86px
.starbg_1 .star_16
  left:243px
  top:80px
.starbg_1 .star_17
  left:276px
  top:85px
.starbg_1 .star_18
  left:255px
  top:109px
.starbg_1 .star_19
  left:305px
  top:150px
.starbg_1 .star_20,.starbg_1 .star_0
  left:328px
  top:158px
/*金牛*/
.starbg_2 .star_1
  left:39px
  top:100px
.starbg_2 .star_2
  left:115px
  top:142px
.starbg_2 .star_3
  left:136px
  top:149px
.starbg_2 .star_4
  left:165px
  top:150px
.starbg_2 .star_5
  left:161px
  top:119px
.starbg_2 .star_6
  left:134px
  top:124px
.starbg_2 .star_7
  left:134px
  top:97px
.starbg_2 .star_8
  left:95px
  top:72px
.starbg_2 .star_9
  left:54px
  top:43px
.starbg_2 .star_10
  left:145px
  top:62px
.starbg_2 .star_11
  left:191px
  top:28px
.starbg_2 .star_12
  left:213px
  top:80px
.starbg_2 .star_13
  left:195px
  top:167px
.starbg_2 .star_14
  left:245px
  top:139px
.starbg_2 .star_15
  left:277px
  top:121px
.starbg_2 .star_16
  left:316px
  top:157px
.starbg_2 .star_17
  left:275px
  top:194px
.starbg_2 .star_18
  left:284px
  top:210px
.starbg_2 .star_19
  left:273px
  top:271px
.starbg_2 .star_20,.starbg_2 .star_0
  left:255px
  top:314px
/*双子*/
.starbg_3 .star_1
  left:155px
  top:24px
.starbg_3 .star_2
  left:140px
  top:39px
.starbg_3 .star_3
  left:124px
  top:63px
.starbg_3 .star_4
  left:146px
  top:95px
.starbg_3 .star_5
  left:157px
  top:135px
.starbg_3 .star_6
  left:131px
  top:148px
.starbg_3 .star_7
  left:157px
  top:194px
.starbg_3 .star_8
  left:145px
  top:238px
.starbg_3 .star_9 
  left:119px
  top:270px
.starbg_3 .star_10
  left:154px
  top:265px
.starbg_3 .star_11
  left:236px
  top:270px
.starbg_3 .star_12
  left:218px
  top:250px
.starbg_3 .star_13
  left:200px
  top:200px
.starbg_3 .star_14
  left:236px
  top:178px
.starbg_3 .star_15
  left:245px
  top:148px
.starbg_3 .star_16
  left:217px
  top:116px
.starbg_3 .star_17
  left:263px
  top:83px
.starbg_3 .star_18
  left:240px
  top:68px
.starbg_3 .star_19
  left:202px
  top:46px
.starbg_3 .star_20,.starbg_3 .star_0
  left:229px
  top:39px
/*狮子*/
.starbg_5 .star_1
  left:58px
  bottom:35px
.starbg_5 .star_2
  left:68px
  bottom:84px
.starbg_5 .star_3
  left:56px
  bottom:146px
.starbg_5 .star_4
  left:126px
  bottom:167px
.starbg_5 .star_5
  left:104px
  bottom:126px
.starbg_5 .star_6
  left:140px
  bottom:127px
.starbg_5 .star_7
  left:172px
  top:208px
.starbg_5 .star_8
  left:199px
  top:280px
.starbg_5 .star_9
  left:227px
  top:302px
.starbg_5 .star_10
  left:225px
  top:199px
.starbg_5 .star_11
  left:258px
  top:194px
.starbg_5 .star_12
  left:248px
  top:167px
.starbg_5 .star_13
  left:223px
  top:143px
.starbg_5 .star_14
  left:212px
  top:119px
.starbg_5 .star_15
  left:148px
  top:127px
.starbg_5 .star_16
  left:124px
  top:74px
.starbg_5 .star_17
  left:192px
  top:62px
.starbg_5 .star_18
  left:179px
  top:19px
.starbg_5 .star_19
  left:241px
  top:67px
.starbg_5 .star_20,.starbg_5 .star_0
  left:269px
  top:82px
/*处女座*/
.starbg_6 .star_1
  left:206px
  bottom:54px
.starbg_6 .star_2
  left:228px
  bottom:104px
.starbg_6 .star_3
  left:208px
  bottom:103px
.starbg_6 .star_4
  left:223px
  bottom:136px
.starbg_6 .star_5
  left:161px
  bottom:134px
.starbg_6 .star_6
  left:155px
  bottom:105px
.starbg_6 .star_7
  left:150px
  bottom:77px
.starbg_6 .star_8
  left:110px
  top:239px
.starbg_6 .star_9
  left:93px
  top:200px
.starbg_6 .star_10
  left:143px
  top:170px
.starbg_6 .star_11
  left:183px
  top:134px
.starbg_6 .star_12
  left:183px
  top:170px
.starbg_6 .star_13
  left:238px
  top:173px
.starbg_6 .star_14
  left:226px
  top:148px
.starbg_6 .star_15
  left:217px
  top:96px
.starbg_6 .star_16
  left:182px
  top:103px
.starbg_6 .star_17
  left:131px
  top:92px
.starbg_6 .star_18
  left:176px
  top:58px
.starbg_6 .star_19
  left:225px
  top:58px
.starbg_6 .star_20,.starbg_6 .star_0
  left:226px
  top:22px
/*天枰*/
.starbg_7 .star_1
  left:31px
  bottom:147px
.starbg_7 .star_2
  left:-8px
  bottom:131px
.starbg_7 .star_3
  left:17px
  bottom:111px
.starbg_7 .star_4
  left:49px
  bottom:112px
.starbg_7 .star_5
  left:63px
  bottom:145px
.starbg_7 .star_6
  left:38px
  bottom:248px
.starbg_7 .star_7
  left:113px
  top:78px
.starbg_7 .star_8
  left:67px
  top:76px
.starbg_7 .star_9
  left:128px
  top:55px
.starbg_7 .star_10
  left:158px
  top:52px
.starbg_7 .star_11
  left:160px
  top:148px
.starbg_7 .star_12
  left:200px
  top:112px
.starbg_7 .star_13
  left:205px
  top:75px
.starbg_7 .star_14
  left:240px
  top:113px
.starbg_7 .star_15
  left:279px
  top:112px
.starbg_7 .star_16
  left:241px
  top:226px
.starbg_7 .star_17
  left:289px
  top:247px
.starbg_7 .star_18
  left:327px
  top:226px
.starbg_7 .star_19
  left:281px
  top:210px
.starbg_7 .star_20,.starbg_7 .star_0
  left:313px
  top:183px
/*天蝎*/
.starbg_8 .star_1
  left:66px
  bottom:177px
.starbg_8 .star_2
  left:58px
  bottom:197px
.starbg_8 .star_3
  left:17px
  bottom:176px
.starbg_8 .star_4
  left:15px
  bottom:138px
.starbg_8 .star_5
  left:38px
  bottom:121px
.starbg_8 .star_6
  left:74px
  bottom:98px
.starbg_8 .star_7
  left:124px
  top:249px
.starbg_8 .star_8
  left:163px
  top:235px
.starbg_8 .star_9
  left:172px
  top:200px
.starbg_8 .star_10
  left:179px
  top:167px
.starbg_8 .star_11
  left:219px
  top:122px
.starbg_8 .star_12
  left:238px
  top:108px
.starbg_8 .star_13
  left:260px
  top:100px
.starbg_8 .star_14
  left:287px
  top:90px
.starbg_8 .star_15
  left:312px
  top:154px
.starbg_8 .star_16
  left:352px
  top:138px
.starbg_8 .star_17
  left:316px
  top:120px
.starbg_8 .star_18
  left:314px
  top:83px
.starbg_8 .star_19
  left:257px
  top:54px
.starbg_8 .star_20,.starbg_8 .star_0
  left:302px
  top:54px
/*摩羯*/
.starbg_10 .star_1
  left:116px
  top:121px
.starbg_10 .star_2
  left:74px
  top:187px
.starbg_10 .star_3
  left:8px
  top:140px
.starbg_10 .star_4
  left:1px
  bottom:155px
.starbg_10 .star_5
  left:31px
  bottom:117px
.starbg_10 .star_6
  left:2px
  bottom:62px
.starbg_10 .star_7
  left:42px
  top:266px
.starbg_10 .star_8
  left:76px
  top:256px
.starbg_10 .star_9
  left:112px
  top:228px
.starbg_10 .star_10
  left:111px
  top:266px
.starbg_10 .star_11
  left:152px
  top:259px
.starbg_10 .star_12
  left:142px
  top:233px
.starbg_10 .star_13
  left:179px
  top:223px
.starbg_10 .star_14
  left:267px
  top:237px
.starbg_10 .star_15
  left:177px
  top:202px
.starbg_10 .star_16
  left:157px
  top:64px
.starbg_10 .star_17
  left:212px
  top:35px
.starbg_10 .star_18
  left:256px
  top:60px
.starbg_10 .star_19
  left:250px
  top:82px
.starbg_10 .star_20,.starbg_10 .star_0
  left:209px
  top:106px
/*水瓶*/
.starbg_11 .star_1
  left:244px
  top:46px
.starbg_11 .star_2
  left:177px
  top:48px
.starbg_11 .star_3
  left:174px
  top:92px
.starbg_11 .star_4
  left:116px
  top:47px
.starbg_11 .star_5
  left:84px
  top:88px
.starbg_11 .star_6
  left:91px
  top:109px
.starbg_11 .star_7
  left:80px
  top:143px
.starbg_11 .star_8
  left:148px
  top:177px
.starbg_11 .star_9
  left:205px
  top:164px
.starbg_11 .star_10
  left:138px
  top:209px
.starbg_11 .star_11
  left:74px
  top:184px
.starbg_11 .star_12
  left:40px
  top:191px
.starbg_11 .star_13
  left:26px
  top:217px
.starbg_11 .star_14
  left:110px
  top:302px
.starbg_11 .star_15
  left:125px
  top:265px
.starbg_11 .star_16
  left:183px
  bottom:84px
.starbg_11 .star_17
  left:200px
  bottom:76px
.starbg_11 .star_18
  left:220px
  bottom:98px
.starbg_11 .star_19
  left:241px
  bottom:52px
.starbg_11 .star_20,.starbg_11 .star_0
  left:289px
  bottom:112px
/*双鱼*/
.starbg_12 .star_1
  left:59px
  top:90px
.starbg_12 .star_2
  left:87px
  top:70px
.starbg_12 .star_3
  left:123px
  top:59px
.starbg_12 .star_4
  left:119px
  top:30px
.starbg_12 .star_5
  left:147px
  top:22px
.starbg_12 .star_6
  left:188px
  top:21px
.starbg_12 .star_7
  left:229px
  top:67px
.starbg_12 .star_8
  left:179px
  top:77px
.starbg_12 .star_9
  left:151px
  top:70px
.starbg_12 .star_10
  left:165px
  top:102px
.starbg_12 .star_11
  left:190px
  top:148px
.starbg_12 .star_12
  left:214px
  top:181px
.starbg_12 .star_13
  left:238px
  top:203px
.starbg_12 .star_14
  left:278px
  top:245px
.starbg_12 .star_15
  left:230px
  top:243px
.starbg_12 .star_16
  left:178px
  top:242px
.starbg_12 .star_17
  left:123px
  top:239px
.starbg_12 .star_18
  left:100px
  bottom:77px
.starbg_12 .star_19
  left:78px
  bottom:103px
.starbg_12 .star_20,.starbg_12 .star_0
  left:103px
  bottom:122px
.receivewards_girls_img
  width:217px
  height:308px
  position:absolute
  left:-104px
  top:-21px
.receive_wards_title
  background:url($bgUrl+'prop_icon/tips_wordbg.png') no-repeat 0 -104px
  height:52px
  left: 50%
  line-height: 38px
  margin-left: -110px
  position: absolute
  text-align: center
  top: -42px
  width: 219px
  z-index: 1030
.receive_wards_title span
  width:108px
  height:20px
  background: url($bgUrl+'prop_icon/tips_wordbg.png') no-repeat 0 -354px
  display:block
  text-align:center
  margin:40px 0 0 54px
.dialogGames .ui-dialog-close
  right:-7px
  top:-5px
.dialogGames .ui-dialog-close:hover,.dialogGames .ui-dialog-close:focus
  background:url($bgUrl+'prop_icon/bottolbg.png') no-repeat -585px -15px
  opacity:1
.receive_wards_rightcon p
  margin-left:2px
  margin-right:2px
.text1px
  text-indent:30px
.gold_heartnumber
  padding-left:20px
.gold_heartnumber span
  float:left
  width:82px
  height:23px
.gold_img
  background: url($bgUrl+'prop_icon/bottolbg.png') no-repeat scroll -577px -68px
  display: block
  height: 20px
  line-height: 20px
  padding-left:25px
.heart_4
  background: url($bgUrl+'prop_icon/tips_wordbg.png') no-repeat scroll -227px 0
  display: block
  height: 21px
  line-height: 21px
  padding-left:23px
.receive_goods ul li
  width:40px
  height:40px
  padding:1px
  float:left
  background:url($bgUrl+'prop_icon/iconlink_42.png') no-repeat 0 0
  margin-right:4px
  cursor:pointer
  position:relative
.receive_goods ul li:hover
  background:url($bgUrl+'prop_icon/iconbg_hover_48.png') no-repeat 0 0
  padding:4px
  margin:-3px 1px -3px -3px
.receive_goods ul li img
  width:38px
  height:38px
.lights_show
  left:4px
  top:-32px
.receive_wardsrightmain
  position:relative
  margin-left:110px
  z-index:1
  color:#fff
  font-size:12px
  border:1px solid #1774a4
  background-color:#273851
  border-radius:3px
  -webkit-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
  -moz-box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
  box-shadow:1px 0px 2px #2f4662 inset,0 1px 2px #2f4662 inset,0 -1px 2px #2f4662 inset,-1px 0 2px #2f4662 inset
.receive_wardsrightmain
  width:255px
  height:265px
  padding-bottom:10px
.get_active_degree
  width:105px
  height:20px
  line-height:20px
  text-align:center
#get-actdegree-dialog
  position:absolute
  z-index:200
.get_active_degree .arrow_icon
  top:6px
.get_active_degree span
  margin:0 5px
.attente_tbg
  width:176px
  height:20px
  line-height:20px
  position:absolute
.constellate_vip_hover
  width:264px
  position:absolute
  z-index:200
.constellate_vip_hover .arrow_icon
  top:5px
.pop-msg-blue
  border:#3eacf8 solid 1px
  background:#00485d
  font-size:12px
.pop-msg-blue .ui-dialog-arrow-a,.pop-msg-blue .ui-dialog-arrow-b
  display:block
.pop-msg-blue .ui-dialog-arrow-a
  border-top-color:#3eacf8
.pop-msg-blue .ui-dialog-arrow-b
  border-top-color:#00485d
.pop-msg-blue .ui-dialog-body
  color:#fff
  padding:2px 8px
  line-height:16px
.day_tasklist span
  width:96px
  display:inline-block
  overflow:hidden
  text-overflow:ellipsis
  white-space:nowrap