extends ../../layouts/index

block append title
  title 女神的房间 - 玩乐云 -全球首款互联网互动真人游戏秀

block append meta
  meta(property='wb:webmaster', content='47dec89457353ad1')

block append stylesheet
  link(href='http://static.mm.' + __env.WLY_DOMAIN + '/dist/css/mm/vod.eb2c67ad09a89c45.css', rel='stylesheet', type='text/css')
  style.
    .footer_nav{
      background:#181818;
    }
    .footer_nav .cp_list{
      margin: 0 auto 0;
      padding-top:22px;
    }

block append headjs
  if query.from == '114la'
    base(target="_blank")
  script(type='text/javascript').
    var girlid = 0;
    var page = 'vod';
block append body
  if query.from != '114la'
    #header.header(data-module='header')
  .newsquare.project_box.cl(data-module='m_vod')
    include ../../../../modules/m_vod/index
    include ../../../../modules/mm_footer/index

block append footjs
  script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/mm/vod.min.5cc885a3b632f420.js')
