extends ../../layouts/index
block append head
  title= '你可以登录多个账号聊天'

block append  body
  .wraper(style="color:#000;")
    .content.managerChat(data-module="managerChat")
      - var i = 0
      while i++ < 4
        .item
          .hide.login-success
            .logout(style="float:right") 退出
          include ../../../../modules/managerChat/form
          .chat-wraper