extends ../../layouts/index
block append head
  title= '你可以登录多个账号聊天'

block append  body
  .wraper(style="color:#000;")
    .content.managerChat(data-module="managerChat")
      .add.item

  .sign(data-module="sign")