.mt_20{margin-top:20px}
.active_box
	width:60px
	height:100%
	background:url($bgUrl + "player3/active_bg.png") repeat-y 0 0
	margin-top:-5px;
	padding-bottom:15px
	border-radius:2px
	li
		width:60px
		text-align:center
		margin:0 auto
		cursor:pointer
		div.bottle_s_1,div.bottle_s_2,div.bottle_s_3,div.bottle_s_4
			width:50px
			height:75px
			background:url($bgUrl + "bottle/bottle_smaillimg.png") no-repeat center center
			margin:20px auto 0
			padding:0;
		div.bottle_s_1
			background-position:0 0
		div.bottle_s_2
			background-position:0 -102px
		div.bottle_s_3
			background-position:0 -203px
		div.bottle_s_4
			background-position:0 -301px
		div
			background:url($bgUrl + 'player3/active_icon.png') no-repeat center center
			margin:13px auto 0
		div.ladynotice_1
			width:44px
			height:47px;
			background-position:0 -611px
		div.ladygamereshow
			width:48px
			height:46px;
			background-position:0 -559px 
		div.active_2
			width:33px
			height:43px
			background-position:0 0
		div.first_charge_3
			width:50px
			height:39px
			background-position:0 -51px
		div.vip_bug_4
			width:48px
			height:33px
			background-position:0 -99px
		div.sign_package_5
			width:50px
			height:39px
			background-position:0 -141px
		div.constellation_6
			width:39px
			height:39px
			background-position:0 -190px
		div.ranking_list_7
			width:38px
			height:39px
			background-position:0 -237px
		div.persian_merchants_8
			width:50px
			height:41px
			background-position:0 -288px
		div.special_merchants_9
			width:50px
			height:39px
			background-position:0 -384px
		div.mysterious_merchants_9
			width:50px
			height:40px
			background-position:0 -339px
		div.illustrated_10
			width:32px
			height:38px
			background-position:0 -432px
		div.goddess_bottoleimg
			width:50px;
			height:54px;
			background-position:0 -668px
		.attente_tbg
			right:101px
			top:274px 
		.wish_bottle_word
			width:38px
			height:14px
			background:url($bgUrl+'player3/active_icon.png') no-repeat 0 -480px
			text-align:center;
			margin:0 auto;
.active_box.active_box_up
	display:none
.active_box.active_box_right
	display:block
	position:relative
	height:563px;
	li.BottleShow
		position:absolute;
		bottom:0;
.w980 .active_box_980 li.Bottle div.goddess_bottoleimg
	width:50px;
	height:50px;
	background-position:0 -668px