li
  .active_2
li
  .first_charge_3
li
  .vip_bug_4
li
  .sign_package_5
li
  .constellation_6
li
  .ranking_list_7
li
  .persian_merchants_8
li
  .mysterious_merchants_9
li
  .illustrated_10
li#BottleShow(data-module="bottle")
  .bottle_s_2.bottle-simg
  p.wish_bottle_word= 'asdfqwer'