.popularrank_box.mt_10
  h3 人气排行
  div#popular-scrollbar.followersWrap.cl.scrollbars
    .scrollbar
      .scroll_up
      .track
        .thumb
          .thumb_end
      .scroll_down
    .viewport
      .popularrank_con.cl.overview
        dl.today_populfans.cl
          dt.todypopul_icon.fl
          dd.todypopul_con.fl.pr
            p.todypopul_tit 今日人气贡献TOP3粉丝：
            .todypopul_list.mt_3.cl

        dl.total_populfans.cl
          dt.totalpopul_icon.fl
          dd.totalpopul_con.fl.pr
            p.todypopul_tit 人气贡献TOP10粉丝：
            .totalpopul_list.mt_3.cl
