.personalL
  .personal_Info_menu
    width 200px
    height 415px
    padding-top 5px
    background-color #fff
    margin-top 10px
    li
      a
        width 160px
        border-bottom 1px solid #f0f0f0
        height 40px
        line-height 40px
        padding-left 40px
        display inline-block
        vertical-align middle
        font-size 14px
        color #333333
        &:hover
          color #737373
          span
            &.my_home
              background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -20px
            &.my_diary
              background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -88px
            &.account_sets
              background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -167px
        span
          &.my_home
            width 21px
            margin-right 10px
            background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 0
            height 20px
            display inline-block
          &.my_diary
            width 21px
            margin 0 10px 0 1px
            background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -64px
            height 21px
            display inline-block
            padding 0
          &.account_sets
            width 21px
            height 22px
            margin-right 14px
            margin-left -1px
            background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -140px
            display inline-block
      span
        vertical-align middle
        &.info_set_up
          width 10px
          height 5px
          margin 20px 30px 0 0
          position absolute
          right 5px
          background url($bgUrl + 'orig/images/per_center/index_icon.png') no-repeat -190px 0
          display inline-block
          z-index 10
        &.info_set_down
          width 10px
          height 5px
          margin 20px 30px 0 0
          position absolute
          right 5px
          background url($bgUrl + 'orig/images/per_center/index_icon.png') no-repeat -190px -8px
          display inline-block

.personalL .personal_Info_menu li a:active,.personal_Info_menu li.p_account_settings div.settings_menu a:active,.personalL .personal_Info_menu li.on a,.personal_Info_menu li.p_account_settings div.settings_menu a.on
  color #2ec1e5

.personalL .personal_Info_menu li a:active span.my_home,.personalL .personal_Info_menu li.on a span.my_home
  background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -40px

.personalL .personal_Info_menu li a:active span.my_diary,.personalL .personal_Info_menu li.on a span.my_diary
  background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -112px
  color #2ec1e5

.personalL .personal_Info_menu li a:active span.account_sets,.personalL .personal_Info_menu li.on a span.account_sets
  background url($bgUrl + 'orig/images/per_center/p_settings_icon.png') no-repeat 0 -196px
  color #2ec1e5

.personal_Info_menu
  li
    &.p_account_settings
      div
        &.settings_menu
          padding-left 70px
          width 130px
          a
            width 130px
            border-bottom 1px solid #f0f0f0
            height 40px
            line-height 40px
            display block
            padding-left 0
            color #737373

.personal_Info_menu li.p_account_settings div.sets_style:active  span.info_set_up,.personalL .personal_Info_menu li.on div.sets_style span.info_set_up
  background url($bgUrl + 'orig/images/per_center/index_icon.png') no-repeat -176px 0

.personal_Info_menu li.p_account_settings div.sets_style:active  span.info_set_down,.personalL .personal_Info_menu li.on div.sets_style span.info_set_down
  background url($bgUrl + 'orig/images/per_center/index_icon.png') no-repeat -176px -8px

