h3
  span 基本资料
.p_basicR.cl
  form#setbasic-form
    ul.cl.basicRlist
      li
        .basic_Tit 昵称
        .basic_Titcon
          input.username(type='text', name='usrnick', value= usrnick, placeholder='请输入昵称')
          .basic-error(for='usrnick')
      li
        .basic_Tit 性别
        .basic_Titcon.user_sex
          if sex==1
            input(type='radio' name='sex' value='1' checked='checked')
            label 男
            input.ml_30(type='radio' name='sex' value='2')
            label 女
          else 
            input(type='radio'  name='sex' value='1')
            label 男
            input.ml_30(type='radio'  name='sex' value='2' checked='checked')
            label 女
        .basic-error(for='sex')
      li
        .basic_Tit 生日
        #birthday-value.basic_Titcon.user_birthday(data-birthday= birthday)
          select.date_D(name='year', id='year')
            option 
          select.month_M(name='month', id='month')
            option 
          select.day_D(name='day', id='day')
            option 
          .basic-error(for='birthday')

      li
        .basic_Tit 星座
        #astroid-value.basic_Titcon(data-astroid= astroid)
          select.constellation_C(name='astro', id='astro')
            option 
          .basic-error(for='astro')
      li
        .basic_Tit 城市
        #city-value.basic_Titcon.user_address(data-city= city)
          select.province_M(name='province', id='province')
            option 
          select.city_C(name='city', id='city')
            option 
          .basic-error(for='city')
      li
        .basic_Tit
        .basic_Titcon.mt_20
          input.conserve_btn.save-btn(type='submit', value="保  存", style="border: none;color: #fff;") 
  .binding_type.cl
    ul.cl.bindingT_list.hide
      li.binding_mobile.binding
        .no_binding_Mobile.hide
          p 手机未绑定
          p.mt_25
            a.blue(target='_blank', href='mobilesteps.html') 立即绑定
          p.mt_5 绑定可以享受手机相关的登录、安全、以及服务
        .binding_Mobile
          p 已绑定手机
          p.mt_25
            span.mr_20 156****1050
            a.blue(target='_blank', href='mobilesteps.html') 更换手机
          p.mt_5 绑定可以享受手机相关的登录、安全、以及服务
      li.binding_email
        .no_binding_Email
          p 邮箱未绑定
          p.mt_25
            a.blue(target='_blank', href='emailsteps.html') 立即绑定
          p.mt_5 绑定可以使用邮箱登录以及保证您的账户安全
        .binding_Email.hide
          p 已绑定邮箱
          p.mt_25
            span.mr_20 vivianbox@163.com
            a.blue(target='_blank', href='emailsteps.html') 更换邮箱
          p.mt_5 绑定可以使用邮箱登录以及保证您的账户安全
