.w300
  width 300px

.personal_ConR
  width 770px
  height 540px
  background-color #fff
  padding 20px 0 30px
  font-family "微软雅黑"
  h3
    border-bottom 1px solid #e0e0e0
    padding-bottom 20px
    padding-left 20px
  .binding_type
    width 730px
    margin-top 80px

.personal_ConR .p_basicR,.personal_ConR .p_setphoTo
  width 730px
  padding 0 20px
  margin-top 20px

.p_basicR
  .basicRlist
    li
      width 730px
      height 38px
      margin 0 0 10px
      clear both
      font-size 12px
    .basic_Tit
      width 50px
      height 38px
      line-height 38px
      text-align left
      float left
    .basic_Titcon
      width 400px
      line-height 38px
      text-align left
      float left
      vertical-align middle
      .focuscolor
        color #333
      select
        option
          padding 0 12px
  .basic-error
    width: 298px;
    padding-left: 2px;
    height: 24px;
    float: left;
    font-family: "微软雅黑","microsoft yahei",Arial,sans-serif;
    color: #f00;
    font-size: 12px;
    line-height: 24px;

.p_basicR .basicRlist .basic_Titcon input,.p_basicR .basicRlist .basic_Titcon select
  height 36px
  line-height 36px
  padding 0 10px
  border 1px solid #ccc
  color #999
  vertical-align middle
  font-family "微软雅黑"

.basic_Titcon
  .username
    width 278px
    padding 0 10px
  .constellation_C
    width 300px
  &.user_sex
    input
      margin-right 5px
      &.ml_30
        margin-left 30px
  &.user_address
    select
      width 145px
  #submit
    width 300px
    height 36px
    line-height 36px
    background-color #2ec1e5
    text-align center
    color #fff
    font-size 14px
    display block
    border-radius 2px

.basic_Titcon.user_birthday select,.basic_Titcon.user_address select
  height 38px
  float left
  margin-right 10px

.user_birthday
  select
    &.date_D
      width 100px

.user_birthday select.month_M,.user_birthday select.day_D
  width 90px

.binding_type
  .bindingT_list
    li
      float left
      background-color #fff
      width 343px
      height 78px
      border 1px solid #ccc
      padding 10px 5px 10px 10px
      &.binding
        width 345px
        height 80px
        background-color #edf7fa
        border none
      &.binding_mobile
        margin-right 10px
      div
        &.no_binding_Mobile
          height 80px
          padding-left 90px
          background url($bgUrl + 'orig/images/per_center/binding-t-icon.png') no-repeat 0 0
        &.binding_Mobile
          height 80px
          padding-left 90px
          background url($bgUrl + 'orig/images/per_center/binding-t-icon.png') no-repeat 0 -176px
        &.no_binding_Email
          height 80px
          padding-left 90px
          background url($bgUrl + 'orig/images/per_center/binding-t-icon.png') no-repeat 0 -88px
        &.binding_Email
          height 80px
          padding-left 90px
          background url($bgUrl + 'orig/images/per_center/binding-t-icon.png') no-repeat 0 -263px
        a
          text-decoration underline

.save-btn
  background-color #2ec1e5
  color #fff
  margin-right 20px
  width 140px
  height 36px
  line-height 36px
  text-align center
  float left
  font-size 14px
  border-radius 2px
  cursor pointer

.footer_nav a
  color: #222
