/*女神排行榜*/
.goddess_ranktitle
	background: url($bgUrl+"player3/ranking_img.png") no-repeat 0 0
	height: 50px
	left: 45px
	position: absolute
	top: -7px
	width: 262px

.goddess_ranktitle span
	width: 111px
	height: 22px
	background: url($bgUrl+"player3/ranking_img.png") no-repeat 0 -94px
	display: block
	margin: 10px 0 0 72px

.goddess_ranking_top
	width: 306px
	height: 239px
	padding: 43px 10px 10px
	background: url($bgUrl+"player3/square_boxbg.png") no-repeat 0 -215px

.ranking_type_list
	width: 306px
	height: 20px
	margin-bottom: -1px

.ranking_type_list li
	width: 150px
	height: 20px
	line-height: 20px
	float: left
	cursor: pointer
	text-align: center
	color: #fff
	background: url($bgUrl+"player3/square_boxbg.png") no-repeat -348px -216px

.ranking_type_list li.on
	height: 22px
	margin-bottom: -1px
	background: url($bgUrl+"player3/square_boxbg.png") no-repeat -505px -216px
.ranking_type_list li.ml_5.on
	margin-left:6px;
.ranking_pk_main
	width: 306px
	height: 220px
	background: url($bgUrl+"player3/square_boxbg.png") no-repeat -347px -255px
	.popular-scroll.scrollbars
		width:281px;
		height:220px;
		position:absolute;
		.scrollbar
			height:220px;
			top:6px;
		.viewport
			width:281px;
			height:215px;
			.overview
				height:auto;
.star_photobg
	width: 33px
	height: 20px

.star_photobg img.photobg
	left: 0
	bottom: 2px

.popularity_rankgin_pk
	width:281px;
	height: 110px

.mt_020
	margin-top: -20px

.mt_05
	margin-top: -5px

.w18
	width: 15px
	display: inline-block
	color: #fff
	text-align: center
	vertical-align: middle

.popularity_rankgin_pk li
	width: 110px
	height: 104px
	text-align: center
	margin: 0 auto
	position: absolute
	.mt_020
		margin-top:-20px;

.popularity_rankgin_pk li.user_photo_1
	left: 50%
	margin-left: -50px
	top: -22px

.popularity_rankgin_pk li.user_photo_2
	left: 0
	bottom: 16px

.popularity_rankgin_pk li.user_photo_3
	right:-12px
	bottom: 16px
.pk_user_photpbg1,.pk_user_photpbg2,.pk_user_photpbg3
	position: relative
	background: url($bgUrl+"player3/ranking_photobg.png") no-repeat
	margin: 0 auto
	z-index: 1

.pk_user_photpbg1
	width: 110px
	height: 115px
	background-position: 0 0

.pk_user_photpbg2
	width: 110px
	height: 116px
	background-position: 0 -118px

.pk_user_photpbg3
	width: 110px
	height: 116px
	background-position: 0 -255px

.popularity_rankgin_pk li.user_photo_2 .pk_user_photpbg2 img
	top: 44px

.popularity_rankgin_pk li.user_photo_3 .pk_user_photpbg3 img
	top: 44px

.popularity_rankgin_pk li img
	height: 44px
	background: url($bgUrl+"player3/purple_photobg.png") no-repeat 0 0
	padding: 3px 2px 2px
	position: absolute
	top: 40px
	right: 32px

.pk_user_photpbg1 ins
	width: 26px
	height: 14px
	background: url($bgUrl+"player3/ranking_img.png") no-repeat -234px -56px
	position: absolute
	bottom: 18px
	left: 40px

.pk_user_photpbg2 ins
	width: 27px
	height: 15px
	background: url($bgUrl+"player3/ranking_img.png") no-repeat -234px -78px
	position: absolute
	bottom: 18px
	left: 42px

.pk_user_photpbg3 ins
	width: 27px
	height: 14px
	background: url($bgUrl+"player3/ranking_img.png") no-repeat -234px -101px
	position: absolute
	bottom: 18px
	left: 42px

.popularity_square_rank
	height: 100px
	padding: 0 0 0 5px

.popularity_square_rank li
	float: left
	margin-bottom: 5px
	width: 275px
	vertical-align: middle
	height: 20px
	line-height: 20px

.ranking_square_hr
	height: 2px
	margin: 4px auto
	background: url($bgUrl+"player3/ranking_square_hr.png") no-repeat 0 0

.ranking_pkcon_scroll
	height: 210px

.s
	margin-left: 6px

.ml_1
	margin-left: 1px