.textoverflow
  overflow hidden
  text-overflow ellipsis
  vertical-align -2px
  white-space nowrap
  word-wrap normal

.personal_main
  width 980px
  margin 10px auto 0
  color rgb(89, 89, 89)

.personalL
  width 200px

.personalR
  width 730px
  background-color #fff
  padding 25px 20px
  .my_devote
    margin-top 40px
    width 730px
    h3
      span
        font-size 12px
        &.devote_shareb
          width 15px
          height 14px
          background url($bgUrl + 'per_center/index_icon.png') no-repeat -152px -76px
          display inline-block
          margin-right 2px
          vertical-align text-top
        &.devote_shareg
          width 15px
          height 14px
          background url($bgUrl + 'per_center/p_settings_icon.png') no-repeat 0 -222px
          display inline-block
          margin-right 2px
          vertical-align text-top

.personalr_assets .my_assets h3,.personalr_assets .my_privilege h3,.personal_diaryR h3
  border-bottom 1px solid #e0e0e0
  padding-bottom 5px
  margin-bottom 15px

.personalr_assets
  .assets_numberlist
    width 361px
    border 1px solid #ebebeb
    border-right none
    li
      border-right 1px solid #ebebeb
      width 119px
      height 103px
      float left
      margin 0 auto
      padding-top 15px
      text-align center
      position relative
  .privilege_list
    li
      width 327px
      clear both
      margin-bottom 3px
      vertical-align middle

.assets_numberlist
  li
    ins
      &.assets_gold
        width 40px
        height 40px
        background url($bgUrl + 'per_center/index_icon.png') no-repeat 0 0
        display inline-block
      &.assets_drill
        width 40px
        height 36px
        background url($bgUrl + 'per_center/index_icon.png') no-repeat -43px 0
        display inline-block
      &.assets_goods
        width 38px
        height 38px
        background url($bgUrl + 'per_center/index_icon.png') no-repeat -88px 0
        display inline-block
    .assets_look
      width 29px
      height 20px
      padding 5px 0
      line-height 20px
      background url($bgUrl + 'per_center/index_icon.png') no-repeat 0 -82px
      position absolute
      right 5px
      bottom 5px
      a
        font-size 38px
        color #ffae0d
        border-radius 2px
        text-align center
        vertical-align middle
        display inline-block
        &.add_sign_n
          width 16px
          height 24px
          background url($bgUrl + 'per_center/index_icon.png') no-repeat -152px 0
          display inline-block
          &:hover
            background url($bgUrl + 'per_center/index_icon.png') no-repeat -152px -24px
          &:active
            background url($bgUrl + 'per_center/index_icon.png') no-repeat -152px -48px
        &.eye
          width 22px
          height 20px
          background url($bgUrl + 'per_center/index_icon.png') no-repeat -178px -20px
          display inline-block
          &:hover
            background url($bgUrl + 'per_center/index_icon.png') no-repeat -178px -44px
          &:active
            background url($bgUrl + 'per_center/index_icon.png') no-repeat -178px -67px

.personalr_assets .privilege_list,.privilege_list .privilege_tips
  width 327px
  color #333

.privilege_list
  .privilege_date
    div
      width 327px
      clear both
      line-height 28px
      span
        &.grayVip
          background url($bgUrl + 'per_center/index_icon.png') no-repeat -86px -48px
          display inline-block
          height 14px
          width 25px
        &.goldVip
          background url($bgUrl + 'per_center/index_icon.png') no-repeat -116px -48px
          display inline-block
          height 14px
          width 25px
  .angel_data
    span
      float left
      line-height 28px
      margin-right 5px
      vertical-align middle
      &.gray_angel
        height 24px
        background url($bgUrl + 'per_center/index_icon.png') no-repeat -28px -48px
        padding-left 25px
      &.gold_angel
        height 24px
        background url($bgUrl + 'per_center/index_icon.png') no-repeat -57px -48px
        padding-left 25px

.privilege_date
  span
    vertical-align middle
    line-height 28px
    margin-right 5px

.ffc933_1
  background-color #ffc933
  border-radius 2px
  color #fff

.fff1cc_2
  background-color #fff1cc
  border-radius 2px
  color #f27900

.ff7f7f_3
  background-color #ff7f7f
  border-radius 2px
  color #fff

.privilege_tips
  .privilege_face
    padding 5px
    span
      height 20px
      background url($bgUrl + 'per_center/index_icon.png') no-repeat left center
      display inline-block
      padding-left 30px
      &.face_1
        background-position -178px -145px
      &.face_2
        background-position -178px -90px
      &.face_3
        background-position -178px -117px

.personalR .my_devote h3,.personalR .my_pdiary h3
  border-bottom 1px solid #dcdcdc
  padding-bottom 5px
  margin-bottom 15px
  color #333333
  font-size 16px
  font-weight normal

.my_devote
  .devote_value
    li
      width 200px
      height 230px
      margin 15px 20px 15px 20px
      float left
      text-align center
      position relative
      div
        &.p_popularity_bg
          width 127px
          height 124px
          position absolute
          left 50%
          top 0
          margin-left -60px
        &.p_popularity_value
          width 120px
          height 120px
          text-align center
          position absolute
          left 50%
          top 0
          margin-left -60px
          z-index 10
          border-radius 80px
        span
          width 120px
          height 90px
          display block
          text-align center
          border-radius 80px
          font-size 36px
          padding-top 30px
          &.p_popularity_value_1
            color #f6712a
          &.p_popularity_value_2
            border 5px solid #2ec1e5
            color #2ec1e5
          &.p_popularity_value_3
            border 5px solid #e73378
            color #e73378
  p
    &.noaction_lady
      margin 118px auto 120px

.mt_124
  margin-top 140px

.o_em1
  color #f6712a

.b_em2
  color #2ec1e5

.r_em3
  color #e73378

.my_pdiary
  dl
    &.p_diary_myself
      height 225px

.my_pdiary dl.p_diary_myself dd.p_diary_mycollect div,.p_diary_list li div
  text-align center

.my_pdiary dl.p_diary_myself dd.p_diary_mycollect div.Getmycollect,.p_diary_list li div.Getmycollect
  position absolute
  left 110px
  top 30px

.p_diary_mycollect div.Getmycollect span,.p_diary_list li div span
  margin-right 10px

.p_diary_mycollect
  div
    a
      img
        width 54px
        height 54px
        background url($bgUrl + 'per_center/p_photebg.png') no-repeat center center
        padding 3px

.today_collect
  width 770px
  height 115px
  background-color #f5f5f5
  border 1px solid #e3e3e3
  border-left none
  border-right none
  position absolute
  left -20px
  bottom 15px
  text-align center
  box-shadow 1px 1px 2px #eeeeee inset,1px 1px 2px #eeeeee inset,1px -1px 2px #eeeeee inset,-1px 1px 2px #eeeeee inset
  -webkit-box-shadow 1px 1px 2px #eeeeee inset,1px 1px 2px #eeeeee inset,1px -1px 2px #eeeeee inset,-1px 1px 2px #eeeeee inset
  -moz-box-shadow 1px 1px 2px #eeeeee inset,1px 1px 2px #eeeeee inset,1px -1px 2px #eeeeee inset,-1px 1px 2px #eeeeee inset
  ul
    li
      float left
      margin 0 5px
  .today_collect_1
    ul
      width 100%
      height 65px
      border-top 1px solid #ffa1c5
      padding-top 20px
      text-align center
    h5
      width 60px
      height 20px
      line-height 20px
      background-color #f8f8f8
      position absolute
      top -10px
      left 50%
      margin-left -30px
      color #4c4c4c
      font-size 12px
  .today_collect_2
    ul
      width 100%
      height 65px
      border-top 1px solid #cccccc
      padding-top 20px
      text-align center
  .diary_myself_arrow
    position absolute
    overflow hidden
    font-style normal
    font-size 14px
    text-shadow 0 0 2px #ededed
    color #ededed
    left 45px
    top -10px

.p_diary_list
  li
    width 730px
    position relative
    float left
    overflow hidden
    margin 15px auto
    line-height 12px
    a
      img
        width 60px
        height 60px

.personal_diaryR
  width 770px
  background-color #fff
  padding 20px 0
  .mydiary_detailsC
    width 670px
    height 430px
    padding 10px 0 20px
    background-color #f0f0f0
    border-radius 2px
    -moz-border-radius 2px
    -webkit-border-radius 2px
    .datedContentL
      width 299px
      height 420px
      border-right 1px solid #ccc
      margin 4px auto 0
      text-align center
      padding 0 20px 10px
  h3
    padding-bottom 20px
    padding-left 20px
    margin-bottom 25px
  .mydiary_detailS
    width 730px
    padding 0 20px 40px
    position relative

.mydiary_detailS .mydiary_menuL,.mydiary_detailS .mydiary_menuR
  width 30px

.mydiary_detailS .mydiary_menuL li span,.mydiary_detailS .mydiary_menuR li span
  width 20px
  line-height 14px
  word-wrap break-word
  word-break break-all
  margin -32px auto 0
  text-align center
  display block
  position absolute
  left 7px
  top 50%

.mydiary_detailS .mydiary_menuL li,.mydiary_detailS .mydiary_menuR li
  width 30px
  background url($bgUrl + 'per_center/mydiary_menubtn.png') no-repeat center center
  position relative
  cursor pointer

.mydiary_detailS
  .mydiary_menuL
    li
      &.d_menuL_f
        width 30px
        height 85px
        background-position -133px 0
        span
          margin-top -35px
        &:hover
          background-position -165px 0
      &.d_menuL
        width 30px
        height 95px
        margin-top -19px
        background-position -64px 0
        &:hover
          background-position -32px 0
  .mydiary_menuR
    margin-top 76px
    li
      &.d_menuR_l
        width 30px
        height 85px
        background-position -133px -110px
        span
          margin-top -27px
        &:hover
          background-position -165px -110px
      &.d_menuR
        width 30px
        height 95px
        margin-bottom -19px
        background-position -64px -107px
        &.d_menuR_f
          width 30px
          height 95px
          background-position -198px -107px
        &:hover
          background-position -32px -107px
  li
    span
      &.mt_030
        margin-top -17px
      &.mt_025
        margin-top -25px
  .playdContentR
    width 310px
    padding 0 10px

.mydiary_detailS .mydiary_menuL li.d_menuL_f:active,.mydiary_detailS .mydiary_menuL li.d_menuL_f.act
  background-position -101px 0
  position relative
  z-index 1

.mydiary_detailS li:active span,.mydiary_detailS li.act span
  color #fff

.mydiary_detailS .mydiary_menuL li.d_menuL:active,.mydiary_detailS .mydiary_menuL li.d_menuL.act
  background-position 0 0

.mydiary_detailS .mydiary_menuR li.d_menuR_l:active,.mydiary_detailS .mydiary_menuR li.d_menuR_l.act
  background-position -101px -110px
  color #fff

.mydiary_detailS .mydiary_menuR li.d_menuR:active,.mydiary_detailS .mydiary_menuR li.d_menuR.act
  background-position 0 -107px

.datedContentL
  .diarydateList
    width 289px
    height 310px
    padding 10px 0 0 10px
    background-color #ded7da
    border-radius 2px
    -moz-border-radius 2px
    -webkit-border-radius 2px
    position relative

.diarydateList
  .diarydateList_scroll
    width 8px
    height 320px
    padding 0 1px
    background-color #d4c3ca
    position absolute
    right 0
    top 0
    border-radius 5px
    span
      width 8px
      background-color #f2ebee
      display block
      border-radius 5px
  ul
    li
      display inline-block
      float left
      height 48px
      margin-right 6px
      margin-bottom 6px
      width 48px
  .d_dateBg
    width 270px
    .d_dateC
      a
        background url($bgUrl + "per_center/diary_iconbg_link40.png") no-repeat center center
        display block
        height 48px
        width 48px
      img
        border-radius 3px
        height 40px
        margin-left 4px
        margin-top 4px
        width 40px
  .d_dateN
    span
      width 48px
      height 48px
      line-height 48px
      display inline-block

.playdContentR
  .p_date_details
    width 310px
    vertical-align middle
    a
      text-decoration underline
  .d_playArea
    background url("http://static.mm.wanleyun.cn/orig/images/bg_blue.png") repeat
    border 1px solid #1774a4
    height 156px
    margin 37px auto 7px
    position relative
    width 156px
    z-index 0
    .d_playerC
      width 156px
      height 156px
      overflow hidden
    .iconShare
      width 41px
      height 18px
      background url("http://static.mm.wanleyun.cn/orig/images/share.png") no-repeat center
      position absolute
      top -18px
      right -3px
    .iconPlay
      width 165px
      height 165px
      background url($bgUrl + "per_center/diary_playbtn.png") no-repeat center
      position absolute
      top -5px
      left -4px
      z-index 10
    .iconPrev
      width 13px
      height 21px
      position absolute
      top 68px
      left -32px
      background url($bgUrl + "per_center/diary_pointer.png") no-repeat -15px 0
      &:hover
        background url($bgUrl + "per_center/diary_pointer.png") no-repeat 0 0
    .iconNext
      width 13px
      height 21px
      position absolute
      top 68px
      right -32px
      background url($bgUrl + "per_center/diary_pointer.png") no-repeat -29px 0
      &:hover
        background url($bgUrl + "per_center/diary_pointer.png") no-repeat -44px 0
    a
      &.iconPlay
        &:hover
          background url($bgUrl + "per_center/diary_playbtn_hover.png") no-repeat center center
  .icons
    display inline-block
  .d_rankingL
    width 305px
    border-top 1px solid #ccc
    margin-top 15px
    padding-top 10px

.d_playArea
  .d_playerC
    .dplayer_L
      height 156px
      width 100%
      li
        float left
        width 156px
        height 156px
        img
          width 156px
          height 156px

.d_rankingL
  .d_rankingC
    width 305px
    height 107px
    padding 8px 0 10px
    background url($bgUrl + "per_center/d_ladyrankingbg.png") no-repeat center center
    li
      float left
      width 72px
      height 105px
      margin 0 2px
      text-align center
      img
        background url("http://static.mm.wanleyun.cn/orig/images/photobg.png") no-repeat scroll -1px -2px
        height 38px
        left 4px
        padding 6px
        position absolute
        top 0
        width 38px
        z-index 2
        &.grayPhotobg1
          background url("http://static.mm.wanleyun.cn/orig/images/photobg.png") no-repeat scroll -56px -2px
        &.goldPhotobg2
          background url("http://static.mm.wanleyun.cn/orig/images/photobg.png") no-repeat scroll -112px -2px
        &.bluePhotobg3
          background url("http://static.mm.wanleyun.cn/orig/images/photobg.png") no-repeat scroll -112px -2px
      div
        &.d_photobg
          width 60px
          height 60px
          position relative
          margin 15px auto 0
          position relative
          i
            &.iconVip
              background url("http://static.mm.wanleyun.cn/orig/images/vip.png") no-repeat center center/ 24px 14px
              bottom 7px
              display inline-block
              height 14px
              left 17px
              position absolute
              width 24px
              z-index 3
        &.d_Rankimg
          width 60px
          height 15px
          line-height 15px
          margin 0 auto
          vertical-align middle
        &.d_rankLast
          line-height 18px
      .d_Rankimg
        i
          width 15px
          height 15px
          background url("http://static.mm.wanleyun.cn/orig/images/player3/boxbg.png") no-repeat left center
          margin-right 2px
          vertical-align middle
          display inline-block
          &.crown_yellow
            background-position -785px -530px
          &.crown_gray
            background-position -785px -550px
          &.crown_orange
            background-position -785px -510px
        span
          width 27px
          height 15px
          background url('http://static.mm.wanleyun.cn/orig/images/player3/player_number.png') no-repeat left center
          margin 0 auto
          vertical-align middle
          display inline-block
          &.integral_1
            background-position 0 0
          &.integral_2
            background-position 0 -20px
          &.integral_3
            background-position 0 -40px

.p_date_details
  .iconPlaySmall
    background url("http://static.mm.wanleyun.cn/orig/images/play.png") no-repeat scroll center center
    float left
    height 18px
    width 20px

.p_setphoTo
  .clickFile
    width 730px
    height 36px
    .file_tyle
      position relative
      width 300px
      height 36px
  .p_photo_C
    width 730px
    height 300px
    margin 20px auto 40px
    div
      float left
      vertical-align bottom
      text-align center
    .p_photo_b1
      width 300px
      height 300px
      background-color #c8c8c8
      margin-right 60px
      border-radius 1px
      position relative
    .p_photo_b2
      width 100px
      margin-right 60px
      margin-top 175px
      div
        width 100px
        height 100px
      img
        width 100px
        height 100px
        border-radius 50px
    .p_photo_b3
      width 60px
      margin-top 225px
      text-align center
      div
        width 50px
        height 50px
      img
        width 50px
        height 50px
        border-radius 50px
  .P_photo_btn
    margin-bottom 45px
    span
      width 140px
      height 36px
      line-height 36px
      text-align center
      float left
      font-size 14px
      border-radius 2px
      cursor pointer
      &.conserve_btn
        background-color #2ec1e5
        color #fff
        margin-right 20px
      &.Cancel_btn
        background-color #e0e0e0
        color #666

.clickFile
  .file_tyle
    input
      width 300px
      height 36px
      opacity 0
      position relative
      z-index 1
      cursor pointer
    .file_btn
      width 300px
      height 36px
      background-color #2ec1e6
      text-align center
      line-height 36px
      color #fff
      position absolute
      left 0
      top 0
      cursor pointer
      z-index 0
  .file_Tips
    margin-left 15px
    margin-top 19px
    color #808080

.p_photo_C
  .p_photo_b1
    .photoimg_lodding
      width 120px
      height 120px
      background url($bgUrl + 'per_center/photo_loddingbg.png') no-repeat center center
      position absolute
      left 90px
      top 90px

.p_photo_b1
  .photoimg_lodding
    span
      width 50px
      height 50px
      background url($bgUrl + 'per_center/photo_lodding.png') no-repeat center center
      display block
      margin 35px auto 0

.p_setphoTo .p_photo_C .p_photo_b2 div,.p_setphoTo .p_photo_C .p_photo_b3 div
  border-radius 50px
  background-color #c8c8c8
  margin 0 auto 5px
  overflow hidden

.personal_ConR .p_setPwd,.personal_ConR .p_sharesetA
  width 730px
  padding 0 20px
  margin-top 20px
  height 477px

.p_setPwd
  .setPassword_C
    li
      width 730px
      clear both
      height 38px
      line-height 38px
      margin-bottom 25px
      div
        &.basic_Tit
          width 80px
          height 38px
          line-height 38px
          float left
        &.basic_Titcon
          width 400px
          height 38px
          line-height 38px
          float left
          input
            width 288px
            height 36px
            border 1px solid #ccc
            color #bfbfbf
            vertical-align middle
            font-size 12px
  .error
    display block
    font-size 12px
    line-height 24px
    color #f00

.p_sharesetA
  .p_shareseta_C
    li
      width 120px
      text-align center
      float left
      margin 30px 20px
      img
        width 118px
        height 38px
        border 1px solid #b2b2b2
        vertical-align middle
      div
        width 60px
        height 24px
        line-height 24px
        background-color #2ec1e5
        color #fff
        text-align center
        margin 10px auto 0
        border-radius 2px
        cursor pointer
        &:hover
          background-color #43d1f4
        &:active
          background-color #0ba5d9
        &.authorized
          background-color #4c6580

.personal_ConR
  .p_rechargeRecord
    width 730px
    padding 0 20px
    margin-top 20px
  .p_rechargeR_C
    table
      width 728px
      border 1px solid #ebebeb
      tr
        width 728px
        height 40px
        line-height 40px
        th
          border-right 1px solid #ebebeb
          background-color #f0f0f0
          font-size 12px
          font-weight normal
          color #333
        td
          border 1px solid #ebebeb
          border-left none
          border-bottom none
          padding-left 20px
          &.recharge_stutas
            padding 0
            text-align center
            border-right none

.p_rechargeRecord
  .p_rechargeR_C
    width 730px
    margin-top 30px
  .p_rechargeR_dateS
    width 730px
    height 38px
    line-height 38px
    span
      &.record_date
        width 50px
        display inline-block
      &.record_searchB
        width 120px
        height 36px
        background-color #00ccff
        text-align center
        line-height 36px
        color #fff
        display inline-block
        border-radius 2px
        cursor pointer
    select
      width 88px
      height 36px
      padding 0 10px
      border 1px solid #ccc
      margin-right 15px
      color #595959
      font-size 12px
      option
        padding 0 13px

