.happyNow
  width:80px
  height:76px
.happyNow_1
  background:url($bgUrl+'myladyBg.png') no-repeat 0px -427px
.happyNow_2
  background:url($bgUrl+'myladyBg.png') no-repeat -80px -427px
.happyNow_3
  background:url($bgUrl+'myladyBg.png') no-repeat -160px -427px
.happyNow_4
  background:url($bgUrl+'myladyBg.png') no-repeat -240px -427px
.happyNow_5
  background:url($bgUrl+'myladyBg.png') no-repeat -320px -427px

#map_flash
  margin-left:3px

.happyPop
  background:url($bgUrl+'bg_white.png') repeat
  border:none
  .ui-dialog-header
    border:none
  
  .ui-dialog-title
    text-align:center
    overflow:visible
    position:relative
    z-index:5
    span
      display:inline-block
      width:210px
      height:36px
      background:url($bgUrl+'happy1.png') no-repeat
      position:absolute
      z-index:6
      top:-15px
      left:258px
      text-indent:9999em
      overflow:hidden
  .ui-dialog-close
    position:absolute
    z-index:10
    right:4px
    top:4px
    text-indent:100em
    overflow:hidden
    width:18px
    height:15px
    background:url($bgUrl + "bottle/bottolbg.png") no-repeat -583px 0
  .ui-dialog-close:hover
    background:url($bgUrl + "bottle/bottolbg.png") no-repeat -583px -15px
  .ui-dialog-body
    padding: 0
  .happyPopInner
    width:auto 
  .happyPopGirl
    position:absolute
    z-index:1
    left:-42px
    top:-47px 
  .happyMain
    background:#0c1924
    border:#94bfdb solid 1px
    width:547px
    height:315px
    padding:10px
    position:absolute
    z-index:2
    right:10px
    top:-22px
    border-radius:2px 
    letter-spacing:0px
    box-shadow:1px 0px 6px #1b3142 inset,0 1px 6px #1b3142 inset,0 -1px 6px #1b3142 inset,-1px 0 6px #1b3142 inset
    -webkit-box-shadow:1px 0px 6px #1b3142 inset,0 1px 6px #1b3142 inset,0 -1px 6px #1b3142 inset,-1px 0 6px #1b3142 inset
    -moz-box-shadow:1px 0px 6px #1b3142 inset,0 1px 6px #1b3142 inset,0 -1px 6px #1b3142 inset,-1px 0 6px #1b3142 inset
  .happyWord 
    background:#2a3e58
    border:#146087 solid 1px
    color:#fdf5a2
    padding:25px 10px 27px 90px
    line-height:20px
    border-radius:2px
    box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset
    -webkit-box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset
    -moz-box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset  
    .iconHappyBLight
      position:absolute
      z-index:0
      top:10px
      left:20px
    .iconHappyB
      position:absolute
      top:20px
      z-index:1 
      left:18px
    .iconArrow
      display:inline-block
      width:28px
      height:30px
      background:url($bgUrl+'arrow_left_blue.png') no-repeat
      position:absolute
      z-index:1
      top:20px
      left:-16px
  .happyDetail
    margin-top:4px
  li
    width:171px
    height:228px
    padding:7px 3px 0 3px
    background:#2a3e58
    border:#146087 solid 1px
    font-size:12px
    border-radius:2px
    box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset
    -webkit-box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset
    -moz-box-shadow:1px 0px 2px #384961 inset,0 1px 2px #384961 inset,0 -1px 2px #384961 inset,-1px 0 2px #384961 inset  
  li.fl
    margin-right:4px
    width:172px
  .currentState
    position:relative
    z-index:1
    padding-left:24px
    i
      display:inline-block
      height:20px
      width:20px
      position:absolute
      top:-4px
      left:0px
  .dText
    line-height:20px
    color:#fff
  .dImg
    text-align:center
    padding-top:12px
    img
      border:#082331 solid 1px
      border-radius:2px
      width:auto
      height:90px
  .dBtn
    text-align:center
    padding-top:15px
    border-radius:2px
