doctype html
html
  head
    link(href='http://www.wanleyun.com/images/favicon.png', rel='shortcut icon')
    block title
    block meta
    meta(name='title', content='女神的房间-玩乐云-全球首款互联网互动真人游戏秀')
    meta(name='keywords', content='美女视频,,视频直播,直播,视频搜索,视频播放,视频社交,美女播客, 美女视频, 美女直播，真人直播秀，秀场，视频游戏秀，游戏秀，玩乐云')
    meta(name='description', content='女神的房间-全球首款互联网互动真人游戏秀- 玩乐云是国内唯一一家真人游戏秀直播互动平台- 玩乐云')
    block stylesheet
    link(href='http://static.mm.' + __env.WLY_DOMAIN + '/dist/css/manager/chat.c623962988402535.css', rel='stylesheet', type='text/css')
    include ../../../modules/mm_headjs/index
    block headjs
    script!= 'var __global = ' + JSON.stringify(__global)
  body
    block body
    block footjs
      script(src='http://static.mm.' + __env.WLY_DOMAIN + '/dist/js/manager/chat.min.4ab0bce335b9046d.js')
