.userfeed
  display:block
  .userfeed_box
  	width:456px;
  	height:105px;
  	padding:5px 12px 20px 12px;
  	margin-top:5px;
  	background:url($bgUrl + 'player3/new_player_boxbg.png') no-repeat -5px -5px;
  	.userfeed_con
  		width:456px;
  		height:72px;
  		padding:2px 0;
  		background:url($bgUrl + 'player3/user_feedbg.png') no-repeat 0 0;
  		li
  			float:left;
  			vertical-align:middle;
  			width:453px;
  			em
  				font-size:10px;
  				color:#a7a292;
  				font-style:normal;
  				margin-right:3px;
  				-webkit-transform:scale(.84,.84);
  				display:inline-table;
  				vertical-align:middle;
  			img
  				vertical-align:middle;
  				max-height:20px;