.userfeed
  display:block
  .userfeed_box
  	width:494px;
  	height:138px;
  	background:url($bgUrl + 'player3/new_player_boxbg.png') no-repeat -5px -5px;
  	.userfeed_con
  		width:453px;
  		height:78px;
  		padding:5px 2px;
  		background:url($bgUrl + 'player3/user_feedbg.png') no-repeat 0 0;