.userfeed_box.cl
	h3 用户动态
	ul.userfeed_con.cl
		li
			em 15:28
			img(height="15",src="http://static.mm.wanleyun.cn/orig/images/flying2.png")
			img(width="18",src="http://static.mm.wanleyun.cn/orig/images/vip.png")
			span.uname 王涵
				| 送
			span.pinkText 晨岚
			img(width="20",itemid="1000000362",src="http://static.mm.wanleyun.cn/item/1000000362/50?png")
		li
			em 15:28
			img(height="15",src="http://static.mm.wanleyun.cn/orig/images/flying2.png")
			img(width="18",src="http://static.mm.wanleyun.cn/orig/images/vip.png")
			span.uname 王涵
			| 送
			span.pinkText 晨岚
			img(width="20",itemid="1000000362",src="http://static.mm.wanleyun.cn/item/1000000362/50?png")