.chat_viewer
  margin-top:10px
  height:256px
  background:url($bgUrl+'boxbg.png') no-repeat 0 0
  width:316px
  padding-left:14px
  font-size:12px
.chat_viewer_tab
  width:305px
  height:24px
  position:relative
  z-index:10
.chat_viewer_tab li
  position:relative
  z-index:2
  //left:65px
  top:-2px
  color:#fff
  line-height:20px
  width:60px
  height:20px
  text-align:center
  background:#667656
  border:#74bcb2 solid 1px
  border-bottom:none
  cursor:pointer
  float:left
  margin-right:5px
.chat_viewer_tab li.on
  position:relative
  //left:0
  top:-5px
  height:24px
  line-height:24px
  background:#0c1924
  border:#2a8dca solid 1px
  border-bottom:none
.chat_wiew
  clear:both
  padding:0 5px 5px 5px
  width:293px
  height:220px
  color:#fff
  background:#0c1924
  border:#2a8dca solid 1px
  top:-6px
  position:relative
  z-index:0
  .chat_bottom
    width:293px;
    height:26px;
.chat_wiew p img,.view_box li img
  vertical-align:middle 
  margin-right:3px
  max-height:16px
.view_box li
  width:232px
  height:18px
  background:url($bgUrl+'viewerbg.gif') no-repeat right center
  padding-bottom:2px
  line-height:20px
  vertical-align:middle
  position:relative
  padding-left:32px
  margin:6px 0
.photobg.lights1,.photobg.lights2,.photobg.link,.photobg.lights0
  width:20px
  height:20px
  padding:4px
  background:url($bgUrl+'boxbg.png') no-repeat
  display:block
  position:absolute
  left:0px
  top:-2px
.photobg.lights2
  background:url($bgUrl+'boxbg.png') no-repeat -334px -667px
  padding:4px
.photobg.lights1
  background:url($bgUrl+'boxbg.png') no-repeat -303px -667px
  padding:4px
.photobg.link,.photobg.lights0
  background:url($bgUrl+'boxbg.png') no-repeat -367px -667px
  padding:4px


#chat_window textarea
  margin: 0 auto
  height: 100px
.chat_window
  margin: 0 auto
  padding: 4px
  border: none
  overflow-y: auto
.chat_names
  text-align: right
  color: #ED145B
  word-wrap: break-word
  vertical-align: top
  font-weight: bold
  width: 70px;
.chat_content
  text-align: left
  word-wrap: break-word
  width: 100%
.chat_box
  text-align: left
  word-wrap: break-word
  word-break: break-all
  height:184px
  padding-top:8px
  overflow: hidden
  width: 100%
  line-height:20px
  font-family:"微软雅黑",Arial

.chat_box em
  font-style:normal
  color:#c7c2b6
  margin-right:4px
  font-family:Arial
  font-size:10px
  -webkit-transform:scale(0.84,0.84) 
  *font-size:10px
  display:inline-table
.chat_wiew .uname
  cursor:pointer
.chat_box p.fromNotice
  color:#fff
.chat_box p.noticeRed
  color:#ff4023
.chat_box p.grayText2
  color:#cdc7c3
.chat_text
  position:relative
  z-index:1
.chatText,input.chatText
  border:#1774a4 solid 1px
  border-radius:2px
  height:12px
  line-height:12px
  color:#fff
  display:inline-block
  position:relative
  z-index:1
  padding:5px 2px
  width:206px
  border:#1774a4 solid 1px
  background:transparent
  font-size:12px
  font-family:"微软雅黑"
  font-weight:normal
  margin-left:2px
input.chatText:hover,input.chatText:focus
  background:transparent
  color:#fff
.btn_chat
  display: inline-block
  height: 24px
  width: 48px
  float: left
  margin-left: 0px
  background: #2ec2e5
  text-align: center
  line-height: 24px
  font-size:12px
  font-family:"微软雅黑"
  border-radius:4px
  cursor:pointer
  margin-left:4px
a.btn_chat:hover
  background:#43d1f4
  color:#fff
a.btn_chat:active
  background:#037aa2
  color:#fff
.chat_holder
  display:inline-block
  height:24px
  line-height:24px
  width:202spx
  padding:0 6px
  position:absolute
  z-index:1
  left:0px
  top:0px                                                     
  position:absolute
  z-index:2
  display:inline-block
  color:#808080

.chat_box .sending
  background:url($bgUrl+'sending.gif') no-repeat left center
  background-size: 12px 12px
.chat_box .sent
  background:none;
.emoticon
  display:block
  text-indent:-9999px
  width:26px
  height:26px
  background:url($bgUrl+'emobtn.png') no-repeat -2px -2px
.emoticon:hover,.emoticon.hover
  background:url($bgUrl+'emobtn.png') no-repeat -2px -30px
  //margin-top:2px
#emoticonDropDown 
  position:absolute
  z-index:100
  padding:0
  display:none
  left:0px
  height:160px
  width:256px
.emotionDropDownInner .scrollbar
  top:5px
.emotionDropDownInner .emoticonsArea
  margin:0
  background:#273851
  border:#1774a4 solid 1px
  padding:5px 5px 5px 5px
.emotionsDropDownInner .viewport
  background:#273851
  border:#1774a4 solid 1px
  height:130px
.emotionsDropDownInner .scrollbar
  height:140px

.emoticonsArea .overview a
  display:inline-block
  width:32px
  height:30px
  text-align:center
.emoticonsArea .overview a img
  display: block
  text-align: center
  text-decoration: none
  color: #000
  height:28px
  width:28px
  margin-bottom:1px
  float:left
  padding:1px 2px 
.emoticonsArea .overview a:hover img
  border:#2a8dca solid 1px
  padding:0 1px
.emoticonsArea40 .overview a
  width:38px
  height:41px
.emoticonsArea40 .overview a img
  width:36px
  height:38px
.emoticonsTab a
  display: inline-block
  width: 72px
  height: 18px
  line-height:18px
  text-align: center
  color:#fff
  border:#1774a4 solid 1px
  border-top:none
  float:left
  margin-right:2px
  background:#4f6b90
.emoticonsTab a.hover
  border:#1774a4 solid 1px
  border-top:none
  background:#273851
  margin-top:-1px
  padding-top:1px
  position:relative
  z-index:101


.saySingle
  width:230px
  height:40px
  background:url($bgUrl+'saybg.png') no-repeat
  position:absolute
  z-index:100
.sayToNormal
  background:url($bgUrl+'saybg.png') no-repeat 35px -1px
.sayToGolden
  background:url($bgUrl+'saybg.png') no-repeat 35px -96px
.sayToSilver
  background:url($bgUrl+'saybg.png') no-repeat 35px -49px
.saySingle .sayPhoto
  display:inline-block
  float:left
  width:52px
  height:52px
  position:relative
  z-index:0
.saySingle .sayPhoto img
  width:38px
  position:absolute
  z-index:2
  top:-7px
  left:0px
  height:38px
  padding:7px
  background:url($bgUrl+'photobg.png') no-repeat
.sayToNormal .sayPhoto img
  background:url($bgUrl+'photobg.png') no-repeat 0px -1px
.sayToGolden .sayPhoto img
  background:url($bgUrl+'photobg.png') no-repeat -112px -2px
.sayToSilver .sayPhoto img
  background:url($bgUrl+'photobg.png') no-repeat -56px -2px
.saySingle .sayInfo
  width:100px
  height:40px
  line-height:20px
  display:inline-block
  float:left
  font-size:12px
  margin-left:4px
.saySingle .uname
  display:inline-block
  width:100px
  height:16px
  padding-top:2px
  float:left
  white-space: nowrap
  word-wrap: normal
  overflow: hidden
  text-overflow: ellipsis
.saySingle .sayInfo img
  vertical-align:middle
  max-height:16px
  margin-right:2px
.saySingle .btn_chat
  margin-top:8px
  width:60px

.pop-msg-blue 
  border:#3eacf8 solid 1px
  background:#00485d
  font-size:12px
.pop-msg-blue .ui-dialog-arrow-a,.pop-msg-blue .ui-dialog-arrow-b
  display:block
.pop-msg-blue .ui-dialog-arrow-a
  border-top-color:#3eacf8
.pop-msg-blue .ui-dialog-arrow-b
  border-top-color:#00485d
.pop-msg-blue .ui-dialog-body
  color:#fff
  padding:2px 8px
  line-height:16px

.pop-msg-emos
  border:1px solid #0c1218
  border-radius:2px
  background-color:#0c1924
  font-size:12px
  font-family:"微软雅黑"
  box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
  -webkit-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
  -moz-box-shadow:1px 0px 2px #172a39 inset,0 1px 2px #172a39 inset,0 -1px 2px #172a39 inset,-1px 0 2px #172a39 inset
  .ui-dialog-header
    border:none
  .ui-dialog-title
    background:url($bgUrl + 'tbg_vip.png') no-repeat 45px 2px
    position:relative
    top:-40px
    height:102px
    padding:0px
  .ui-dialog-body
    padding:0px 20px 0px 20px
  .ui-dialog-content
    position:relative
    z-index:300
    top:-63px
  .tip-msg-gril
    position:absolute
    z-index:100
    top:-24px
    left:-61px
  .ui-dialog-footer
    position:relative
  .msg-text 
    padding-top:15px
    padding-left:11px
    padding-right:8px
    line-height:23px
    color:#f9fbb6
    font-size:12px
    font-family:"微软雅黑"
  .ui-dialog-button button
    font-size:12px
    font-family:"微软雅黑"
    background:#2ec1e5
    border:none
    color:#fff
    width:88px
    display:inline-block
    height:25px
    line-height:25px
    padding:0
    margin-left:6px
    margin-right:3px
    -webkit-border-radius:3px
    -moz-border-radius:3px
    border-radius: 3px
  .ui-dialog-button button:hover
    background:#43d1f4
  .ui-dialog-button button:active
    background:#037aa2
  .ui-dialog-button button.ui-dialog-autofocus
    background:#f7aa25
    border:none
  .ui-dialog-button button.ui-dialog-autofocus:hover
    background:#f7d725
  .ui-dialog-button button.ui-dialog-autofocus:active
    background:#ca8017
.pop-msg-emos-angel .ui-dialog-title
  background:url($bgUrl + 'tbg_angel.png') no-repeat 45px 2px
  position:relative
  top:-40px
  height:102px
  padding:0px
.pop-msg-emos
  .ui-dialog-button
    padding-left:60px;
    float:none;

#chat_box_scrollbar.scrollbars
  margin-botton:0
#chat_box_scrollbar .viewport
  height:180px
#chat_box_scrollbar .scrollbar
  top:0px
  right:7px
  height:176px
#chat_box_scrollbar .scrollbar .track
  height:150px

#userListScrollbar .viewport
  height:220px
#userListScrollbar .scrollbar
  top:5px
  right:4px

.emotionDropDownInner .scrollbars .viewport
  height:138px
  width:230px
.emotionDropDownInner .scrollbar
  right:8px

