doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 注册-玩乐云
    link(href= __global.resBase + '/orig/css/base.css', rel='stylesheet', type='text/css')
    link(href= __global.resBase + '/orig/css/sign.css', rel='stylesheet', type='text/css')
    link(src= __global.resBase + '/orig/css/ui-dialog.js', rel='stylesheet', type='text/css')
    script(type='text/javascript', src= __global.resBase + '/orig/js/jquery-1.8.0.min.js')
    script(type='text/javascript', src= __global.resBase + '/orig/js/jquery.validate.js')
    script(src= __global.resBase + '/orig/js/dialog-plus.js')
    script(type='text/javascript', src= __global.resBase + '/orig/js/global.js')
    script(type='text/javascript', src= __global.resBase + '/orig/js/sha1.js')
    script(type='text/javascript', src= __global.resBase + '/orig/js/base64.js')
    script!= 'var __global = ' + JSON.stringify(__global)
    
  body
    header
      .nav
        .inside
          a.nav_f1(href='//www.wanleyun.com/')
            img(src='http://www.wanleyun.com/images/logo_img.png', width='121', height='41')
          .register_text_18px
            a(href='javascript:;') 注册
    .content
      .content_left
      .content_right.fl
        form#registerForm(action='', onsubmit='', method='')
          input#reg_token(type='hidden', name='reg_token', value='')
          dl.login_item.cl
            dt.left.fl 用户名
            dd.right.login_item_wrap.fl
              input#username.sign_input.input_288_38.required(name='username', type='text', autocomplete='off', class="{isUsername:true,maxlengthBytes:16,minlengthBytes:4,messages:{required:'请输入用户名',isUsername:'用户名不能含特殊符号',minlengthBytes:'用户名最少2个汉字或4个字符',maxlengthBytes:'用户名最多8个汉字或16个字符'}}")
              span.signItem_tip 请输入用户名
            dd.sign_error(for='username')
          dl.login_item.cl
            dt.left.fl 密码
            dd.right.login_item_wrap.fl
              input#password.sign_input.input_288_38.required(name='password', type='password', autocomplete='off', placeholder='', class="{minlength:6,maxlength:20,isPassword:true,messages:{required:'请输入密码',minlength:'密码至少要6位',maxlength:'密码最多不能超过20位',isPassword:'密码需要包含大小写字母、数字、符号至少2项',remote:'该用户名已经存在'}}")
              span.signItem_tip 请输入不少于6位密码
            dd.sign_error(for='password')
          dl.login_item.cl
            dt.left.fl 确认密码
            dd.right.login_item_wrap.fl
              input#confirm.sign_input.input_288_38.required(name='confirm', type='password', autocomplete='off', placeholder='', class="{equalTo:'#password',messages:{required:'请再次输入密码',equalTo:'两次密码不一致'}}")
              span.signItem_tip 再次输入密码
            dd.sign_error(for='confirm')
          dl.login_item.cl
            dt.left.fl 验证码
            dd.right.login_item_wrap.fl
              input#verify_code.sign_input.input_confrom.required(name='verify_code', type='text', autocomplete='off', class="{messages:{required:'请输入验证码'}}")
              span.signItem_tip(style='width: 100px;') 验证码
              span
                a(href='#')
                  img#verify_img(src='http://account.mm.wanleyun.cn/verifycode', width='110', height='38', hspace='10', vspace='0', border='0')
                a#refresh_verify_img(href='javascript:void(0)') 点击刷新
            dd.sign_error(for='verify_code')
          .remember
            a.login(href='http://www.wanleyun.com/user_agreement.html', target='_blank') 《玩乐云用户使用协议》
          .line.cl
            input.reg_bt(type='submit', value='同意并注册')
            .remember
              span
                | 已有账号？
                a(href='/login')  直接登录
          script.
            window.ssoLoginCallback = function(data) {
              data = JSON.parse(utf8to16(decode64(data)));
              var originData = data;
              var code = data.code;
              if (code == 3) {
                var nameHandle = {
                  nameDialog: null,
                  closeNameDialog: function() {
                    if (this.nameDialog) {
                      this.nameDialog.close().remove();
                    }
                  },
                  init: function() {
                    var namestr = '<div class="nameHandle"><div class="nameHandleInner clearfix"><form action="" onsubmit="" method="" id="nameHandle">' + '<h3>好名字总是被重复，换一个名字让我们重新认识下</h3>' + '<div class="photo"><img src="' + resUrl + 'orig/images/photo.png" width="60" height="60"/></div>' + '<ul class="nameInfo"><li class="nameArea"><input class="nameInput" name="username" id="username_handle" autocomplete="off"/></li><li class="nameSubmit">'
                      //+'<a href="javascript:void(0);" class="submit">'
                      + '<input type="submit" class="nameHandleSubmit" value="修改" />'
                      //+'</a>'
                      + '</li></ul>' + '</form></div></div>'
                    var d = dialog({
                      id: 'popup-nameHanle',
                      title: '完善资料',
                      content: namestr,
                      width: 500,
                      skin: 'popup-nameHandle'
                    });
                    d.show();
                    nameHandle.nameDialog = d;
                    nameHandle.initValidate();
                  },
                  initValidate: function() {
                    $('#nameHandle').validate({
                      rules: {
                        username: {
                          required: true,
                          isUsername: true,
                          maxlengthBytes: 16,
                          minlengthBytes: 4,
                          remote: {
                            url: apiUrl + "user/CheckUserName", //后台处理程序,只能返回true或false
                            data: {
                              username: function() {
                                return $("#username_handle").val()
                              }
                            },
                            type: "GET", //数据发送方式
                            dataType: "jsonp" //接受数据格式
                          }
                        }
                      },
                      messages: {
                        username: {
                          required: '请输入昵称',
                          isUsername: '昵称不能含特殊符号',
                          minlengthBytes: '昵称最少2个汉字或4个字符',
                          maxlengthBytes: '昵称最多8个汉字或16个字符',
                          remote: '昵称已经被使用了'
                        }
                      },
                      singleLabel: true,
                      submitHandler: function(form) {
                        $('#nameHandle :submit').attr('disabled', 'disabled');
                        nameHandle.doSaveName(originData);
                      }
                    });
                  },
                  doSaveName: function(data) {
                    $.ajax({
                      url: apiUrl + 'user/SetNickname',
                      data: {
                        nickname: $.trim($('#username_handle').val())
                      },
                      dataType: "jsonp",
                      jsonp: "jsonpCallback",
                      success: function(data) {
                        $('#nameHandle :submit').removeAttr('disabled');
                        var code = data.code;
                        if (code == 1) {
                          nameHandle.closeNameDialog();
                          location.href= 'http://' + __global.base.mm + '/square';
                          //- userInfo.fetch();
                        }
                      },
                      error: function() {
                        $('#nameHandle :submit').removeAttr('disabled');
                        $('#username_handle').addClass('error');
                        $('#username_handle-error').html('服务器打瞌睡了，请稍后重试').show();
                      }
                    });
                  }
                };
                nameHandle.init();
                var data = data.data;
                $('#username_handle').addClass('error').after('<label id="username_handle-error" class="error" for="username_handle">昵称已经被使用了</label>')
                $('#username_handle').val(data.usrnick);
                $('.nameHandleInner .photo img').attr('src', data.avatar);
                return false;
              } else if (code == 0) {
                alert(data.msg);
              } else {
                location.href= 'http://' + __global.base.mm + '/square';
              }
              //- self.signDialog.close().remove();
              //- userInfo.fetch();
            }
          .otherMethods.cl
            p(style='line-height:22px;')
              span(color='#7f7f7f') 使用合作网站账号一键登录
            a.oMsgBtn.wx(href="javascript:window.open('http://account.wanleyun.com/weixinauth/login');", style='margin-right:10px;')
              i
              em 微信登录
            a.oMsgBtn.qq(href="javascript:window.open('http://account.wanleyun.com/qqauth/login');", style='margin-right:10px;')
              i
              em QQ登录
            a.oMsgBtn.wb(href="javascript:window.open('http://account.wanleyun.com/weiboauth/login');")
              i
              em 微博登录
    footer
    script.
      function getRegToken() {
        $.ajax({
          type: "GET",
          url: "http://account.wanleyun.cn/user/GetRegToken",
          data: {},
          dataType: "jsonp",
          jsonp: "jsonpCallback",
          success: function(data) {
            if (data.code === 1) {
              data = data.data;
              $("#verify_img").attr("src", "http://api.mm.wanleyun.cn/verifycode/index/token/" + data.reg_token + "/v/" + (new Date()).getTime());
              $("#reg_token").val(data.reg_token);
            }
          }
        });
      }

      function createUser() {
          $.ajax({
            type: "GET",
            url: "http://account.wanleyun.cn/user/UserRegister",
            // xhrFields: {
            //   withCredentials: true
            // },
            data: {
              username: $("#username").val(),
              password: hex_sha1($("#password").val()),
              reg_token: $("#reg_token").val(),
              verify_code: $("#verify_code").val()
            },
            dataType: "jsonp",
            jsonp: "jsonpCallback",
            success: function(data) {
              //alert(data.error_code);
              if (data.code === 1) {
                location.href = 'http://' + __global.base.mm + '/square'
              } else {
                showServerMsg(data);
              }
            }
          });
        }
        //显示服务器错误信息
      function showServerMsg(data) {
        var msg = [];
        msg[5001004] = "验证码不正确";
        msg[5001003] = "用户名重复";
        msg[5001001] = "用户名昵称含敏感词";
        var item, errStr = '',
          tdiv = $('.login_item .sign_error:last');
        item = tdiv.attr('for');
        if (data.code !== 1) {
          if (data.code == 5001003 || data.code == 5001001) { //用户名错误
            item = 'username';
            tdiv = $('.login_item .sign_error[username]');
            $('input[name=' + item + ']').addClass('error').val('').focus();
          }
          errStr = '<label for="' + item + '" generated="true" class="error">' + msg[data.code] + '</label>';
          tdiv.html(errStr);
        } else {
          errStr = '<label for="' + item + '" generated="true" class="error">未知错误，请稍后重试</label>';
          tdiv.html(errStr);
        }
      }
      $(function() {

        getRegToken();
        $('#refresh_verify_img,#verify_img').click(function() {
          getRegToken();
        });
        $('.login_item_wrap .signItem_tip').click(function() {
          $(this).hide().parent().find('.sign_input').focus();
        });
        $('.login_item_wrap .sign_input').blur(function() {
          var tip = $(this).parent().find('.signItem_tip');
          if ($.trim($(this).val()) == '') {
            tip.show();
          };
        }).focus(function() {
          $(this).parent().find('.signItem_tip').hide();
        }).each(function() {
          var tip = $(this).parent().find('.signItem_tip');
          if ($.trim($(this).val()) != '') {
            tip.hide();
          };
        });
        $('#registerForm').validate({
          singleLabel: true,
          //debug : true,
          rules: {
            username: {
              remote: {
                url: "http://api.mm.wanleyun.cn/user/CheckUserName", //后台处理程序,只能返回true或false
                data: {
                  username: function() {
                    return $("#username").val()
                  }
                },
                type: "GET", //数据发送方式
                dataType: "jsonp" //接受数据格式
              }
            }
          },
          messages: {
            username: {
              remote: '用户名重复'
            }
          },
          errorPlacement: function(error, element) {
            error.appendTo($('.sign_error[for=' + $(element).attr('name') + ']'));
          },
          submitHandler: function(form) {
            $('#registerForm :submit').attr('disabled', 'disabled');
            createUser();
          }
        });
        /*
        setTimeout(function(){
            var tips = $('.login_item_wrap .sign_error');
            $.each(function(){
                var tfor = $(this).attr('for');
                var tinp = $('.sign_input[name='+tfor+']');
                if($.trim(tinp.val()) != ''){
                    $(this).hide();
                }
             });
        },600);
        */
      });

      function callback(res) {
        location.href = 'http://www.wanleyun.cn'
      }
          