.goddess_notice_box
	.goddess_notice
		position: absolute;
		left: 27px;
		top: 5px;

	.goddess_room_con
		width: 256px;
		height: 328px;
		padding: 28px 0 0 11px;

	.goddess_notice_list
		width: 296px;
		height: 215px;
		padding: 5px 0 0 5px;
		color: #fff;

	.goddess_notice_list li
		width: 276px;
		float: left;
		margin: 2px 0;

	.goddess_single em
		width: 30px;

	.notice_conshow
		width: 240px;

	.notice_word span
		color: #ffa0c4;
		margin: 0 2px;

	.goddess_notice_con
		width: 296px;
		height: 215px;
		padding: 30px 15px 15px;
		background: url($bgUrl + "player3/square_boxbg.png") no-repeat scroll -336px -567px;
		.sqchat_box
			text-align: left;
			word-wrap: break-word;
			word-break: break-all;
			height:205px;
			padding: 4px;
			overflow: hidden;
			margin;0 auto;
			border:none;
			width: 100%;
			line-height: 20px;
			font-family: "微软雅黑",Arial;
			#sqchat_box_scrollbar 
				.scrollbar
					top: 0;
					right: 7px;
					height: 200px;
					.track
						height:180px;
				.viewport
					height: 205px;
				.scrollbars
					margin-botton:0;


	.goddess_notice_scroll
		height: 215px;
		overflow-y: scroll;
		overflow-x: hidden;
	#squserListScrollbar 
		.viewport
			height:220px;
	#squserListScrollbar 
		.scrollbar
			top:5px;
			right:4px;