li
	em.fl 18:42
		| &#x9;&#x9;
	.fl.notice_conshow
		span.yellow &#x4E3B;&#x6301;&#x4EBA;&#xFF1A;
		| &#x5C0F;&#x6E38;&#x620F;&#x5154;&#x5B50;&#x8DD1;&#x554A;&#x8DD1;&#x6BD4;&#x8D5B;&#x7ED3;&#x675F;,&#x83B7;&#x5F97;&#x524D;&#x4E09;
		| &#x9;&#x9;     &#x540D;&#x7684;&#x9009;&#x624B;&#x662F;&#xFF1A;
		span.notice_word
			span.crown_yellow &#x5218;&#x9759;
			span.crown_orange &#x738B;&#x68EE;
			span.crown_gray &#x9AD8;&#x73AE;
