.bed_style.cl.homef_tab_body.homef_style1
  .cl.send_goodbtn.mt_2
    .fr
      //- span.get_drill.fl
      //-   - var imgSrc = window.resUrl + 'images/player3/blue_drill.png'
      //-   if bidtype == '1'
      //-     - imgSrc = window.resUrl + 'images/prop_icon/yellow_goldimg.png'
      //-   img(src=imgSrc,width="20")
      //-   | 10
      a.w90.btn_4y.fl.raise_homefurn(href='javascript:;',data-baidu,data-baidu-category="homefurn",data-baidu-action="click_better") 送她更好的
  p.gift_leftbtn.fl.prev
  .fl.homef_show_con.viewport
    .overview
      ul.cl.homef_show_list.mt_10
    .progress_bar_panel
  p.gift_rightbtn.fr.lock_img.next
