.homefurn
  display:block
  .bed_style
    width:415px
    height:150px
    ul
      li
        p
          width:70px
          overflow:hidden
          -o-text-overflow: ellipsis
          text-overflow: ellipsis
          white-space: nowrap
          margin:0 auto
          text-align:center
    .homef_showF
      width: 392px
      position: relative
      height: 115px
    .pross_pointer
      margin:2px auto 2px
    .homef_show_list
      padding-left:2px
      width:100000px
      overflow:hidden
      height:87px
      position:relative
      li
        img
          margin-bottom:2px
        &:hover
          img
            margin:-4px auto -2px
      .progress_bg
        width:60px
        height:5px
        background-color:#082331
        line-height:5px
        border-radius:2px
        margin:-4px auto 0
        position:relative
        z-index:1
    .send_goodbtn
      width:415px
      height:20px