.homefurn
  display:block
  .homef_con
    width:470px;
  .bed_style,.homef_style2
    //width:415px
    width:468px
    height:125px
    position:relative
    background-color: #0c1924;
    border:1px solid #1774a4;
    padding-top:25px;
    .viewport
      width:430px
      height:125px
      overflow:hidden
      position:absolute;
      left:18px;
    ul
      li
        width:76px;
        p
          width:76px
          overflow:hidden
          -o-text-overflow: ellipsis
          text-overflow: ellipsis
          white-space: nowrap
          margin:0 auto
          text-align:center
    .homef_showF
      width: 392px
      position: relative
      height: 115px
    .pross_pointer
      margin:2px auto 2px
    .homef_show_list
      padding-left:2px
      width:100000px
      overflow:hidden
      height:87px
      position:relative
      li
        img
          margin-bottom:2px
        &:hover
          img
            margin:-4px auto -2px
      .progress_bg
        width:60px
        height:5px
        background-color:#082331
        line-height:5px
        border-radius:2px
        margin:-4px auto 0
        position:relative
        z-index:1
    .send_goodbtn
      width:415px
      height:20px
    .left_btn.prev,.gift_leftbtn.prev,.left_btn.disable,.gift_leftbtn.disable
      position:absolute;
      left:8px;
      top:40px;
    .right_btn.next,.gift_rightbtn.next,.right_btn.disable,.gift_rightbtn.disable
      position:absolute;
      right:8px;
      top:40px;