.send_homefurnbox.game_listbox_homefurn
	.homef_con.cl
		ul.fl.homef_con_tab
			li.on(data-homef-tab='1', data-template='homefurnStyle1')
				| 床品
			li.mt_2(data-homef-tab='4', data-template='homefurnStyle2')
				| 猎奇
		.fl.homef_con_right.pr
div.itemdetail(data-module="itemdetail",data-module-itemdetail="homefurn")
div(data-module="raise",data-module-raise="homefurn")
div(data-module="numtip",data-module-numtip="homefurn")