- var points = [28,80,80,80,80,80];
- var barWidth = 0;
- var isFull = true;
for progress,index in progresses
  if progress > 0
    - progress = Math.min(progress,1)
    - barWidth += (points[index] || 80) * progress
  if progress < 1
    - isFull = false
    // 兼容有那种后面没有解锁，但是却有集资进度的物品
    - break;
if isFull === false
  .Progress_barsmall
    .arrow.pr
      .Progress_smaillbar_img(style='width:' + barWidth + 'px')
        .arrow_smaillpointer
          span.arrow_number.yellow
        .arrow_rightpointer
else
  .Progress_barsmall_full